<template>
    <div class="box box-danger">
        <div class="box-header">
            <h3>Novo Imóvel</h3>
        </div>

        <div class="box_content">
            <div class="container-fluid">
                <form method="post" @submit.prevent="createImovel" class="form-horizontal" enctype="multipart/form-data">
                    <div class="action-panel" id="actions">
                        <a href="javascript:;" class="action-collapse-btn" id="action"><i class="fa fa-cog"></i></a>
                        <div class="action-content">
                            <h5>Ações</h5>
                            <div>
                                <ul class="action-list">
                                    <li><button type="submit" id="gravar" class="btn btn-link"><i class="fa fa-check-circle"></i> Salvar</button></li>
                                    <li>
                                        <a href="#" class="hide-tab btn btn-link" id="fechar" @click="closeWindow()"><i class="fa fa-times-circle"></i> Fechar</a>
                                    </li>
                                </ul>
                            </div>

                        </div>

                    </div>

                    <div class="box box-danger">
                        <div class="box-header">
                            <h4><b>Informações Básicas</b></h4>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="form-group">
                                    <label class="control-label col-md-1" for="codigo">Código:</label>
                                    <div class="col-md-2">
                                        <input class="form-control input-sm" v-model="newimovel.CODIGO"
                                               type="text" name="CODIGO">
                                    </div>

                                    <!--Gravar no campo TIPO DA TABELA-->
                                    <label class="control-label col-md-1" for="tipo">Tipo:</label>
                                    <div class="col-md-2">
                                        <select v-model="newimovel.TIPO" name="SUBTIPO"
                                                class="form-control input-sm">
                                            <option value="">SELECIONE</option>
                                            <option v-for="categoria in categorias"
                                                    :value="categoria.TIPO">
                                                {{ categoria.TIPO }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <label for="ativo" class="control-label col-md-1">Situação:</label>
                                    <div class="col-md-2">
                                        <select v-model="newimovel.INATIVO" name="INATIVO"
                                                class="form-control input-sm">
                                            <option value="sim">Ativo</option>
                                            <option value="não">Inativo</option>
                                        </select>
                                    </div>

                                    <label class="control-label col-md-1" for="tipo">Subtipo:</label>
                                    <div class="col-md-2">
                                        <select v-model="newimovel.IMOVEL_SUBTIPO_ID" name="SUBTIPO"
                                                class="form-control input-sm">
                                            <option value="">SELECIONE</option>
                                            <option v-for="categoria in categorias"
                                                    :value="categoria.ID">
                                                {{ categoria.SUBTIPO }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <label for="ativo" class="control-label col-md-1">Status:</label>
                                    <div class="col-md-2">
                                        <select v-model="newimovel.STATUS" name="STATUS"
                                                class="form-control input-sm">
                                            <option value="Alugado">Alugado</option>
                                            <option value="Disponível">Disponível</option>
                                        </select>
                                    </div>

                                    <label for="tipogarantia" class="control-label col-md-1">Tipo de Garantia:</label>
                                    <div class="col-md-2">
                                        <select name="TIPOGARANTIA"
                                                class="form-control input-sm"
                                                v-model="newimovel.TIPOGARANTIA">
                                            <option value="">SELECIONE</option>
                                            <option value="Fiador">Fiador</option>
                                            <option value="Caução">Caução</option>
                                            <option value="Seguro Fiança">Seguro Fiança</option>
                                            <option value="Aluguel">Aluguel</option>
                                            <option value="Nenhum">Nenhum</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Fim informações básicas-->

                    <!--Locação e Venda-->
                    <div class="box box-danger">
                        <div class="box-header">
                            <h4><b>Locação e Venda</b></h4>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="form-group">
                                    <label for="locacao" class="control-label col-md-1">Locação:</label>
                                    <div class="col-md-2">
                                        <select name="LOCACAO" class="form-control input-sm"
                                                v-model="newimovel.LOCACAO">
                                            <option value="">SELECIONE</option>
                                            <option value="Sim">Sim</option>
                                            <option value="Não">Não</option>
                                        </select>
                                    </div>

                                    <label for="locacao" class="control-label col-md-1">Venda:</label>
                                    <div class="col-md-2">
                                        <select name="VENDA" class="form-control input-sm"
                                                v-model="newimovel.VENDA">
                                            <option value="">SELECIONE</option>
                                            <option value="Sim">Sim</option>
                                            <option value="Não">Não</option>
                                        </select>
                                    </div>

                                    <label for="iptu"
                                           class="control-label col-md-1">IPTU:</label>
                                    <div class="col-md-2">
                                        <money v-model="newimovel.VALORIPTU" v-bind="money" class="form-control input-sm"></money>

                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <label for="valorlocacao" class="control-label col-md-1">R$</label>
                                    <div class="col-md-2">
                                        <money v-model="newimovel.VALORLOCACAO" v-bind="money" class="form-control input-sm"></money>

                                    </div>

                                    <label for="valorvenda" class="control-label col-md-1">R$</label>
                                    <div class="col-md-2">
                                        <money v-model="newimovel.VALORVENDA" v-bind="money" class="form-control input-sm"></money>

                                    </div>

                                    <label for="condominio" class="col-md-1 control-label">Condominio R$</label>
                                    <div class="col-md-2">
                                        <input v-model="newimovel.VALORCONDOMINIO" type="text"
                                               class="form-control input-sm" name="VALORCONDOMINIO"/>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <label for="honorariosvenda" class="control-label col-md-1">Honorários %</label>
                                    <div class="col-md-2">
                                        <input type="text"
                                               class="form-control input-sm"
                                               name="HONORARIOSLOCACAO"
                                               v-model="newimovel.HONORARIOSLOCACAO">
                                    </div>

                                    <label for="honorariosvenda" class="control-label col-md-1">Honorários %</label>
                                    <div class="col-md-2">
                                        <input type="text"
                                               class="form-control input-sm"
                                               name="HONORARIOSVENDA"
                                               v-model="newimovel.HONORARIOSVENDA">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <label for="exclusividade" class="control-label col-md-1">Exclusividade:</label>
                                    <div class="col-md-2">
                                        <select v-model="newimovel.EXCLUSIVIDADE" name="EXCLUSIVIDADE"
                                                class="form-control input-sm">
                                            <option value="Sim">Sim</option>
                                            <option value="Não">não</option>
                                        </select>
                                    </div>

                                    <label for="datafinalcontrato" class="control-label col-md-1">Exclusivo até:</label>
                                    <div class="col-md-2">
                                        <input v-model="newimovel.DATAFINALCONTRATO" type="date"
                                               name="DATAFINALCONTRATO" class="form-control input-sm">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <label for="divulgarvalor" class="control-label col-md-1">Publicar:</label>
                                    <div class="col-md-2">
                                        <select v-model="newimovel.SITEDIVULGAR" name="SITEDIVULGAR"
                                                class="form-control input-sm">
                                            <option value="Sim">Sim</option>
                                            <option value="Não">Não</option>
                                        </select>
                                    </div>

                                    <label for="divulgarvalor" class="control-label col-md-1">Publicar Valor:</label>
                                    <div class="col-sm-1 col-md-1">
                                        <select v-model="newimovel.DIVULGARVALOR" name="DIVULGARVALOR"
                                                class="form-control input-sm">
                                            <option value="Sim">Sim</option>
                                            <option value="Não">Não</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Fim Locação e Venda-->

                    <!--Localização-->
                    <div class="box box-danger">
                        <div class="box-header">
                            <h4><b>Localização</b></h4>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="form-group">
                                    <label class="control-label col-md-1" for="codigo">CEP:</label>
                                    <div class="col-md-2">
                                        <input type="text" id="cep" v-model="newimovel.CEP" name="CEP"
                                               class="form-control input-sm" placeholder="00000-000">
                                    </div>

                                    <label class="control-label col-md-1" for="uf">UF:</label>
                                    <div class="col-md-2">
                                        <input type="text" v-model="newimovel.UF" class="form-control input-sm">
                                    </div>

                                    <label class="control-label col-md-1" for="cidade">Cidade:</label>
                                    <div class="col-md-2">
                                        <input v-validate="'required|alpha'" v-model="newimovel.CIDADE" type="text" name="CIDADE"
                                               class="form-control input-sm">
                                        <span v-show="errors.has('CIDADE')" class="text-danger">
                                                            {{ errors.first('CIDADE') }}
                                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <label class="control-label col-md-1" for="logradouro">Logradouro:</label>
                                    <div class="col-md-2">
                                        <input v-validate="'required'" type="text" v-model="newimovel.TIPOENDERECO"
                                               class="form-control input-sm" name="TIPOENDERECO">
                                        <span v-show="errors.has('TIPOENDERECO')" class="text-danger">
                                                            {{ errors.first('TIPOENDERECO') }}
                                                        </span>
                                    </div>

                                    <label class="control-label col-md-1" for="nomerua">Nome:</label>
                                    <div class="col-md-4">
                                        <input v-validate="'required'" type="text" v-model="newimovel.ENDERECO"
                                               class="form-control input-sm" name="ENDERECO"
                                               placeholder="Nome da Rua">
                                        <span v-show="errors.has('ENDERECO')" class="text-danger">
                                                            {{ errors.first('ENDERECO') }}
                                                </span>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <label class="control-label col-md-1" for="codigo">Nº:</label>
                                    <div class="col-md-2">
                                        <input type="text" v-model="newimovel.NUMERO"
                                               class="form-control input-sm" name="NUMERO" placeholder="Numero">
                                    </div>

                                    <label class="control-label col-md-1" for="codigo">Bairro:</label>
                                    <div class="col-md-4">
                                        <input v-validate="'required'" type="text" v-model="newimovel.BAIRRO" name="BAIRRO"
                                               class="form-control input-sm">
                                        <span v-show="errors.has('BAIRRO')" class="text-danger">
                                                            {{ errors.first('BAIRRO') }}
                                                        </span>
                                    </div>
                                    <div class="col-md-2">
                                        <!--<button class="btn btn-block btn-primary" id="localizar">Localizar Endereço</button>-->
                                    </div>
                                </div>
                            </div>

                            <div v-show="newimovel.TIPO === 'Apartamento' || newimovel.TIPO === 'prédio'">
                                <div class="row">
                                    <div class="form-group">
                                        <label class="control-label col-md-1"
                                               for="codigo">Apartamento:</label>
                                        <div class="col-md-2">
                                            <input type="text" v-model="newimovel.COMPLEMENTOAPTO"
                                                   name="COMPLEMETOAPTO" class="form-control input-sm">
                                        </div>

                                        <label class="control-label col-md-1" for="codigo">Andar:</label>
                                        <div class="col-md-2">
                                            <input type="text" v-model="newimovel.COMPLEMENTOANDAR"
                                                   name="COMPLEMENTOANDAR" class="form-control input-sm">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div v-show="newimovel.IMOVEL_SUBTIPO_ID === 7 || newimovel.IMOVEL_SUBTIPO_ID === 9">
                                <div class="row">
                                    <div class="form-group">
                                        <label class="control-label col-md-1" for="empreendimento">Empreendimento:</label>
                                        <div class="col-md-10">
                                            <select v-model="newimovel.EMPREENDIMENTO_ID"
                                                    aria-labelledby="codigo" name="EMPREENDIMENTO_ID"
                                                    class="form-control input-sm">
                                                <option selected value="0">Selecione o Empreendimento</option>
                                                <option v-for="enterprise in enterprises" :value="enterprise.ID">
                                                    {{ enterprise.NOME }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <label class="control-label col-md-1"
                                           for="complemento">Complemento:</label>
                                    <div class="col-md-10">
                                        <input type="text" v-model="newimovel.COMPLEMENTO"
                                               name="COMPLEMENTO" class="form-control input-sm">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <label class="control-label col-md-1"
                                           for="referencia">Referência:</label>
                                    <div class="col-md-10">
                                        <input type="text" v-model="newimovel.REFERENCIA"
                                               name="COMPLEMENTO" class="form-control input-sm">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box box-danger">
                        <div class="box-header">
                            <h4><b>Mapa</b></h4>
                            <div class="box-tools pull-right">
                                <button class="btn btn-block btn-default" id="localizar"><i class="fa fa-search"></i> Localizar Endereço</button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="col-md-12" id="map-canvas">
                                <div id="map"></div>
                            </div>
                        </div>
                    </div>
                    <!--Fim Localização-->

                    <!--Fotos-->
                    <div class="box box-danger">
                        <div class="box-header">
                            <h4><b>Fotos</b></h4>
                            <div class="box-tools pull-right">
                                <a href="#" @click.prevent="addFile" class="btn btn-default"><i class="fa fa-plus"></i> Adicionar</a>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="form-group">
                                    <table class="table table-responsive">
                                        <thead>
                                        <tr>
                                            <th>Foto</th>
                                            <th>Descrição</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="(row, index) in newimovel.imageDescription">
                                            <td>
                                                <vue-clip :id="'upload-'+index"
                                                          :on-init="init"
                                                          :on-sending="sendDescription"
                                                          :options="options">
                                                    <template slot="clip-uploader-action" slot-scope="props">
                                                        <div class="upload">
                                                            <div class="dz-message">Selecione o arquivo a ser enviado</div>
                                                        </div>
                                                    </template>

                                                    <template slot="clip-uploader-body" scope="props">
                                                        <div class="preview-image" v-for="file in props.files">
                                                            <img :src="file.dataUrl">
                                                            {{ file.name }} - <i class="fa fa-success text-success"></i>
                                                        </div>
                                                    </template>
                                                </vue-clip>
                                            </td>
                                            <td>
                                                <textarea type="text" name="description" v-model="row.description" rows="7" class="form-control input-sm" ></textarea>
                                            </td>
                                            <td>
                                                <a href="#" @click.prevent="removeFile(row)" class="btn btn-danger"><i class="fa fa-minus"></i> Remover</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Fim Fotos-->

                    <!--Proprietários-->
                    <div class="box box-danger">
                        <div class="box-header">
                            <h4><b>Proprietário</b></h4>
                            <div class="box-tools pull-right">
                                <a href="#" @click.prevent="addRow" class="btn btn-default">+ Adicionar</a>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="form-group">
                                    <table class="table table-responsive">
                                        <thead>
                                        <tr class="form-th">
                                            <th>Nome</th>
                                            <th>Participação %</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="row in newimovel.rows">
                                            <td class="col-sm-3">
                                                <select name="PROPRIETARIO_ID" v-model="row.PROPRIETARIO_ID" class="form-control input-sm">
                                                    <option value="">SELECIONE</option>
                                                    <option v-for="proprietario in proprietarios" :value="proprietario.ID">{{proprietario.NOMERAZAO}}</option>
                                                </select>
                                            </td>
                                            <td class="col-sm-3">
                                                <input type="text" class="form-control input-sm" v-model="row.PORCENTAGEM">
                                            </td>
                                            <td>
                                                <a href="#" class="btn btn-sm btn-info">Ver</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Fim Proprietarios-->

                    <!--Caracteristicas-->
                    <div class="box box-danger">
                        <div class="box-header">
                            <h4><b>Características Básicas</b></h4>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="form-group">
                                    <label class="control-label col-md-1"
                                           for="dormitorios">Quarto:</label>
                                    <div class="col-md-2">
                                        <input v-model="newimovel.DORMITORIO" class="form-control input-sm"
                                               type="text" name="DORMITORIOS">
                                    </div>

                                    <label class="control-label col-md-1" for="suites">Suites:</label>
                                    <div class="col-md-2">
                                        <input v-model="newimovel.SUITE" class="form-control input-sm"
                                               type="text" name="SUITE">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <label class="control-label col-md-1"
                                           for="banehiros">Banheiros:</label>
                                    <div class="col-md-2">
                                        <input v-model="newimovel.BANHEIRO" class="form-control input-sm"
                                               type="text" name="BANHEIRO">
                                    </div>

                                    <label class="control-label col-md-1"
                                           for="suites">Garagem:</label>
                                    <div class="col-md-2">
                                        <input v-model="newimovel.VAGA" class="form-control input-sm" type="text"
                                               name="VAGA">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box box-danger">
                        <div class="box-header">
                            <h4><b>Caraterísticas Adicionais</b></h4>
                            <div class="box-tools pull-right">
                                <a href="#" @click.prevent="addCaracteristica" class="btn btn-success">+ Adicionar</a>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div  class="form-group">
                                        <table class="table table-responsive">
                                            <thead>
                                            <tr class="form-th">
                                                <th>Item</th>
                                                <th></th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr v-for="row in newimovel.CARACTERISTICAS">
                                                <td class="col-sm-3">
                                                    <select name="CARACTERISTICA_OPCAO_ID" v-model="row.CARACTERISTICA_OPCAO_ID" class="form-control input-sm">
                                                        <option value="">SELECIONE</option>
                                                        <option v-for="caracteristica in caracteristicas" :value="caracteristica.ID">{{caracteristica.NOME}}</option>
                                                    </select>
                                                </td>
                                                <td class="col-sm-3">
                                                    <input type="text" class="form-control input-sm" v-model="row.QUANTIDADE">
                                                </td>
                                                <td>
                                                    <a href="#" @click.prevent="removeCaracteristica(row)" class="btn btn-sm btn-danger">Excluir</a>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Fim Caracteristicas-->

                    <!--Informações complementares-->
                    <div class="box box-danger">
                        <div class="box-header">
                            <h4><b>Informações Complementares</b></h4>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="form-group">
                                    <p class="col-md-1 form-label checkbox">
                                        <input type="checkbox" name="AGUASEPARADA" v-model="newimovel.AGUASEPARADA">
                                        Agua Separada
                                    </p>
                                    <p class="col-md-1 form-label checkbox">
                                        <input type="checkbox" name="ENERGIASEPARADA" v-model="newimovel.ENERGIASEPARADA">
                                        Energia Separada
                                    </p>
                                    <p for="" class="col-md-1 form-label checkbox">
                                        <input type="checkbox" name="CERCAELETRICA" v-model="newimovel.CERCAELETRICA">
                                        Cerca elétrica
                                    </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <p class="col-md-1 form-label checkbox">
                                        <input type="checkbox"
                                               name="ENTRADAINDEPENDENTE"
                                               v-model="newimovel.ENTRADAINDEPENDENTE">
                                        Entrada Independente
                                    </p>
                                    <p class="col-md-1 form-label checkbox">
                                        <input type="checkbox"
                                               name="CAMERASEGURANCA"
                                               v-model="newimovel.CAMERASEGURANCA">
                                        Câmera de Segurança
                                    </p>
                                    <p class="col-md-1 form-label checkbox">
                                        <input type="checkbox"
                                               name="CONDOMINIOFECHADO"
                                               v-model="newimovel.CONDOMINIOFECHADO">
                                        Condomínio Fechado
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Fim Informações complementares-->

                    <!--Documentação-->
                    <div class="box box-danger">
                        <div class="box-header">
                            <h4><b>Documentação</b></h4>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="form-group">
                                    <label for="" class="control-label col-md-1">Medidor de Agua:</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control input-sm"
                                               name="REOLOGIOAGUA"
                                               placeholder="N°"
                                               v-model="newimovel.RELOGIOAGUA">
                                    </div>

                                    <label for="" class="control-label col-md-1">Cód. Cliente:</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control input-sm" name="CODCLIENTEAGUA"
                                               v-model="newimovel.CODCLIENTEAGUA">
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <label for="" class="control-label col-md-1">Medidor de Luz:</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control input-sm"
                                               name="RELOGIOLUZ"
                                               placeholder="N°"
                                               v-model="newimovel.RELOGIOLUZ">
                                    </div>

                                    <label for="" class="control-label col-md-1">Cód. Cliente:</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control input-sm" name="CODCLIENTELUZ"
                                               v-model="newimovel.CODCLIENTELUZ">
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <label for="" class="control-label col-md-1">Medidor de Gás:</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control input-sm"
                                               name="RELOGIOGAS"
                                               placeholder="N°"
                                               v-model="newimovel.RELOGIOGAS">
                                    </div>

                                    <label for="" class="control-label col-md-1">Cód. Cliente</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control input-sm" name="CODCLIENTEGAS"
                                               v-model="newimovel.CODCLIENTEGAS">
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <label for="" class="control-label col-md-1">IPTU:</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control input-sm" name="IPTU"
                                               v-model="newimovel.IPTU">
                                    </div>

                                    <label for="" class="control-label col-md-1">Cód. Cliente:</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control input-sm" name="CODCLIENTEIPTU"
                                               v-model="newimovel.CODCLIENTEIPTU">
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <label for="" class="control-label col-md-1">N° de Chaves:</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control input-sm"
                                               name="CHAVESQUADRO"
                                               placeholder="Quantidade"
                                               v-model="newimovel.CHAVESQUADRO">
                                    </div>

                                    <label for="" class="control-label col-md-1">N° de Controles:</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control input-sm"
                                               name="QUANTIDADECONTROLES"
                                               placeholder="Quantidade"
                                               v-model="newimovel.QUANTIDADECONTROLES">
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <label for="" class="control-label col-md-1">N° de Matricula:</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control input-sm" name="MATRICULA"
                                               v-model="newimovel.MATRICULA">
                                    </div>

                                    <label for="" class="control-label col-md-1">N° do cartório:</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control input-sm" name="CARTORIO"
                                               v-model="newimovel.CARTORIO">
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <label for="" class="control-label col-md-1">N° de Registro:</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control input-sm" name="CARTORIOREGISTRO"
                                               v-model="newimovel.CARTORIOREGISTRO">
                                    </div>

                                    <label for="" class="control-label col-md-1">Data do Registro:</label>
                                    <div class="col-md-2">
                                        <input type="date" class="form-control input-sm" name="CARTORIODATAREGISTRO"
                                               v-model="newimovel.CARTORIODATAREGISTRO">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Fim Documentação-->

                    <!--Area do Imóvel-->
                    <div class="box box-danger">
                        <div class="box-header">
                            <h4><b>Área do Imóvel</b></h4>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="form-group">
                                    <label for="" class="control-label col-md-1">Construida:</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control input-sm"
                                               name="CONSTRUIDA"
                                               v-model="newimovel.CONSTRUIDA">
                                    </div>

                                    <label for="" class="control-label col-md-1">Total:</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control input-sm"
                                               name="TERRENOTOTALM2"
                                               v-model="newimovel.TERRENOTOTALM2">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label for="" class="control-label col-md-1">Frente:</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control input-sm"
                                               name="TERRENOFRENTE"
                                               v-model="newimovel.TERRENOFRENTE">
                                    </div>

                                    <label for="" class="control-label col-md-1">Fundos:</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control input-sm"
                                               name="TERRENOFUNDOS"
                                               v-model="newimovel.TERRENOFUNDOS">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label for="" class="control-label col-md-1">Esquerda:</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control input-sm"
                                               name="TERRENOLADOESQUERDO"
                                               v-model="newimovel.TERRENOLADOESQUERDO">
                                    </div>

                                    <label for="" class="control-label col-md-1">Direita:</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control input-sm"
                                               name="TERRENOLADODIREITO"
                                               v-model="newimovel.TERRENOLADODIREITO">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Fim Area do imóvel-->

                    <!--Administrativo-->
                    <div class="box box-danger">
                        <div class="box-header">
                            <h4><b>Administrativo</b></h4>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="form-group">
                                    <label class="control-label col-md-1"
                                           for="suites">Observações:</label>
                                    <div class="col-md-10">
                         <textarea v-model="newimovel.DESCRICAO" name="DESCRICAO"
                                   class="form-control input-sm" cols="30" rows="10"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <label class="control-label col-md-1"
                                           for="suites">Descrição Site:</label>
                                    <div class="col-md-10">
                        <textarea v-model="newimovel.DESCRICAOSITE" name="DESCRICAO"
                                  class="form-control input-sm" cols="30" rows="10"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Fim Cadastro-->
                </form>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                enterprises: {},
                categorias: {},
                caracteristicas: {},
                proprietarios: {},
                checagem: {
                    'sim': 'Sim',
                    'nao': 'Não'
                },

                options: {
                    url: "/api/fotos/upload",
                    maxFileSize: 80,
                    maxFiles: 1,
                    uploadMultiple: false,
                    autoProcessQueue: false
                },
                imageInfo: [],
                newimovel: {
                    'rows': [{IMOVEL_ID: '',PROPRIETARIO_ID: '', PORCENTAGEM: ''}],
                    'CARACTERISTICAS': [{CARACTERISTICA_OPCAO_ID: '', IMOVEL_ID: '', QUANTIDADE: ''}],
                    'imageDescription': [],
                    'OUTRO_ID': '',
                    'EMPREENDIMENTO_ID': '',
                    'IMOVEL_SUBTIPO_ID': '',
                    'CODIGO': '',
                    'CODIGOANUNCIO': '',
                    'CHAVESENTREGA': '',
                    'INATIVO': 'Não',
                    'OPCAOSF': 'Não',
                    'OCUPADO': 'Não',
                    'TIPOGARANTIA': '',
                    'FIADOR': '',
                    'DEPOSITO': 'Não',
                    'PLACA': 'Não',
                    'DATACAPTACAO': '',
                    'CHAVESQUADRO': '',
                    'TIPOENDERECO': '',
                    'ENDERECO': '',
                    'NUMERO': '',
                    'COMPLEMENTO': '',
                    'CEP': '',
                    'BAIRRO': '',
                    'CIDADE': '',
                    'UF': '',
                    'GUIA': '',
                    'TIPO': '',
                    'RELOGIOLUZ': '',
                    'RELOGIOAGUA': '',
                    'RELOGIOGAS': '',
                    'CODCLIENTELUZ': '',
                    'CODCLIENTEAGUA': '',
                    'CODCLIENTEGAS': '',
                    'CODCLIENTEIPTU': '',
                    'QUANTIDADECONTROLES': '',
                    'VISITA': 'Não',
                    'DORMITORIO': '',
                    'BANHEIRO': '',
                    'SUITE': '',
                    'ENERGIASEPARADA': '',
                    'AGUASEPARADA': '',
                    'CONDOMINIOFECHADO': '',
                    'ENTRADAINDEPENDENTE': '',
                    'CERCAELETRICA': '',
                    'CAMERASEGURANCA': '',
                    'TERRENOLADOESQUERDO': '',
                    'TERRENOLADODIREITO': '',
                    'CONSTRUIDA': '',
                    'VAGA': '',
                    'IPTU': '',
                    'MATRICULA': '',
                    'VALORVENDA': '',
                    'VALORLOCACAO': '',
                    'VALORCONDOMINIO': '',
                    'VENDA': 'Não',
                    'LOCACAO': 'Não',
                    'TERRENOTOTALM2': '',
                    'STATUS': 'Disponível',
                    'HORARIOVISITA': '',
                    'DESCRICAO': '',
                    'CONDOMINIOAGUA': 'Não',
                    'CONDOMINIOLUZ': 'Não',
                    'CONDOMINIOGAS': 'Não',
                    'CONDOMINIOTVCABO': 'Não',
                    'CONDOMINIOIPTU': 'Não',
                    'TERRENOFRENTE': '',
                    'TERRENOFUNDOS': '',
                    'TERRENORAIO': '',
                    'LATITUDE': '',
                    'LONGITUDE': '',
                    'ALTITUDE': '',
                    'DATAFINALCONTRATO': '',
                    'VALORLOCACAOM2': '',
                    'VALORVENDAM2': '',
                    'EXCLUSIVIDADE': '',
                    'FRENTEPARA': '',
                    'FUNDOSPARA': '',
                    'ESQUERDAPARA': '',
                    'DIREITAPARA': '',
                    'CARTORIODATAREGISTRO': '',
                    'CARTORIOFOLHA': '',
                    'CARTORIOREGISTRO': '',
                    'CARTORIOLIVRO': '',
                    'CARTORIO': '',
                    'TIPOZONA': '',
                    'DESTAQUE': '',
                    'COMPLEMENTOANDAR': '',
                    'COMPLEMENTOAPTO': '',
                    'DESCRICAOSITE': '',
                    'LANCAMENTO': 'Não',
                    'TEMPORADA': 'Não',
                    'VALORIPTU': '',
                    'DIVULGARVALOR': 'Não',
                    'PARAMETRIZACAO_ID': '',
                    'VALORVENDACUSTO': '',
                    'AREAUTIL': '',
                    'SITEDIVULGAR': 'Não',
                    'SITE_VISITAS': '',
                    'PAIS': '',
                },
                tabsel: '',
            }
        },

        created() {
            this.getCategorias();
            this.getEnterprises();
            this.getProprietarios();
            this.getCaracteristicas();
        },

        mounted() {
            this.initMap();
            $(function () {
                $('#action').click(function () {
                    var panel = $('.action-panel');
                    //var panel_position = panel.position();
                    if(panel.hasClass('active')) {
                        panel.removeClass('active');
                    } else {
                        panel.addClass('active');
                    }

                });
            });
        },

        //props: ['url', document.location.href+'/maps/main-map.html'],

        methods: {

            init(uploader) {
                $('#gravar').on('click', function () {
                    uploader.uploader._uploader.processQueue();
                });
            },

            /*getCidade(cep) {
                $('#cep').blur(function () {
                    axios.get('http://viacep.com.br/ws/'+ cep +'/json/').then((response) => {
                        console.log(response);
                    });
                });

            },*/

            sendDescription(file, xhr, formData) {
                for (var i = 0; i < this.newimovel.imageDescription.length; i++)
                    formData.append('description', this.newimovel.imageDescription[i].description);
                formData.append('codigo', this.newimovel.CODIGO);
            },

            initMap() {
                var that = this;
                var map = new GMaps({
                    el: '#map',
                    lat: -20.042298,
                    lng: -47.756618,
                    zoom: 18,
                    width: '100%',
                    height: '600px',
                });

                var marker;
                var location;

                $('#localizar').click(function (e) {
                    e.preventDefault();
                    GMaps.geocode({
                        address: that.newimovel.TIPOENDERECO + ' ' + that.newimovel.ENDERECO
                        + that.newimovel.NUMERO
                        + that.newimovel.CIDADE
                        + that.newimovel.UF,
                        callback: function(results, status) {
                            if (status == 'OK') {
                                location = results[0].geometry.location;
                                that.newimovel.LATITUDE = location.lat();
                                that.newimovel.LONGITUDE = location.lng();
                                map.setCenter(location.lat(), location.lng());
                                map.addMarker({
                                    lat: location.lat(),
                                    lng: location.lng(),
                                    draggable: true,
                                    title: that.ENDERECO,
                                    drag: function () {
                                        that.newimovel.LATITUDE = location.lat();
                                        that.newimovel.LONGITUDE = location.lng();
                                    }
                                });
                            }
                        }
                    });
                });
            },

            getEnterprises() {
                axios.get('/api/empreendimentos').then((response) => {
                    this.enterprises = response.body;
                });
            },

            getCategorias() {
                axios.get('/api/categorias').then((response) => {
                    this.categorias = response.data;
                });
            },

            getProprietarios() {
                axios.get('/api/proprietarios').then((response) => {
                    this.proprietarios = response.data;
                });
            },

            getCaracteristicas() {
                axios.get('/api/caracteristicas/').then((response) => {
                    this.caracteristicas = response.data;
                });
            },

            /*getImoveis() {
                axios.get('/api/imoveis/').then((response) => {
                    this.imoveis = response.data;
                });
            },*/

            createImovel() {
                var input = this.newimovel;
                axios.post('/api/imoveis/', input).then((response) => {
                    this.newimovel = {
                        'rows': [{IMOVEL_ID: '',PROPRIETARIO_ID: '', PORCENTAGEM: ''}],
                        'CARACTERISTICAS': [{CARACTERISTICA_OPCAO_ID: '', IMOVEL_ID: '', QUANTIDADE: ''}],
                        'OUTRO_ID': '',
                        'EMPREENDIMENTO_ID': '',
                        'IMOVEL_SUBTIPO_ID': '',
                        'CODIGO': '',
                        'CODIGOANUNCIO': '',
                        'CHAVESENTREGA': '',
                        'INATIVO': 'Não',
                        'OPCAOSF': 'Não',
                        'OCUPADO': 'Não',
                        'FIADOR': 'Não',
                        'DEPOSITO': 'Não',
                        'PLACA': 'Não',
                        'DATACAPTACAO': '',
                        'CHAVESQUADRO': '',
                        'TIPOENDERECO': '',
                        'ENDERECO': '',
                        'NUMERO': '',
                        'COMPLEMENTO': '',
                        'CEP': '',
                        'BAIRRO': '',
                        'CIDADE': '',
                        'UF': '',
                        'GUIA': '',
                        'TIPO': '',
                        'RELOGIOLUZ': '',
                        'RELOGIOAGUA': '',
                        'RELOGIOGAS': '',
                        'CODCLIENTELUZ': '',
                        'CODCLIENTEAGUA': '',
                        'CODCLIENTEGAS': '',
                        'CODCLIENTEIPTU': '',
                        'QUANTIDADECONTROLES': '',
                        'VISITA': 'Não',
                        'DORMITORIO': '',
                        'BANHEIRO': '',
                        'SUITE': '',
                        'ENERGIASEPARADA': '',
                        'AGUASEPARADA': '',
                        'CONDOMINIOFECHADO': '',
                        'ENTRADAINDEPENDENTE': '',
                        'CERCAELETRICA': '',
                        'CAMERASEGURANCA': '',
                        'TERRENOLADOESQUERDO': '',
                        'TERRENOLADODIREITO': '',
                        'CONSTRUIDA': '',
                        'VAGA': '',
                        'IPTU': '',
                        'MATRICULA': '',
                        'VALORVENDA': '',
                        'VALORLOCACAO': '',
                        'VALORCONDOMINIO': '',
                        'VENDA': 'Não',
                        'LOCACAO': 'Não',
                        'TERRENOTOTALM2': '',
                        'STATUS': 'Disponível',
                        'HORARIOVISITA': '',
                        'DESCRICAO': '',
                        'CONDOMINIOAGUA': 'Não',
                        'CONDOMINIOLUZ': 'Não',
                        'CONDOMINIOGAS': 'Não',
                        'CONDOMINIOTVCABO': 'Não',
                        'CONDOMINIOIPTU': 'Não',
                        'TERRENOFRENTE': '',
                        'TERRENOFUNDOS': '',
                        'TERRENORAIO': '',
                        'LATITUDE': '',
                        'LONGITUDE': '',
                        'ALTITUDE': '',
                        'DATAFINALCONTRATO': '',
                        'VALORLOCACAOM2': '',
                        'VALORVENDAM2': '',
                        'EXCLUSIVIDADE': '',
                        'FRENTEPARA': '',
                        'FUNDOSPARA': '',
                        'ESQUERDAPARA': '',
                        'DIREITAPARA': '',
                        'CARTORIODATAREGISTRO': '',
                        'CARTORIOFOLHA': '',
                        'CARTORIOREGISTRO': '',
                        'CARTORIOLIVRO': '',
                        'CARTORIO': '',
                        'TIPOZONA': '',
                        'DESTAQUE': '',
                        'COMPLEMENTOANDAR': '',
                        'COMPLEMENTOAPTO': '',
                        'DESCRICAOSITE': '',
                        'LANCAMENTO': 'Não',
                        'TEMPORADA': 'Não',
                        'VALORIPTU': '',
                        'DIVULGARVALOR': 'Não',
                        'PARAMETRIZACAO_ID': '',
                        'VALORVENDACUSTO': '',
                        'AREAUTIL': '',
                        'SITEDIVULGAR': 'Não',
                        'SITE_VISITAS': '',
                        'PAIS': '',
                    };
                    toastr.success('Imóvel Salvo com sucesso!');
                });
            },

            addRow() {
                this.newimovel.rows.push({PROPRIETARIO_ID: '', PORCENTAGEM: ''});
            },

            addFile() {
                this.newimovel.imageDescription.push({description: ''})
            },

            removeFile(row) {
                this.newimovel.imageDescription.splice(row, 1);
            },

            removeRow(row) {
                this.newimovel.rows.splice(row, 1);
            },

            addCaracteristica() {
                this.newimovel.CARACTERISTICAS.push({CARACTERISTICA_OPCAO_ID: '', IMOVEL_ID: '', QUANTIDADE: ''});
            },

            removeCaracteristica(row) {
                //console.log(row);
                this.newimovel.CARACTERISTICAS.splice(row,1);
            },
            closeWindow() {
                if(history.length === 1) {
                    window.close();
                } else {
                    document.getElementById("fechar").href = "/admin/imoveis/list";
                }
            },

            openActionPanel() {
                $(function () {
                    $('#actions').panel('open');
                });
            }
        }
    }
</script>