<template>
    <div class="box box-danger">
        <div class="box-header">
            <h4>Inserir  Novo Proprietário</h4>
        </div>
        <div class="box-body">
            <form method="post" @submit.prevent="createProprietario" enctype="multipart/form-data" class="form-horizontal owner">
                <!--<div class="row">
                    <div class="col-md-12">
                        <div class="button-fixed" id="fixed">
                            <ul>
                                <li>
                                    <button type="submit" class="btn btn-link">Salvar</button>
                                </li>
                                <li><a href="#" class="hide-tab btn btn-link" id="fechar" @click="closeWindow()">
                                    Fechar
                                </a></li>
                            </ul>
                        </div>
                    </div>
                </div>-->

                <div class="action-panel" id="actions">
                    <a href="javascript:;" class="action-collapse-btn" id="action"><i class="fa fa-cog"></i></a>
                    <div class="action-content">
                        <h5>Ações</h5>
                        <div>
                            <ul class="action-list">
                                <li><button type="submit" id="gravar" class="btn btn-link"><i class="fa fa-check-circle"></i> Salvar</button></li>
                                <li>
                                    <a href="#" class="hide-tab btn btn-link" id="fechar" @click="closeWindow()"><i class="fa fa-times-circle"></i> Fechar</a>
                                </li>
                            </ul>
                        </div>

                    </div>

                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="codigo" class="control-label col-md-1">Código:</label>
                        <div class="col-md-3">
                            <input type="text" name="CODIGO" v-model="newproprietario.CODIGO" class="form-control">
                        </div>

                        <label for="tipocadastro" class="control-label col-md-1">Tipo de Pessoa:</label>
                        <div class="col-md-3">
                            <select v-model="newproprietario.TFJ" name="tipo_cadastro" class="form-control">
                                <option value="">SELECIONE</option>
                                <option value="F">Física</option>
                                <option value="J">Jurídica</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <label for="inativo" class="control-label col-md-1">Situação:</label>
                        <div class="col-md-3">
                            <select name="INATIVO" class="form-control" v-model="newproprietario.INATIVO">
                                <option value="">SELECIONE</option>
                                <option value="Sim">Ativo</option>
                                <option value="Não">Inativo</option>
                            </select>
                        </div>

                        <label for="clienteespecial" class="control-label col-md-1">Cliente Especial:</label>
                        <div class="col-md-3">
                            <select name="CE" class="form-control" v-model="newproprietario.CE">
                                <option value="">SELECIONE</option>
                                <option value="Sim">Sim</option>
                                <option value="Não">Não</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div v-show="newproprietario.TFJ === 'F' || newproprietario.TFJ === 'J'">

                    <div class="box box-danger">
                        <div class="box-header">
                            <h4>
                                <b>Informações Básicas</b>
                            </h4>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="form-group">
                                    <label for="nome" v-show="newproprietario.TFJ === 'F'" class="control-label col-md-1">Nome:</label>
                                    <label for="nome" v-show="newproprietario.TFJ === 'J'" class="control-label col-md-1">Razão Social:</label>
                                    <div class="col-md-11">
                                        <input type="text" name="NOME" v-model="newproprietario.NOMERAZAO" class="form-control">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <div v-show="newproprietario.TFJ === 'F'">
                                        <label for="datanascimento" class="control-label col-md-1">Nascimento:</label>
                                        <div class="col-md-3">
                                            <input type="date" name="DATANASCIMENTO" class="form-control" v-model="newproprietario.DATANASCIMENTO">
                                        </div>
                                    </div>

                                    <div v-show="newproprietario.TFJ === 'F'">
                                        <label for="cpf" class="control-label col-md-1">CPF:</label>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" v-mask="'###.###.###-##'" name="CPF" v-model="newproprietario.CPFCNPJ">
                                        </div>
                                    </div>

                                    <div v-show="newproprietario.TFJ === 'J'">
                                        <label for="cnpj" class="control-label col-md-1">CNPJ:</label>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" v-mask="'##.###.###/####-##'" name="CPF" v-model="newproprietario.CPFCNPJ">
                                        </div>
                                    </div>

                                    <div v-show="newproprietario.TFJ === 'F'">
                                        <label for="rg" class="control-label col-md-1">RG:</label>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" name="RGIE" v-model="newproprietario.RGIE">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row" v-show="newproprietario.TFJ === 'F'">
                                <div class="form-group">
                                    <label for="nacionalidade" class="control-label col-md-1">Nacionalidade</label>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" name="NACIONALIDADE" v-model="newproprietario.NACIONALIDADE">
                                    </div>

                                    <label for="sexo" class="control-label col-md-1">Sexo:</label>
                                    <div class="col-md-3">
                                        <select name="SEXO" class="form-control" v-model="newproprietario.SEXO">
                                            <option value="">SELECIONE</option>
                                            <option value="M">Masculino</option>
                                            <option value="F">Feminino</option>
                                        </select>
                                    </div>

                                    <label for="naturalidade" class="control-label col-md-1">Naturalidade:</label>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" name="NATURALIDADE" v-model="newproprietario.NATURALIDADE">
                                    </div>
                                </div>
                            </div>

                            <div class="row" v-show="newproprietario.TFJ === 'F'">
                                <div class="form-group">
                                    <label for="profissao" class="control-label col-md-1">Profissão:</label>
                                    <div class="col-md-5">
                                        <input type="text" class="form-control" name="PRODISSAO" v-model="newproprietario.PROFISSAO">
                                    </div>

                                    <label for="email2" class="control-label col-md-1">Site:</label>
                                    <div class="col-md-5">
                                        <input type="text" class="form-control" name="EMAIL2" v-model="newproprietario.SITE">
                                    </div>
                                </div>
                            </div>

                            <div class="row" v-show="newproprietario.TFJ === 'J'">
                                <label for="site" class="control-label col-md-1">Site:</label>
                                <div class="col-md-11">
                                    <input type="text" class="form-control" name="EMAIL2" v-model="newproprietario.SITE">
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <label for="email1" class="control-label col-md-1">E-mail/Login:</label>
                                    <div class="col-md-5">
                                        <input type="text" class="form-control" name="EMAIL1" v-model="newproprietario.EMAIL1">
                                    </div>

                                    <label for="email1" class="control-label col-md-1">E-mail:</label>
                                    <div class="col-md-5">
                                        <input type="text" class="form-control" name="EMAIL1" v-model="newproprietario.EMAIL2">
                                    </div>
                                </div>
                            </div>

                            <div class="row" v-show="newproprietario.TFJ === 'F'">
                                <div class="form-group">
                                    <label for="estadocivil" class="control-label col-md-1">Estado Civil</label>
                                    <div class="col-md-3">
                                        <select type="text" class="form-control" name="ESTADOCIVIL" v-model="newproprietario.ESTADOCIVIL">
                                            <option value="">SELECIONE</option>
                                            <option value="Solteiro(a)">Solteiro(a)</option>
                                            <option value="Casado(a)">Casado(a)</option>
                                            <option value="Divorciado(a)">Divorciado(a)</option>
                                            <option value="Viuvo(a)">Viuvo(a)</option>
                                        </select>
                                    </div>

                                    <div v-show="newproprietario.ESTADOCIVIL === 'Casado(a)'">
                                        <label for="regimebens" class="control-label col-md-1">Regime de bens:</label>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" name="REGIMEBENS" v-model="newproprietario.REGIMEBENS">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div v-show="newproprietario.ESTADOCIVIL === 'Casado(a)'">
                                <div class="row">
                                    <div class="form-group">
                                        <label for="nomeconjuge" class="control-label col-md-1">Nome:</label>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control" name="CONJUGENOME" v-model="newproprietario.CONJUGENOME">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Fim Informações Básicas-->

                    <!--Telefones de contato-->
                    <div class="box box-danger">
                        <div class="box-header">
                            <h4>
                                <b>Telefone</b>
                            </h4>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-responsive telefone">
                                        <thead>
                                        <tr class="form-th">
                                            <th>Tipo</th>
                                            <th>Numero</th>
                                            <th>Observação</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td class="col-md-2">
                                                <select type="text" class="form-control" name="TIPOTELEFONE1" v-model="newproprietario.TIPOTELEFONE1">
                                                    <option value="Residencial">Residencial</option>
                                                    <option value="Comercial">Comercial</option>
                                                    <option value="Celular">Celular</option>
                                                    <option value="Recado">Recado</option>
                                                </select>
                                            </td>
                                            <td class="col-md-2">
                                                <input type="text" class="form-control" v-mask="'(##) #####-####'" name="TELEFONE1" v-model="newproprietario.TELEFONE1">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" name="RECADO" v-model="newproprietario.RECADO">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <select type="text" class="form-control" name="TIPOTELEFONE2" v-model="newproprietario.TIPOTELEFONE2">
                                                    <option value="Residencial">Residencial</option>
                                                    <option value="Comercial">Comercial</option>
                                                    <option value="Celular">Celular</option>
                                                    <option value="Recado">Recado</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" v-mask="'(##) #####-####'" name="TELEFONE2" v-model="newproprietario.TELEFONE2">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" name="RECADO2" v-model="newproprietario.RECADO2">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <select type="text" class="form-control" name="TIPOTELEFONE3" v-model="newproprietario.TIPOTELEFONE3">
                                                    <option value="Residencial">Residencial</option>
                                                    <option value="Comercial">Comercial</option>
                                                    <option value="Celular">Celular</option>
                                                    <option value="Recado">Recado</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" v-mask="'(##) #####-####'" name="TELEFONE3" v-model="newproprietario.TELEFONE3">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" name="RECADO3" v-model="newproprietario.RECADO3">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <select type="text" class="form-control" name="TIPOTELEFONE4" v-model="newproprietario.TIPOTELEFONE4">
                                                    <option value="Residencial">Residencial</option>
                                                    <option value="Comercial">Comercial</option>
                                                    <option value="Celular">Celular</option>
                                                    <option value="Recado">Recado</option>
                                                </select>
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" v-mask="'(##) #####-####'" name="TELEFONE4" v-model="newproprietario.TELEFONE4">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" name="RECADO4" v-model="newproprietario.RECADO4">
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!--Fim Telefones-->

                    <!--Endereço-->
                    <div class="box box-danger">
                        <div class="box-header">
                            <h4>
                                <b>Endereço</b>
                            </h4>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="form-group">
                                    <label for="cep" class="control-label col-md-1">CEP:</label>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" v-mask="'#####-###'" name="CEP" v-model="newproprietario.CEP">
                                    </div>

                                    <label for="uf" class="control-label col-md-1">UF</label>
                                    <div class="col-md-3">
                                        <select type="text" class="form-control" name="UF" v-model="newproprietario.UF">
                                            <option value="SP">SP</option>
                                        </select>
                                    </div>

                                    <label for="cidade" class="control-label col-md-1">Cidade</label>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" name="CIDADE" v-model="newproprietario.CIDADE">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <label for="bairro" class="control-label col-md-1">Logradouro:</label>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" name="TIPOENDERECO" v-model="newproprietario.TIPOENDERECO">
                                    </div>

                                    <label for="endereco" class="control-label col-md-1">Nome</label>
                                    <div class="col-md-7">
                                        <input type="text" class="form-control" name="ENDERECO" placeholder="Nome da Rua" v-model="newproprietario.ENDERECO">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <label for="NUMERO" class="control-label col-md-1">N°</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" name="NUMERO" v-model="newproprietario.NUMERO">
                                    </div>

                                    <label for="bairro" class="control-label col-md-1">Bairro:</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" name="BAIRRO" v-model="newproprietario.BAIRRO">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <label for="complemento" class="control-label col-md-1">Complemento</label>
                                    <div class="col-md-11">
                                        <input type="text" class="form-control" name="COMPLEMENTO" v-model="newproprietario.COMPLEMENTO">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Fim Endereço-->


                    <!--Imóveis-->

                    <!--Repasse-->
                    <div class="box box-danger">
                        <div class="box-header">
                            <h4>
                                <b>Informações de Repasse</b>
                            </h4>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="form-group">
                                    <label for="deposito" class="control-label col-md-1">Depositar:</label>
                                    <div class="col-md-3">
                                        <select name="DEPOSITO" class="form-control" v-model="newproprietario.DEPOSITO">
                                            <option value="">SELECIONE</option>
                                            <option value="Sim">Sim</option>
                                            <option value="Não">Não</option>
                                        </select>
                                    </div>

                                    <div v-show="newproprietario.DEPOSITO == 'Sim'">
                                        <label for="tipoconta" class="control-label col-md-1">CC ou CP</label>
                                        <div class="col-md-3">
                                            <select name="TIPOCONTA" class="form-control" v-model="newproprietario.TIPOCONTA">
                                                <option value="CC">Conta Corrente</option>
                                                <option value="CP">Conta Poupança</option>
                                            </select>
                                        </div>

                                        <label for="codbancocorrente" class="control-label col-md-1">Banco:</label>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" name="CODBANCOCORRENTE" v-model="newproprietario.CODBANCOCORRENTE">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div v-show="newproprietario.DEPOSITO === 'Sim'">
                                <div class="row">
                                    <div class="form-group">
                                        <label for="agenciacorrente" class="control-label col-md-1">Agencia:</label>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" name="AGENCIACORRENTE" v-model="newproprietario.AGENCIACORRENTE">
                                        </div>

                                        <label for="contacorrente" class="control-label col-md-1">Numero:</label>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" name="CONTACORRENTE" v-model="newproprietario.CONTACORRENTE">
                                        </div>

                                        <label for="opcoes" class="control-label col-md-1">Opções:</label>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" name="OPCOES" v-model="newproprietario.OPCOES">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group">
                                        <label for="conjunta" class="control-label col-md-1">Conjunta:</label>
                                        <div class="col-md-3">
                                            <select name="CONJUNTA" class="form-control" v-model="newproprietario.CONJUNTA">
                                                <option value="">SELECIONE</option>
                                                <option value="Sim">Sim</option>
                                                <option value="Não">Não</option>
                                            </select>
                                        </div>

                                        <label for="cpfcnpjcorrente" class="control-label col-md-1">CPF/CNPJ Titular:</label>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" v-mask="newproprietario.TIPO == '###.###.###-##'" name="CPFCNPJCORRENTE" placeholder="CPF ou CNPJ" v-model="newproprietario.CPFCNPJCORRENTE">
                                        </div>

                                        <label for="favorecidocorrente" class="control-label col-md-1">Nome Titular:</label>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" name="FAVORECIDOCORRENTE" v-model="newproprietario.FAVORECIDOCORRENTE">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>




                    <!--Administrativo-->
                    <div class="box box-danger">
                        <div class="box-header">
                            <h4>
                                <b>Administrativo</b>
                            </h4>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="form-group">
                                    <label for="taxalocacao" class="control-label col-md-1">% Locação</label>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" name="TAXALOCACAO" v-model="newproprietario.TAXALOCACAO">
                                    </div>

                                    <label for="taxavenda" class="control-label col-md-1">% Venda:</label>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" name="TAXAVENDA" v-model="newproprietario.TAXAVENDA">
                                    </div>

                                    <label for="taxalocacao" class="control-label col-md-1">Dia de Repasse:</label>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" name="REPASSE" v-model="newproprietario.REPASSE">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <label for="corretor" class="control-label col-md-1">Corretor:</label>
                                    <div class="col-md-11">
                                        <select name="CORRETOR" class="form-control">
                                            <option value="1">Guilherme Sinicio</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <label for="observacoes" class="control-label col-md-1">Observações:</label>
                                    <div class="col-md-11">
                                        <textarea name="OBSERVACOES" v-model="newproprietario.OBSERVACOES" cols="30" rows="10" class="form-control"></textarea>
                                    </div>
                                </div>
                                <!--Fim Admiunistrativo-->
                            </div>
                        </div>
                    </div>
                </div>
                <!--fim pessoa fisica e juridica-->
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                newproprietario: {
                    /*'USUARIO_ID': '',*/
                    'INATIVO': '',
                    'CE': '',
                    'TFJ': '',
                    'CONFIDENCIAL': '',
                    'NOMERAZAO': '',
                    'CODIGO': '',
                    'APELIDOFANTASIA': '',
                    'CPFCNPJ': '',
                    'RGIE': '',
                    'INSCMUNICIPAL': '',
                    'SEXO': '',
                    'DATANASCIMENTO': '',
                    'NATURALIDADE': '',
                    'NACIONALIDADE': '',
                    'PROFISSAO': '',
                    'ESTADOCIVIL': '',
                    'REGISTROJC': '',
                    'DATAJC': '',
                    'CONJUNTA': '',
                    'OPCOES': '',
                    'DATAFUNDACAO': '',
                    'DEPOSITO': '',
                    'TIPOCONTA': '',
                    'AGENCIACORRENTE': '',
                    'CONTACORRENTE': '',
                    'CODBANCOCORRENTE': '',
                    'BANCOCORRENTE': '',
                    'FAVORECIDOCORRENTE': '',
                    'CPFCNPJCORRENTE': '',
                    'REGIMEBENS': '',
                    'CERTIDAOCASAMENTO': '',
                    'ENDERECO': '',
                    'NUMERO': '',
                    'COMPLEMENTO': '',
                    'BAIRRO': '',
                    'CEP': '',
                    'CIDADE': '',
                    'UF': '',
                    'TIPOTELEFONE1': '',
                    'TELEFONE1': '',
                    'TIPOTELEFONE2': '',
                    'TELEFONE2': '',
                    'TIPOTELEFONE3': '',
                    'TELEFONE3': '',
                    'TIPOTELEFONE4': '',
                    'TELEFONE4': '',
                    'SITE': '',
                    'EMAIL1': '',
                    'EMAIL2': '',
                    'RECADO': '',
                    'RECADO2': '',
                    'RECADO3': '',
                    'TAXALOCACAO': '',
                    'TAXAVENDA': '',
                    'TAXA1ALUGUEL': '',
                    'REPASSE': '',
                    'CONJUGENOME': '',
                    'CONJUGECPF': '',
                    'CONJUGERG': '',
                    'CONJUGENATURALIDADE': '',
                    'CONJUGENACIONALIDADE': '',
                    'CONJUGEPROFISSAO': '',
                    'CONJUGEDATANASC': '',
                    'OBSERVACOES': '',
                },

                /* money: {
                    decimal: ',',
                    thousands: '.',
                    prefix: 'R$ ',
                    precision: 2,
                    masked: false
                }, */
            }
        },



        mounted() {
            $('#action').click(function () {
                var panel = $('.action-panel');
                //var panel_position = panel.position();
                if(panel.hasClass('active')) {
                    panel.removeClass('active');
                } else {
                    panel.addClass('active');
                }
            });
        },

        filters: {
            dateFormat(date) {
                if (date !== '') {
                    return moment(date, "YYYY-MM-DD hh:mm:ss").format("DD/MM/YYYY hh:mm:ss");
                }
            },
        },

        methods: {

            /* dateFormat(date) {
                if (date !== '') {
                    console.log(date);
                    return moment(date, "YYY-MM-DD hh:mm:ss").format("DD/DD/YYYY as hh:mm:ss");
                }
            }, */

            createProprietario() {
                var input = this.newproprietario;

                axios.post('/api/proprietarios', input).then((response) => {
                    this.newproprietario = {
                        /*'USUARIO_ID': '',*/
                        'INATIVO': '',
                        'CE': '',
                        'TFJ': '',
                        'CONFIDENCIAL': '',
                        'NOMERAZAO': '',
                        'CODIGO': '',
                        'APELIDOFANTASIA': '',
                        'CPFCNPJ': '',
                        'RGIE': '',
                        'INSCMUNICIPAL': '',
                        'SEXO': '',
                        'DATANASCIMENTO': '',
                        'NATURALIDADE': '',
                        'NACIONALIDADE': '',
                        'PROFISSAO': '',
                        'ESTADOCIVIL': '',
                        'REGISTROJC': '',
                        'DATAJC': '',
                        'DATAFUNDACAO': '',
                        'DEPOSITO': '',
                        'TIPOCONTA': '',
                        'AGENCIACORRENTE': '',
                        'CONTACORRENTE': '',
                        'CODBANCOCORRENTE': '',
                        'BANCOCORRENTE': '',
                        'FAVORECIDOCORRENTE': '',
                        'CPFCNPJCORRENTE': '',
                        'REGIMEBENS': '',
                        'CERTIDAOCASAMENTO': '',
                        'ENDERECO': '',
                        'NUMERO': '',
                        'COMPLEMENTO': '',
                        'BAIRRO': '',
                        'CEP': '',
                        'CIDADE': '',
                        'UF': '',
                        'TIPOTELEFONE1': '',
                        'TELEFONE1': '',
                        'TIPOTELEFONE2': '',
                        'TELEFONE2': '',
                        'TIPOTELEFONE3': '',
                        'TELEFONE3': '',
                        'EMAIL1': '',
                        'EMAIL2': '',
                        'RECADO': '',
                        'RECADO2': '',
                        'RECADO3': '',
                        'TAXALOCACAO': '',
                        'TAXAVENDA': '',
                        'TAXA1ALUGUEL': '',
                        'REPASSE': '',
                        'CONJUGENOME': '',
                        'CONJUGECPF': '',
                        'CONJUGERG': '',
                        'CONJUGENATURALIDADE': '',
                        'CONJUGENACIONALIDADE': '',
                        'CONJUGEPROFISSAO': '',
                        'CONJUGEDATANASC': '',
                        'OBSERVACOES': '',
                    };
                    toastr.success(response.data.message);
                });
            },

            closeWindow() {
                if(history.length === 1) {
                    window.close();
                } else {
                    document.getElementById("fechar").href = "/admin/proprietarios";
                }
            },

            openActionPanel() {
                $(function () {
                    $('#actions').panel('open');
                });
            },

            resetForm() {
                $('.owner').trigger('reset');
            },
        }
    }
</script>