<template>
    <v-app id="painel">
        <v-navigation-drawer fixed v-model="drawer" app>
            <v-list dense>
                <v-list-tile @click="">
                    <v-list-tile-action>
                        <v-icon>home</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>Inicio</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
        </v-navigation-drawer>
        <v-toolbar color="white" dark fixed app>
            <v-toolbar-side-icon color="red" @click.stop="drawer = !drawer"></v-toolbar-side-icon>
            <v-toolbar-title>SP Imóveis</v-toolbar-title>
        </v-toolbar>
        <v-content>
            <v-container fluid>
                <v-layout justify-center>
                    <v-flex xs12>
                        <div>
                            <v-btn flat color="red">Novo</v-btn>
                        </div>
                        <div>
                            <v-text-field append-icon="search"
                                          label="Search"
                                          single-line
                                          hide-details
                                          v-model="search"></v-text-field>
                        </div>
                       <!-- <v-data-table :headers="headers"
                                      :items="items"
                                      :search="search"
                                      hide-actions
                                      class="elevation-1">
                            <template slot="items" slot-scope="props">
                                <td class="text-xs-right">{{ props.item.CODIGO }}</td>
                                <td class="text-xs-right">{{ props.item.STATUS }}</td>
                                <td class="text-xs-right">{{ props.item.TIPOENDERECO }}</td>
                                <td class="text-xs-right">{{ props.item.ENDERECO }}</td>
                                <td class="text-xs-right">{{ props.item.NUMERO }}</td>
                                <td class="text-xs-right">{{ props.item.TIPO }}</td>
                                <td class="text-xs-right">{{ props.item.VALORLOCACAO }}</td>
                                <td class="text-xs-right">{{ props.item.VALORVENDA }}</td>
                            </template>
                        </v-data-table>-->
                        <vue-good-table
                                title="Imóveis"
                                :columns="columns"
                                :rows="items"
                                :paginate="true"
                                :perPage="50"
                                nextText="Próximo"
                                prevText="Anterior"
                                rowsPerPageText="Registros"
                                ofText="de"
                                styleClass="table table-bordered condensed">
                            <template slot="table-row" scope="props">
                                <td>{{ props.row.CODIGO }}</td>
                                <td>{{ props.row.STATUS }}</td>
                                <td>{{ props.row.TIPOENDERECO }}</td>
                                <td>{{ props.row.ENDERECO }}</td>
                                <td>{{ props.row.NUMERO }}</td>
                                <td>{{ props.row.TIPO }}</td>
                                <td>{{ props.row.VALORLOCACAO }}</td>
                                <td>{{ props.row.VALORVENDA }}</td>
                                <td>
                                    <a class="btn btn-link"
                                       :href="'/admin/imoveis/propriedades/'+ props.row.ID">
                                        <i class="fa fa-eye"></i>
                                    </a>

                                    <a class="btn btn-link"
                                       :href="'/admin/imoveis/propriedades/edit/'+ props.row.ID">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                </td>
                            </template>
                        </vue-good-table>
                        <!--<v-pagination color="red" v-model="pagination.current_page"
                                      :length="pagination.last_page" @next="page_links.next" @previous="page_links.prev"></v-pagination>-->
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
    //import axios from 'axios';
    export default {
        data() {
            return {
                drawer: null,
                headers: [
                    {text: 'Código', align: 'left',value: 'CODIGO'},
                    {text: 'Situação', value: 'STATUS'},
                    {text: 'Log', value: 'TIPOENDERECO'},
                    {text: 'Nome', value: 'ENDERECO'},
                    {text: 'n°', value: 'NUMERO'},
                    {text: 'Tipo', value: 'TIPO'},
                    {text: 'Locação R$', value: 'VALORLOCACAO'},
                    {text: 'Venda R$', value: 'VALORVENDA'},
                ],
                items: [],
                search: '',
                pagination: {},
                page_links: {}
            }
        },

        created() {
            this.getImoveis();
        },

        methods: {
            getImoveis() {
                axios.get('/api/imoveis/').then(response => {
                    //this.items.push(response.data);
                    this.pagination = response.data.meta;
                    this.page_links = response.data.links;
                    this.items = response.data.data;
                    console.log(response.data.data);
                });
            }
        }
    }
</script>