<template slot="editImoveis" slot-scope="props">
    <div class="box box-danger">
        <div class="box-header">
            <h4>Imóvel: {{ editimovel.TIPOENDERECO }} {{ editimovel.ENDERECO }}, {{ editimovel.NUMERO }} <span v-show="editimovel.INATIVO == 'Sim'">(INATIVO)</span></h4>
        </div>
        <div class="box-body">
            <form method="post" id="imovel-edit" @submit.prevent="updateImovel" enctype="multipart/form-data"
                  class="form-horizontal form-label-left owner">

                <div class="action-panel" id="actions">
                    <a href="javascript:" class="action-collapse-btn" id="action"><i class="fa fa-cog"></i></a>
                    <div class="action-content">
                        <h5><b>Ações</b></h5>
                        <div>
                            <ul class="action-list">
                                <li><a href="#" v-show="editimovel.INATIVO === 'Não'"
                                       class="btn btn-link btn-disable"
                                       @click.prevent="statusDisableImovel(editimovel.ID)">
                                    <i class="fa fa-times"></i>
                                    <span>Desativar</span>
                                </a></li>
                                <li><a href="#" v-show="editimovel.INATIVO === 'Sim'" class="btn btn-link btn-enable"
                                       @click.prevent="statusEnableImovel(editimovel.ID)">
                                    <i class="fa fa-check-square-o"></i>
                                    <span>Ativar</span>
                                </a></li>
                                <li>
                                    <button type="submit" id="#atualizar" class="btn btn-link"><i class="fa fa-check"></i> Salvar</button>
                                </li>
                                <li><a href="#" class="hide-tab btn btn-link" id="fechar" @click="closeWindow()">
                                    <i class="fa fa-window-close-o"></i>
                                    Fechar
                                </a></li>
                            </ul>
                        </div>

                    </div>

                </div>

                <!--<div class="row">
                    <div class="col-md-12">
                        <div class="button-fixed" id="fixed">
                            <h5>Imóvel: {{ editimovel.TIPOENDERECO }} {{ editimovel.ENDERECO }}, {{ editimovel.NUMERO }}</h5>

                            <ul>
                                <li><a href="#" v-show="editimovel.INATIVO === 'Não'"
                                       class="btn btn-link btn-disable"
                                       @click.prevent="statusDisableImovel(editimovel.ID)">
                                    <span>Desativar</span>
                                </a></li>
                                <li><a href="#" v-show="editimovel.INATIVO === 'Sim'" class="btn btn-link btn-enable"
                                       @click.prevent="statusEnableImovel(editimovel.ID)">
                                    <span>Ativar</span>
                                </a></li>
                                <li>
                                    <button type="submit" id="#atualizar" class="btn btn-link">Salvar</button>
                                </li>
                                <li><a href="#" class="hide-tab btn btn-link" id="fechar" @click="closeWindow()">
                                    Fechar
                                </a></li>
                            </ul>
                        </div>
                    </div>
                </div>-->

                <div class="box box-danger">
                    <div class="box-header">
                        <h4><b>Informações Básicas</b></h4>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-md-1" for="codigo">Código:</label>
                                <div class="col-md-1">
                                    <input class="form-control input-sm" v-model="editimovel.CODIGO"
                                           type="text" name="CODIGO">
                                </div>

                                <!--Gravar no campo TIPO DA TABELA-->
                                <label class="control-label col-md-1" for="tipo">Tipo:</label>
                                <div class="col-md-1">
                                    <select v-model="editimovel.TIPO" name="SUBTIPO"
                                            class="form-control input-sm">
                                        <option value="">SELECIONE</option>
                                        <option v-for="categoria in categorias"
                                                :value="categoria.TIPO">
                                            {{ categoria.TIPO }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <label for="ativo" class="control-label col-md-1">Situação:</label>
                                <div class="col-md-1">
                                    <select v-model="editimovel.INATIVO" name="INATIVO"
                                            class="form-control input-sm">
                                        <option value="Não">Ativo</option>
                                        <option value="Sim">Inativo</option>
                                    </select>
                                </div>

                                <label class="control-label col-md-1" for="tipo">Subtipo:</label>
                                <div class="col-md-1">
                                    <select v-model="editimovel.IMOVEL_SUBTIPO_ID" name="SUBTIPO"
                                            class="form-control input-sm">
                                        <option value="">SELECIONE</option>
                                        <option v-for="categoria in categorias"
                                                :value="categoria.ID">
                                            {{ categoria.SUBTIPO }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <label for="ativo" class="control-label col-md-1">Status:</label>
                                <div class="col-md-1">
                                    <select v-model="editimovel.STATUS" name="STATUS"
                                            class="form-control input-sm">
                                        <option value="Alugado">Alugado</option>
                                        <option value="Disponível">Disponível</option>
                                    </select>
                                </div>

                                <label for="tipogarantia" class="control-label col-md-1">Tipo de Garantia:</label>
                                <div class="col-md-1">
                                    <select name="TIPOGARANTIA" v-model="editimovel.TIPOGARANTIA" class="form-control input-sm">
                                        <option value="">SELECIONE</option>
                                        <option value="Fiador">Fiador</option>
                                        <option value="Caução">Caução</option>
                                        <option value="Seguro Fiança">Seguro Fiança</option>
                                        <option value="Aluguel">Aluguel</option>
                                        <option value="Nenhum">Nenhum</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Fim informações básicas-->

                <!--Locação e Venda-->
                <div class="box box-danger">
                    <div class="box-header">
                        <h4><b>Locação e Venda</b></h4>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group">
                                <label for="locacao" class="control-label col-md-1">Locação:</label>
                                <div class="col-md-1">
                                    <select name="LOCACAO" class="form-control input-sm"
                                            v-model="editimovel.LOCACAO">
                                        <option value="">SELECIONE</option>
                                        <option value="Sim">Sim</option>
                                        <option value="Não">Não</option>
                                    </select>
                                </div>

                                <label for="locacao" class="control-label col-md-1">Venda:</label>
                                <div class="col-md-1">
                                    <select name="VENDA" class="form-control input-sm"
                                            v-model="editimovel.VENDA">
                                        <option value="">SELECIONE</option>
                                        <option value="Sim">Sim</option>
                                        <option value="Não">Não</option>
                                    </select>
                                </div>

                                <label for="iptu"
                                       class="control-label col-md-1">IPTU:</label>
                                <div class="col-md-1">
                                    <money v-model="editimovel.VALORIPTU" v-bind="money" class="form-control input-sm"></money>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <label for="valorlocacao" class="control-label col-md-1">R$</label>
                                <div class="col-md-1">
                                    <money v-model="editimovel.VALORLOCACAO" v-bind="money"
                                           class="form-control input-sm"></money>
                                </div>

                                <label for="valorvenda" class="control-label col-md-1">R$</label>
                                <div class="col-md-1">
                                    <money v-model="editimovel.VALORVENDA" v-bind="money" class="form-control input-sm"></money>
                                </div>

                                <label for="condominio" class="col-md-1 control-label">Condominio R$</label>
                                <div class="col-md-1">
                                    <money v-model="editimovel.VALORCONDOMINIO" v-bind="money"
                                           class="form-control input-sm"></money>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <label for="honorariosvenda" class="control-label col-md-1">Honorários %</label>
                                <div class="col-md-1">
                                    <input type="text"
                                           class="form-control input-sm"
                                           name="HONORARIOSLOCACAO"
                                           v-model="editimovel.HONORARIOSLOCACAO">
                                </div>

                                <label for="honorariosvenda" class="control-label col-md-1">Honorários %</label>
                                <div class="col-md-1">
                                    <input type="text"
                                           class="form-control input-sm"
                                           name="HONORARIOSVENDA"
                                           v-model="editimovel.HONORARIOSVENDA">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <label for="exclusividade" class="control-label col-md-1">Exclusividade:</label>
                                <div class="col-md-1">
                                    <select v-model="editimovel.EXCLUSIVIDADE" name="EXCLUSIVIDADE"
                                            class="form-control input-sm">
                                        <option value="Sim">Sim</option>
                                        <option value="Não">Não</option>
                                    </select>
                                </div>

                                <label for="datafinalcontrato" class="control-label col-md-1">Exclusivo até:</label>
                                <div class="col-md-1">
                                    <input v-model="editimovel.DATAFINALCONTRATO" type="date"
                                           name="DATAFINALCONTRATO" class="form-control input-sm">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <label for="divulgarvalor" class="control-label col-md-1">Publicar:</label>
                                <div class="col-md-1">
                                    <select v-model="editimovel.SITEDIVULGAR" name="SITEDIVULGAR"
                                            class="form-control input-sm">
                                        <option value="Sim">Sim</option>
                                        <option value="Não">Não</option>
                                    </select>
                                </div>

                                <label for="divulgarvalor" class="control-label col-md-1">Publicar Valor:</label>
                                <div class="col-sm-1 col-md-1">
                                    <select v-model="editimovel.DIVULGARVALOR" name="DIVULGARVALOR"
                                            class="form-control input-sm">
                                        <option value="Sim">Sim</option>
                                        <option value="Não">Não</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Fim Locação e Venda-->

                <!--Localização-->
                <div class="box box-danger">
                    <div class="box-header">
                        <h4><b>Localizaão</b></h4>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-md-1" for="codigo">CEP:</label>
                                <div class="col-md-1">
                                    <input type="text" v-model="editimovel.CEP" id="cep" name="CEP"
                                           class="form-control input-sm" placeholder="00000-000">
                                </div>

                                <label class="control-label col-md-1" for="UF">UF:</label>
                                <div class="col-md-1">
                                    <!--<select v-model="editimovel.UF" name="UF" class="form-control input-sm">
                                        <option value="SP">SP</option>
                                    </select>-->
                                    <input type="text" id="UF" name="UF" v-model="editimovel.UF" class="form-control input-sm"
                                           title="uf">
                                </div>

                                <label class="control-label col-md-1" for="CIDADE">Cidade:</label>
                                <div class="col-md-1">
                                    <input v-validate="'required|alpha'" v-model="editimovel.CIDADE" type="text"
                                           name="CIDADE"
                                           class="form-control input-sm">
                                    <span v-show="errors.has('CIDADE')" class="text-danger">
                                          {{ errors.first('CIDADE') }}
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-md-1" for="logradouro">Logradouro:</label>
                                <div class="col-md-1">
                                    <input v-validate="'required'" type="text" v-model="editimovel.TIPOENDERECO"
                                           class="form-control input-sm" name="TIPOENDERECO">
                                    <span v-show="errors.has('TIPOENDERECO')" class="text-danger">
                                        {{ errors.first('TIPOENDERECO') }}
                                    </span>
                                </div>

                                <label class="control-label col-md-1" for="nomerua">Nome:</label>
                                <div class="col-md-3">
                                    <input v-validate="'required'" type="text" v-model="editimovel.ENDERECO"
                                           class="form-control input-sm" name="ENDERECO"
                                           placeholder="Nome da Rua">
                                    <span v-show="errors.has('ENDERECO')" class="text-danger">
                                        {{ errors.first('ENDERECO') }}
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-md-1" for="codigo">Nº:</label>
                                <div class="col-md-1">
                                    <input type="text" v-model="editimovel.NUMERO"
                                           class="form-control input-sm" name="NUMERO" placeholder="Numero">
                                </div>

                                <label class="control-label col-md-1" for="codigo">Bairro:</label>
                                <div class="col-md-3">
                                    <input v-validate="'required'" type="text" v-model="editimovel.BAIRRO" name="BAIRRO"
                                           class="form-control input-sm">
                                    <span v-show="errors.has('BAIRRO')" class="text-danger">
                                        {{ errors.first('BAIRRO') }}
                                    </span>
                                </div>
                                <div class="col-md-2">

                                </div>
                            </div>
                        </div>

                        <div v-show="editimovel.TIPO === 'apartamento' || editimovel.TIPO === 'prédio'">
                            <div class="row">
                                <div class="form-group">
                                    <label class="control-label col-md-1"
                                           for="codigo">Apartamento:</label>
                                    <div class="col-md-1">
                                        <input type="text" v-model="editimovel.COMPLEMENTOAPTO"
                                               name="COMPLEMETOAPTO" class="form-control input-sm">
                                    </div>

                                    <label class="control-label col-md-1" for="codigo">Andar:</label>
                                    <div class="col-md-1">
                                        <input type="text" v-model="editimovel.COMPLEMENTOANDAR"
                                               name="COMPLEMENTOANDAR" class="form-control input-sm">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div v-show="editimovel.IMOVEL_SUBTIPO_ID === 7 || editimovel.IMOVEL_SUBTIPO_ID === 9">
                            <div class="row">
                                <div class="form-group">
                                    <label class="control-label col-md-1" for="empreendimento">Empreendimento:</label>
                                    <div class="col-md-11">
                                        <select v-model="editimovel.EMPREENDIMENTO_ID"
                                                aria-labelledby="codigo" name="EMPREENDIMENTO_ID"
                                                class="form-control input-sm">
                                            <option selected value="0">Selecione o Empreendimento</option>
                                            <option v-for="enterprise in enterprises" :value="enterprise.ID">
                                                {{ enterprise.NOME }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-md-1"
                                       for="complemento">Complemento:</label>
                                <div class="col-md-7">
                                    <input type="text" v-model="editimovel.COMPLEMENTO"
                                           name="COMPLEMENTO" class="form-control input-sm">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-md-1"
                                       for="referencia">Referência:</label>
                                <div class="col-md-7">
                                    <input type="text" v-model="editimovel.REFERENCIA"
                                           name="COMPLEMENTO" class="form-control input-sm">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box box-danger">
                    <div class="box-header">
                        <h4><b>Mapa</b></h4>
                        <div class="box-tools pull-right">
                            <button class="btn btn-block btn-default" id="localizar">Localizar Endereço</button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-10" id="map-canvas-edit">
                                    <div id="map-edit"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Fim LocalizaÃ§Ã£o-->

                <!--fotos: Exibir e editar-->
                <div class="box box-danger">
                    <div class="box-header">
                        <h4><b>Fotos</b></h4>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-4" v-for="(img, index) in fotos">
                                <div class="thumbnail">
                                    <div class="image view">
                                        <img v-img="{title: img.description}" style="width: 100%; display: block;"
                                             :src="img.path" :alt="img.description">

                                    </div>
                                    <div class="caption">
                                        <p>
                                            <a class="btn btn-danger btn-sm"
                                               @click.prevent="destroyFoto(img.id)"
                                               href="#"
                                               data-toggle="tooltip"
                                               data-placement="bottom"
                                               title="Remover"><i class="glyphicon glyphicon-trash"></i>
                                            </a>
                                            <a  href="#"
                                                @click.prevent="editFoto(img)" class="btn btn-warning btn-sm"
                                                v-popover="{name: 'descriptionEdit-'+index}">
                                                <i class="fa fa-edit"></i>
                                            </a>

                                            <popover :name="'descriptionEdit-' + index">
                                                <form @submit.prevent="updateFoto" method="post" enctype="multipart/form-data">
                                                    <div class="form-group">
                                                        <label for="descricao">Descrição</label>
                                                        <textarea name="editdescription"
                                                                  class="form-control input-sm"
                                                                  v-model="editfoto.description"
                                                                  cols="30"
                                                                  rows="10">
                                                        </textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <button type="submit" class="btn btn-success">Salvar</button>
                                                    </div>
                                                </form>
                                            </popover>

                                            <input type="number"
                                                   v-model="img.order"
                                                   placeholder="Ordem"
                                                   @change="changeOrder(img.order, img.id)"
                                                   @input="changeOrder(img.order, img.id)"
                                                   id="editorder"
                                                   name="order"
                                                   class="form-control input-sm">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <!--Adicionar fotos-->
                <div class="box box-danger">
                    <div class="box-header">
                        <h4><b>Adicionar Fotos</b></h4>
                        <div class="box-tool pull-right">
                            <a href="#" @click.prevent="addFile" class="btn btn-success"><i class="fa fa-plus"></i>
                                Adicionar</a>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group">
                                <table class="table table-responsive">
                                    <thead>
                                    <tr class="form-th">
                                        <th>Foto</th>
                                        <th>Descrição</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="(row, index) in editDescription">
                                        <td>
                                            <vue-clip :id="'upload-'+index"
                                                      :on-init="init"
                                                      :on-sending="sendDescription"
                                                      :options="options">
                                                <template slot="clip-uploader-action" slot-scope="props">
                                                    <div class="upload">
                                                        <div class="dz-message">Selecione o arquivo a ser enviado</div>
                                                    </div>
                                                </template>

                                                <template slot="clip-uploader-body" scope="props">
                                                    <div class="preview-image" v-for="file in props.files">
                                                        <!--<img :src="file.dataUrl">-->
                                                        <span><b>{{ file.name }}</b></span>
                                                        <input type="number" name="addorder" v-model="row.order" class="form-control input-sm">
                                                    </div>
                                                </template>
                                            </vue-clip>
                                        </td>
                                        <td>
                                            <textarea type="text" name="description" v-model="row.description" rows="7"
                                                      class="form-control input-sm"></textarea>
                                        </td>
                                        <td>
                                            <a href="#" @click.prevent="removeFile(row)" class="btn btn-danger"><i
                                                    class="fa fa-minus"></i> Remover</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>



                <!--Proprietários-->
                <div class="box box-danger">
                    <div class="box-header">
                        <h4><b>Proprietários</b></h4>
                        <div class="box-tools pull-right">
                            <a href="#" @click.prevent="addRow" class="btn btn-success">
                                <i class="fa fa-plus"></i> Adicionar
                            </a>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group">
                                <table class="table table-responsive">
                                    <thead>
                                    <tr class="form-th">
                                        <th>Nome</th>
                                        <th>Participação %</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="(row, index) of editimovel.load_proprietario">
                                        <td class="col-sm-3">
                                            <label>
                                                <select class="form-control input-sm" v-model="row.PROPRIETARIO_ID"
                                                        name="PROPRIETARIO_ID">
                                                    <option value="">SELECIONE</option>
                                                    <option v-for="(p, index) of proprietarios" :value="p.ID">
                                                        {{ p.NOMERAZAO }}
                                                    </option>
                                                </select>
                                            </label>

                                        </td>
                                        <td class="col-sm-3">
                                            <input type="text" v-model="row.PORCENTAGEM" class="form-control input-sm">
                                        </td>
                                        <td>
                                            <a :href="'/api/imoveis/proprietarios/showproprietario/' + row.PROPRIETARIO_ID"
                                               class="btn btn-sm btn-link"
                                               data-toggle="tooltip"
                                               data-placement="bottom"
                                               title="Visualizar">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                            <a href="#"
                                               @click.prevent="removeRow(index)"
                                               class="btn btn-link btn-sm"
                                               data-toggle="tooltip"
                                               data-placement="bottom"
                                               title="Remover">
                                                <i class="fa fa-minus"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Fim Proprietarios-->

                <!--Caracteristicas-->
                <div class="box box-danger">
                    <div class="box-header">
                        <h4><b>Características Básicas</b></h4>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-md-1"
                                       for="dormitorios">Quarto:</label>
                                <div class="col-md-1">
                                    <input v-model="editimovel.DORMITORIO" class="form-control input-sm"
                                           type="text" name="DORMITORIOS">
                                </div>

                                <label class="control-label col-md-1" for="suites">Suites:</label>
                                <div class="col-md-1">
                                    <input v-model="editimovel.SUITE" class="form-control input-sm"
                                           type="text" name="SUITE">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-md-1"
                                       for="banehiros">Banheiros:</label>
                                <div class="col-md-1">
                                    <input v-model="editimovel.BANHEIRO" class="form-control input-sm"
                                           type="text" name="BANHEIRO">
                                </div>

                                <label class="control-label col-md-1"
                                       for="suites">Garagem:</label>
                                <div class="col-md-1">
                                    <input v-model="editimovel.VAGA" class="form-control input-sm" type="text"
                                           name="VAGA">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box box-danger">
                    <div class="box-header">
                        <h4><b>Caraterísticas Adicionais</b></h4>
                        <div class="box-tools pull-right">
                            <a href="#" @click.prevent="addCaracteristica" class="btn btn-default"><i class="fa fa-plus"></i> Adicionar</a>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group">
                                <table class="table table-responsive">
                                    <thead>
                                    <tr class="form-th">
                                        <th>Item</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="(row, index) in editimovel.CARACTERISTICAS">
                                        <td class="col-sm-3">
                                            <select name="CARACTERISTICA_OPCAO_ID" v-model="row.CARACTERISTICA_OPCAO_ID"
                                                    class="form-control input-sm">
                                                <option value="">SELECIONE</option>
                                                <option v-for="caracteristica in caracteristicas"
                                                        :value="caracteristica.ID">{{caracteristica.NOME}}
                                                </option>
                                            </select>
                                        </td>
                                        <td class="col-sm-3">
                                            <input type="text" class="form-control input-sm" v-model="row.QUANTIDADE">
                                        </td>
                                        <td>
                                            <a href="#" @click.prevent="removeCaracteristica(index)"
                                               class="btn btn-sm btn-danger">Excluir</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Fim Caracteristicas-->

                <!--Informações complementares-->
                <div class="box box-danger">
                    <div class="box-header">
                        <h4><b>Informações Complementares</b></h4>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group">
                                <p class="col-md-1 form-label checkbox">
                                    <input type="checkbox" name="AGUASEPARADA" v-model="editimovel.AGUASEPARADA">
                                    Agua Separada
                                </p>
                                <p class="col-md-1 form-label checkbox">
                                    <input type="checkbox" name="ENERGIASEPARADA" v-model="editimovel.ENERGIASEPARADA">
                                    Energia Separada
                                </p>
                                <p for="" class="col-md-1 form-label checkbox">
                                    <input type="checkbox" name="CERCAELETRICA" v-model="editimovel.CERCAELETRICA">
                                    Cerca elÃ©trica
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <p class="col-md-1 form-label checkbox">
                                    <input type="checkbox"
                                           name="ENTRADAINDEPENDENTE"
                                           v-model="editimovel.ENTRADAINDEPENDENTE">
                                    Entrada Independente
                                </p>
                                <p class="col-md-1 form-label checkbox">
                                    <input type="checkbox"
                                           name="CAMERASEGURANCA"
                                           v-model="editimovel.CAMERASEGURANCA">
                                    CÃ¢mera de SeguranÃ§a
                                </p>
                                <p class="col-md-1 form-label checkbox">
                                    <input type="checkbox"
                                           name="CONDOMINIOFECHADO"
                                           v-model="editimovel.CONDOMINIOFECHADO">
                                    CondomÃ­nio Fechado
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Fim Informações complementares-->

                <!--Documentação-->
                <div class="box box-danger">
                    <div class="box-header">
                        <h4><b>Documentação</b></h4>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group">
                                <label for="" class="control-label col-md-1">Medidor de Agua:</label>
                                <div class="col-md-1">
                                    <input type="text" class="form-control input-sm"
                                           name="REOLOGIOAGUA"
                                           placeholder="N°"
                                           v-model="editimovel.RELOGIOAGUA">
                                </div>

                                <label for="" class="control-label col-md-1">Cód. Cliente:</label>
                                <div class="col-md-1">
                                    <input type="text" class="form-control input-sm" name="CODCLIENTEAGUA"
                                           v-model="editimovel.CODCLIENTEAGUA">
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <label for="" class="control-label col-md-1">Medidor de Luz:</label>
                                <div class="col-md-1">
                                    <input type="text" class="form-control input-sm"
                                           name="RELOGIOLUZ"
                                           placeholder="N°"
                                           v-model="editimovel.RELOGIOLUZ">
                                </div>

                                <label for="" class="control-label col-md-1">Cód. Cliente:</label>
                                <div class="col-md-1">
                                    <input type="text" class="form-control input-sm" name="CODCLIENTELUZ"
                                           v-model="editimovel.CODCLIENTELUZ">
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <label for="" class="control-label col-md-1">Medidor de Gás:</label>
                                <div class="col-md-1">
                                    <input type="text" class="form-control input-sm"
                                           name="RELOGIOGAS"
                                           placeholder="N°"
                                           v-model="editimovel.RELOGIOGAS">
                                </div>

                                <label for="" class="control-label col-md-1">Cód. Cliente</label>
                                <div class="col-md-1">
                                    <input type="text" class="form-control input-sm" name="CODCLIENTEGAS"
                                           v-model="editimovel.CODCLIENTEGAS">
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <label for="" class="control-label col-md-1">IPTU:</label>
                                <div class="col-md-1">
                                    <input type="text" class="form-control input-sm" name="IPTU"
                                           v-model="editimovel.IPTU">
                                </div>

                                <label for="" class="control-label col-md-1">Cód. Cliente:</label>
                                <div class="col-md-1">
                                    <input type="text" class="form-control input-sm" name="CODCLIENTEIPTU"
                                           v-model="editimovel.CODCLIENTEIPTU">
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <label for="" class="control-label col-md-1">N° de Chaves:</label>
                                <div class="col-md-1">
                                    <input type="text" class="form-control input-sm"
                                           name="CHAVESQUADRO"
                                           placeholder="Quantidade"
                                           v-model="editimovel.CHAVESQUADRO">
                                </div>

                                <label for="" class="control-label col-md-1">N° de Controles:</label>
                                <div class="col-md-1">
                                    <input type="text" class="form-control input-sm"
                                           name="QUANTIDADECONTROLES"
                                           placeholder="Quantidade"
                                           v-model="editimovel.QUANTIDADECONTROLES">
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <label for="" class="control-label col-md-1">N° de Matricula:</label>
                                <div class="col-md-1">
                                    <input type="text" class="form-control input-sm" name="MATRICULA"
                                           v-model="editimovel.MATRICULA">
                                </div>

                                <label for="" class="control-label col-md-1">N° do cartóio:</label>
                                <div class="col-md-1">
                                    <input type="text" class="form-control input-sm" name="CARTORIO"
                                           v-model="editimovel.CARTORIO">
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <label for="" class="control-label col-md-1">N° de Registro:</label>
                                <div class="col-md-1">
                                    <input type="text" class="form-control input-sm" name="CARTORIOREGISTRO"
                                           v-model="editimovel.CARTORIOREGISTRO">
                                </div>

                                <label for="" class="control-label col-md-1">Data do Registro:</label>
                                <div class="col-md-2">
                                    <input type="date" class="form-control input-sm" name="CARTORIODATAREGISTRO"
                                           v-model="editimovel.CARTORIODATAREGISTRO">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!--Fim Documentação-->

                <!--Area do Imóvel-->
                <div class="box box-danger">
                    <div class="box-header">
                        <h4><b>Area do imóvel</b></h4>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group">
                                <label for="" class="control-label col-md-1">Construida:</label>
                                <div class="col-md-1">
                                    <input type="text" class="form-control input-sm"
                                           name="CONSTRUIDA"
                                           v-model="editimovel.CONSTRUIDA">
                                </div>

                                <label for="" class="control-label col-md-1">Total:</label>
                                <div class="col-md-1">
                                    <input type="text" class="form-control input-sm"
                                           name="TERRENOTOTALM2"
                                           v-model="editimovel.TERRENOTOTALM2">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label for="" class="control-label col-md-1">Frente:</label>
                                <div class="col-md-1">
                                    <input type="text" class="form-control input-sm"
                                           name="TERRENOFRENTE"
                                           v-model="editimovel.TERRENOFRENTE">
                                </div>

                                <label for="" class="control-label col-md-1">Fundos:</label>
                                <div class="col-md-1">
                                    <input type="text" class="form-control input-sm"
                                           name="TERRENOFUNDOS"
                                           v-model="editimovel.TERRENOFUNDOS">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label for="" class="control-label col-md-1">Esquerda:</label>
                                <div class="col-md-1">
                                    <input type="text" class="form-control input-sm"
                                           name="TERRENOLADOESQUERDO"
                                           v-model="editimovel.TERRENOLADOESQUERDO">
                                </div>

                                <label for="" class="control-label col-md-1">Direita:</label>
                                <div class="col-md-1">
                                    <input type="text" class="form-control input-sm"
                                           name="TERRENOLADODIREITO"
                                           v-model="editimovel.TERRENOLADODIREITO">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Fim Area do imóvel-->

                <!--Administrativo-->
                <div class="box box-danger">
                    <div class="box-header">
                        <h4><b>Administrativo</b></h4>
                    </div>
                    <div class="box-body">
                        <!--<div class="row">
                                            <div class="form-group">
                                                <label for="taxalocacao" class="control-label col-md-1">% Locação</label>
                                                <div class="col-md-1">
                                                    <input type="text" class="form-control input-sm" name="TAXALOCACAO" v-model="fillproprietario.TAXALOCACAO">
                                                </div>

                                                <label for="taxavenda" class="control-label col-md-1">% Venda:</label>
                                                <div class="col-md-1">
                                                    <input type="text" class="form-control input-sm" name="TAXAVENDA" v-model="fillproprietario.TAXAVENDA">
                                                </div>

                                                <label for="taxalocacao" class="control-label col-md-1">Dia de Repasse:</label>
                                                <div class="col-md-1">
                                                    <input type="text" class="form-control input-sm" name="REPASSE" v-model="fillproprietario.REPASSE">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <label for="corretor" class="control-label col-md-1">Corretor:</label>
                                                <div class="col-md-11">
                                                    <select name="CORRETOR" class="form-control input-sm">
                                                        <option value="">Nenhum</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div v-show="tabsel == 'show'">
                                            <div class="row">
                                                <div class="form-group">
                                                    <label for="cadastrado" class="control-label col-md-1">Cadastrado em:</label>
                                                    <div class="col-md-1">
                                                        <input type="text" class="form-control input-sm" name="created_at">
                                                    </div>

                                                    <label for="usuario" class="control-label col-md-1">Usuário:</label>
                                                    <div class="col-md-1">
                                                        <input type="text" class="form-control input-sm" name="USUARIO_ID">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group">
                                                    <label for="atualizado" class="control-label col-md-1">Atualizado em:</label>
                                                    <div class="col-md-1">
                                                        <input type="text" class="form-control input-sm" name="updated_at">
                                                    </div>

                                                    <label for="usuario" class="control-label col-md-1">Usuário:</label>
                                                    <div class="col-md-1">
                                                        <input type="text" class="form-control input-sm" name="USUARIO_ID">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group">
                                                <label for="observacoes" class="control-label col-md-1">Observações:</label>
                                                <div class="col-md-11">
                                                    <textarea name="OBSERVACOES" v-model="fillproprietario.OBSERVACOES" cols="30" rows="10" class="form-control input-sm"></textarea>
                                                </div>
                                            </div>
                                            &lt;!&ndash;Fim Admiunistrativo&ndash;&gt;
                                        </div>-->

                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-md-1"
                                       for="suites">Observações:</label>
                                <div class="col-md-11">
                                	<textarea v-model="editimovel.DESCRICAO" name="DESCRICAO"
                                              class="form-control input-sm"
                                              cols="30"
                                              rows="10"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-md-1"
                                       for="suites">Descrição Site:</label>
                                <div class="col-md-11">
                                	<textarea v-model="editimovel.DESCRICAOSITE" name="DESCRICAO"
                                              class="form-control input-sm"
                                              cols="30"
                                              rows="10"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Fim Cadastro-->
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                editimovel: {
                    'ID': '',
                    'rows': [{IMOVEL_ID: '', PROPRIETARIO_ID: '', IMOVEL_ID: ''}],
                    'CARACTERISTICAS': [],
                    'load_proprietario': [],
                    'OUTRO_ID': '',
                    'EMPREENDIMENTO_ID': '',
                    'IMOVEL_SUBTIPO_ID': '',
                    'CODIGO': '',
                    'CODIGOANUNCIO': '',
                    'CHAVESENTREGA': '',
                    'INATIVO': 'Não',
                    'OPCAOSF': 'Não',
                    'OCUPADO': 'Não',
                    'FIADOR': 'Não',
                    'DEPOSITO': 'Não',
                    'PLACA': 'Não',
                    'TIPOGARANTIA': '',
                    'DATACAPTACAO': '',
                    'CHAVESQUADRO': '',
                    'TIPOENDERECO': '',
                    'ENDERECO': '',
                    'NUMERO': '',
                    'COMPLEMENTO': '',
                    'CEP': '',
                    'BAIRRO': '',
                    'CIDADE': '',
                    'UF': '',
                    'GUIA': '',
                    'TIPO': '',
                    'RELOGIOLUZ': '',
                    'RELOGIOAGUA': '',
                    'RELOGIOGAS': '',
                    'CODCLIENTELUZ': '',
                    'CODCLIENTEAGUA': '',
                    'CODCLIENTEGAS': '',
                    'CODCLIENTEIPTU': '',
                    'QUANTIDADECONTROLES': '',
                    'VISITA': 'Não',
                    'DORMITORIO': '',
                    'BANHEIRO': '',
                    'SUITE': '',
                    'ENERGIASEPARADA': '',
                    'AGUASEPARADA': '',
                    'CONDOMINIOFECHADO': '',
                    'ENTRADAINDEPENDENTE': '',
                    'CERCAELETRICA': '',
                    'CAMERASEGURANCA': '',
                    'TERRENOLADOESQUERDO': '',
                    'TERRENOLADODIREITO': '',
                    'CONSTRUIDA': '',
                    'VAGA': '',
                    'IPTU': '',
                    'MATRICULA': '',
                    'VALORVENDA': 0,
                    'VALORLOCACAO': 0,
                    'VALORCONDOMINIO': 0,
                    'VENDA': 'Não',
                    'LOCACAO': 'Não',
                    'TERRENOTOTALM2': '',
                    'STATUS': 'Disponível',
                    'HORARIOVISITA': '',
                    'DESCRICAO': '',
                    'CONDOMINIOAGUA': 'Não',
                    'CONDOMINIOLUZ': 'Não',
                    'CONDOMINIOGAS': 'Não',
                    'CONDOMINIOTVCABO': 'Não',
                    'CONDOMINIOIPTU': 'Não',
                    'TERRENOFRENTE': 0,
                    'TERRENOFUNDOS': 0,
                    'TERRENORAIO': 0,
                    'LATITUDE': 0,
                    'LONGITUDE': 0,
                    'ALTITUDE': 0,
                    'DATAFINALCONTRATO': '',
                    'VALORLOCACAOM2': 0,
                    'VALORVENDAM2': 0,
                    'EXCLUSIVIDADE': '',
                    'FRENTEPARA': '',
                    'FUNDOSPARA': '',
                    'ESQUERDAPARA': '',
                    'DIREITAPARA': '',
                    'CARTORIODATAREGISTRO': '',
                    'CARTORIOFOLHA': '',
                    'CARTORIOREGISTRO': '',
                    'CARTORIOLIVRO': '',
                    'CARTORIO': '',
                    'TIPOZONA': '',
                    'DESTAQUE': '',
                    'COMPLEMENTOANDAR': '',
                    'COMPLEMENTOAPTO': '',
                    'DESCRICAOSITE': '',
                    'LANCAMENTO': 'Não',
                    'TEMPORADA': 'Não',
                    'VALORIPTU': 0,
                    'DIVULGARVALOR': 'Não',
                    'PARAMETRIZACAO_ID': '',
                    'VALORVENDACUSTO': '',
                    'AREAUTIL': '',
                    'SITEDIVULGAR': 'Não',
                    'SITE_VISITAS': 0,
                    'DATAGRAVACAO': '',
                    'PAIS': '',
                },
                tabsel: '',
                editDescription: [],
                proprietarios: {},
                caracteristicas: {},
                categorias: {},
                enterprises: {},
                fotos: [],
                editfoto: {},
                options: {
                    url: "/api/fotos/upload",
                    maxFileSize: 80,
                    maxFiles: 1,
                    method: 'post',
                    uploadMultiple: false,
                    autoProcessQueue: false
                },
            }
        },

        created() {
            this.getProprietarios();
            this.getCaracteristicas();
            this.getCategorias();
            this.returnData();
            $('[data-toggle="tooltip"]').tooltip();

        },

        mounted() {
            $(function () {
                $('#action').click(function () {
                    var panel = $('.action-panel');
                    //var panel_position = panel.position();
                    if(panel.hasClass('active')) {
                        panel.removeClass('active');
                    } else {
                        panel.addClass('active');
                    }

                });
            });
        },

        methods: {

            init(uploader) {
                $('#imovel-edit').on('submit', function () {
                    uploader.uploader._uploader.processQueue();
                });
            },

            sendDescription(file, xhr, formData) {
                for (var i = 0; i < this.editDescription.length; i++) {
                    formData.append('description', this.editDescription[i].description);
                    formData.append('order', this.editDescription[i].order);
                    formData.append('codigo', this.editimovel.CODIGO);
                }
            },

            addFile() {
                this.editDescription.push({description: '', order: ''});
            },

            removeFile(row) {
                this.editDescription.splice(row, 1);
            },

            getFotos(id) {
                var id = id;
                axios.get('/api/fotos/' + id).then((response) => {
                    this.fotos = response.data;
                });
            },


            getProprietarios() {
                axios.get('/api/proprietarios').then((response) => {
                    this.proprietarios = response.data;
                });
            },

            getCaracteristicas() {
                axios.get('/api/caracteristicas').then((response) => {
                    this.caracteristicas = response.data;
                });
            },

            getInfoCaracteristicas(id) {
                axios.get('/api/caracteristicas/info/' + id).then(response => {
                    this.editimovel.CARACTERISTICAS = response.data;
                });
            },

            getCategorias() {
                axios.get('/api/categorias').then((response) => {
                    this.categorias = response.data;
                });
            },

            getEnterprises() {
                axios.get('/api/empreendimentos/').then((response) => {
                    this.enterprises = response.data;
                });
            },

            returnData() {
                var id = location.href.split('/').pop();

                axios.get('/api/imoveis/info/' + id).then((response) => {
                    //console.log(response.data);
                    
                    this.tabsel = 'edit';
                    
                    this.editimovel.ID = response.data[0].ID;
                    this.editimovel.OUTRO_ID = response.data[0].OUTRO_ID;
                    this.editimovel.EMPREENDIMENTO_ID = response.data[0].EMPREENDIMENTO_ID;
                    this.editimovel.IMOVEL_SUBTIPO_ID = response.data[0].IMOVEL_SUBTIPO_ID;
                    this.editimovel.CODIGO = response.data[0].CODIGO;
                    this.editimovel.CODIGOANUNCIO = response.data[0].CODIGOANUNCIO;
                    this.editimovel.CHAVESENTREGA = response.data[0].CHAVESENTREGA;
                    this.editimovel.INATIVO = response.data[0].INATIVO;
                    this.editimovel.HONORARIOSLOCACAO = response.data[0].HONORARIOSLOCACAO;
                    this.editimovel.HONORARIOSVENDA = response.data[0].HONORARIOSVENDA;
                    this.editimovel.OPCAOSF = response.data[0].OPCAOSF;
                    this.editimovel.OCUPADO = response.data[0].OCUPADO;
                    this.editimovel.FIADOR = response.data[0].FIADOR;
                    this.editimovel.DEPOSITO = response.data[0].DEPOSITO;
                    this.editimovel.PLACA = response.data[0].PLACA;
                    this.editimovel.TIPOGARANTIA = response.data[0].TIPOGARANTIA;
                    this.editimovel.DATACAPTACAO = response.data[0].DATACAPTACAO;
                    this.editimovel.CHAVESQUADRO = response.data[0].CHAVESQUADRO;
                    this.editimovel.TIPOENDERECO = response.data[0].TIPOENDERECO;
                    this.editimovel.ENDERECO = response.data[0].ENDERECO;
                    this.editimovel.NUMERO = response.data[0].NUMERO;
                    this.editimovel.COMPLEMENTO = response.data[0].COMPLEMENTO;
                    this.editimovel.CEP = response.data[0].CEP;
                    this.editimovel.BAIRRO = response.data[0].BAIRRO;
                    this.editimovel.CIDADE = response.data[0].CIDADE;
                    this.editimovel.UF = response.data[0].UF;
                    this.editimovel.GUIA = response.data[0].GUIA;
                    this.editimovel.TIPO = response.data[0].TIPO;
                    this.editimovel.RELOGIOLUZ = response.data[0].RELOGIOLUZ;
                    this.editimovel.RELOGIOAGUA = response.data[0].RELOGIOAGUA;
                    this.editimovel.RELOGIOGAS = response.data[0].RELOGIOGAS;
                    this.editimovel.CODCLIENTELUZ = response.data[0].CODCLIENTELUZ;
                    this.editimovel.CODCLIENTEAGUA = response.data[0].CODCLIENTEAGUA;
                    this.editimovel.CODCLIENTEGAS = response.data[0].CODCLIENTEGAS;
                    this.editimovel.CODCLIENTEIPTU = response.data[0].CODCLIENTEIPTU;
                    this.editimovel.QUANTIDADECONTROLES = response.data[0].QUANTIDADECONTROLES;
                    this.editimovel.VISITA = response.data[0].VISITA;
                    this.editimovel.DORMITORIO = response.data[0].DORMITORIO;
                    this.editimovel.BANHEIRO = response.data[0].BANHEIRO;
                    this.editimovel.SUITE = response.data[0].SUITE;
                    this.editimovel.ENERGIASEPARADA = response.data[0].ENERGIASEPARADA;
                    this.editimovel.AGUASEPARADA = response.data[0].AGUASEPARADA;
                    this.editimovel.CONDOMINIOFECHADO = response.data[0].CONDOMINIOFECHADO;
                    this.editimovel.ENTRADAINDEPENDENTE = response.data[0].ENTRADAINDEPENDENTE;
                    this.editimovel.CAMERASEGURANCA = response.data[0].CAMERASEGURANCA;
                    this.editimovel.CERCAELETRICA = response.data[0].CERCAELETRICA;
                    this.editimovel.TERRENOLADOESQUERDO = response.data[0].TERRENOLADOESQUERDO;
                    this.editimovel.TERRENOLADODIREITO = response.data[0].TERRENOLADODIREITO;
                    this.editimovel.CONSTRUIDA = response.data[0].CONSTRUIDA;
                    this.editimovel.VAGA = response.data[0].VAGA;
                    this.editimovel.IPTU = response.data[0].IPTU;
                    this.editimovel.MATRICULA = response.data[0].MATRICULA;
                    this.editimovel.VALORVENDA = response.data[0].VALORVENDA;
                    this.editimovel.VALORLOCACAO = response.data[0].VALORLOCACAO;
                    this.editimovel.VALORCONDOMINIO = response.data[0].VALORCONDOMINIO;
                    this.editimovel.VENDA = response.data[0].VENDA;
                    this.editimovel.LOCACAO = response.data[0].LOCACAO;
                    this.editimovel.TERRENOTOTALM2 = response.data[0].TERRENOTOTALM2;
                    this.editimovel.STATUS = response.data[0].STATUS;
                    this.editimovel.HORARIOVISITA = response.data[0].HORARIOVISITA;
                    this.editimovel.DESCRICAO = response.data[0].DESCRICAO;
                    this.editimovel.CONDOMINIOAGUA = response.data[0].CONDOMINIOAGUA;
                    this.editimovel.CONDOMINIOLUZ = response.data[0].CONDOMINIOLUZ;
                    this.editimovel.CONDOMINIOGAS = response.data[0].CONDOMINIOGAS;
                    this.editimovel.CONDOMINIOTVCABO = response.data[0].CONDOMINIOTVCABO;
                    this.editimovel.CONDOMINIOIPTU = response.data[0].CONDOMINIOIPTU;
                    this.editimovel.TERRENOFRENTE = response.data[0].TERRENOFRENTE;
                    this.editimovel.TERRENOFUNDOS = response.data[0].TERRENOFUNDOS;
                    this.editimovel.TERRENORAIO = response.data[0].TERRENORAIO;
                    this.editimovel.LATITUDE = response.data[0].LATITUDE;
                    this.editimovel.LONGITUDE = response.data[0].LONGITUDE;
                    this.editimovel.ALTITUDE = response.data[0].ALTITUDE;
                    this.editimovel.DATAFINALCONTRATO = response.data[0].DATAFINALCONTRATO;
                    this.editimovel.VALORLOCACAOM2 = response.data[0].VALORLOCACAOM2;
                    this.editimovel.VALORVENDAM2 = response.data[0].VALORVENDAM2;
                    this.editimovel.EXCLUSIVIDADE = response.data[0].EXCLUSIVIDADE;
                    this.editimovel.FRENTEPARA = response.data[0].FRENTEPARA;
                    this.editimovel.FUNDOSPARA = response.data[0].FUNDOSPARA;
                    this.editimovel.ESQUERDAPARA = response.data[0].ESQUERDAPARA;
                    this.editimovel.DIREITAPARA = response.data[0].DIREITAPARA;
                    this.editimovel.CARTORIODATAREGISTRO = response.data[0].CARTORIODATAREGISTRO;
                    this.editimovel.CARTORIOFOLHA = response.data[0].CARTORIOFOLHA
                    this.editimovel.CARTORIOREGISTRO = response.data[0].CARTORIOREGISTRO;
                    this.editimovel.CARTORIOLIVRO = response.data[0].CARTORIOLIVRO;
                    this.editimovel.CARTORIO = response.data[0].CARTORIO;
                    this.editimovel.TIPOZONA = response.data[0].TIPOZONA;
                    this.editimovel.DESTAQUE = response.data[0].DESTAQUE;
                    this.editimovel.COMPLEMENTOANDAR = response.data[0].COMPLEMENTOANDAR;
                    this.editimovel.COMPLEMENTOAPTO = response.data[0].COMPLEMENTOAPTO;
                    this.editimovel.DESCRICAOSITE = response.data[0].DESCRICAOSITE;
                    this.editimovel.LANCAMENTO = response.data[0].LANCAMENTO;
                    this.editimovel.TEMPORADA = response.data[0].TEMPORADA;
                    this.editimovel.VALORIPTU = response.data[0].VALORIPTU;
                    this.editimovel.DIVULGARVALOR = response.data[0].DIVULGARVALOR;
                    this.editimovel.PARAMETRIZACAO_ID = response.data[0].PARAMETRIZACAO_ID;
                    this.editimovel.VALORVENDACUSTO = response.data[0].VALORVENDACUSTO;
                    this.editimovel.AREAUTIL = response.data[0].AREAUTIL;
                    this.editimovel.SITEDIVULGAR = response.data[0].SITEDIVULGAR;
                    this.editimovel.SITE_VISITAS = response.data[0].SITE_VISITAS;
                    this.editimovel.DATAGRAVACAO = response.data[0].DATAGRAVACAO;
                    this.editimovel.PAIS = response.data[0].PAIS;
                    this.editimovel.load_proprietario = response.data[0].load_proprietario;

                    this.getFotos(response.data[0].CODIGO);
                    this.getInfoCaracteristicas(response.data[0].ID);
                    


                    var that = this;


                    if (this.editimovel.LATITUDE !== null && this.editimovel.LONGITUDE !== null) {
                        var points = {
                            lat: this.editimovel.LATITUDE,
                            lng: this.editimovel.LONGITUDE
                        };
                        $(document).ready(function () {
                            var map = new GMaps({
                                el: '#map-edit',
                                lat: points.lat,
                                lng: points.lng,
                                zoom: 18,
                                width: '100%',
                                height: '600px'
                            });
                            var marker = map.addMarker({
                                lat: points.lat,
                                lng: points.lng,
                                title: "teste",
                                draggable: true,
                                drag: function (e) {
                                    that.editimovel.LATITUDE = this.position.lat();
                                    that.editimovel.LONGITUDE = this.position.lng();
                                }
                            });

                            var location;

                            $('#localizar').click(function (e) {
                                e.preventDefault();
                                GMaps.geocode({
                                    address: that.editimovel.TIPOENDERECO + ' ' + that.editimovel.ENDERECO
                                    + that.editimovel.NUMERO
                                    + that.editimovel.CIDADE
                                    + that.editimovel.UF,
                                    callback: function(results, status) {
                                        if (status == 'OK') {
                                            //map.removeMarker(marker);
                                            location = results[0].geometry.location;
                                            that.editimovel.LATITUDE = location.lat();
                                            that.editimovel.LONGITUDE = location.lng();
                                            map.setCenter(location.lat(), location.lng());
                                            marker.setPosition(location);

                                            //map.removeMarker(marker);
                                            /*marker = map.addMarker({
                                                lat: location.lat(),
                                                lng: location.lng(),
                                                draggable: true,
                                                title: that.ENDERECO,
                                                drag: function () {
                                                    that.editimovel.LATITUDE = location.lat();
                                                    that.editimovel.LONGITUDE = location.lng();
                                                }
                                            });*/
                                        }
                                    }
                                });
                            });
                        });
                    } else {
                        $(document).ready(function () {
                            var map = new GMaps({
                                el: '#map-edit',
                                lat: -20.042298,
                                lng: -47.756618,
                                zoom: 18,
                                width: '100%',
                                height: '600px',
                            });

                            var marker;
                            var location;

                            $('#localizar').click(function (e) {
                                e.preventDefault();
                                GMaps.geocode({
                                    address: that.editimovel.TIPOENDERECO + ' ' + that.editimovel.ENDERECO
                                    + that.editimovel.NUMERO
                                    + that.editimovel.CIDADE
                                    + that.editimovel.UF,
                                    callback: function(results, status) {
                                        if (status == 'OK') {
                                            location = results[0].geometry.location;
                                            that.editimovel.LATITUDE = location.lat();
                                            that.editimovel.LONGITUDE = location.lng();
                                            map.setCenter(location.lat(), location.lng());
                                            map.addMarker({
                                                lat: location.lat(),
                                                lng: location.lng(),
                                                draggable: true,
                                                title: that.editimovel.ENDERECO,
                                                drag: function () {
                                                    that.editimovel.LATITUDE = location.lat();
                                                    that.editimovel.LONGITUDE = location.lng();
                                                }
                                            });
                                        }
                                    }
                                });
                            });

                            /*marker = map.addMarker({
                                lat: -20.042298,
                                lng: -47.756618,
                                draggable: true,
                                title: "Imóvel",
                                drag: function (e) {
                                    location = {
                                        lat: marker.getPosition().lat(),
                                        lng: marker.getPosition().lng()
                                    };

                                    that.editimovel.LATITUDE = location.lat;
                                    that.editimovel.LONGITUDE = location.lng;
                                }
                            });*/
                        });
                    }
                });
            },

            updateImovel() {

                var input = this.editimovel;

                axios.put('/api/imoveis/' + input.ID, input).then((response) => {
                    this.$nextTick(function () {
                        this.getFotos(this.editimovel.CODIGO);
                        this.editDescription = [];
                        this.returnData();
                        toastr.success(response.data.message);
                    });

                });
            },

            editFoto(img) {
                this.editfoto = img;
            },

            updateFoto() {
                var foto_input = this.editfoto;

                axios.put('/api/fotos/upload/' + foto_input.id, foto_input).then((response) => {

                    this.$nextTick(function () {
                        this.getFotos(this.editimovel.CODIGO);
                        toastr.success(response.data.message);
                    });
                });
            },

            changeOrder(order, id) {
                var inputorder = order;
                if (inputorder != '' && inputorder != 0) {
                    axios.put('/api/imoveis/fotos/upload/changeorder/' + id, {order: inputorder})
                        .then((response) => {
                            this.$nextTick(function () {
                                this.getFotos(this.editimovel.CODIGO);
                            });
                        });
                }

            },

            destroyFoto(id) {
                axios.delete('/api/fotos/upload/'+id).then((response) => {
                    this.$nextTick(function () {
                        this.getFotos(this.editimovel.CODIGO);
                    });
                });
            },

            addRow() {
                this.editimovel.load_proprietario.push({PROPRIETARIO_ID: '', PORCENTAGEM: ''});
            },

            removeRow(row) {
                if (this.tabsel == 'edit') {
                    this.editimovel.load_proprietario.splice(row, 1);
                }
            },

            statusDisableImovel(imovelID) {
                this.editimovel.INATIVO = "Sim";
                axios.put('/api/imoveis/status/' + imovelID, { INATIVO: this.editimovel.INATIVO }).then((response) => {
                    toastr.success(response.data.message);
                });
            },

            statusEnableImovel(imovelID) {

                this.editimovel.INATIVO = "Não";
                axios.put('/api/imoveis/status/' + imovelID, { INATIVO: this.editimovel.INATIVO }).then((response) => {
                    toastr.success(response.data.message);
                });
            },

            addCaracteristica() {
                this.editimovel.CARACTERISTICAS.push({CARACTERISTICA_OPCAO_ID: '', IMOVEL_ID: '', QUANTIDADE: ''});
            },

            removeCaracteristica(row) {
                //console.log(row);
                this.editimovel.CARACTERISTICAS.splice(row,1);
            },



            closeWindow() {
                if(history.length === 1) {
                    window.close();
                } else {
                    document.getElementById("fechar").href = "/admin/imoveis";
                }
            }
        },

        openActionPanel() {
            $(function () {
                $('#actions').panel('open');
            });
        },

        consolePrevent() {
            console.log("prevent");
        }
    }

</script>