<template>
    <div class="row">
        <div class="x_panel">
            <div class="x_content">
                <div role="tabpanel" data-example-id="toggable-tabs">
                    <ul id="imoveis" class="nav nav-tabs bar_tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#empreendimento-list" id="empreendimento-tab" role="tab" data-toggle="tab"
                               aria-expanded="false">Listar Empreendimentods</a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#subtipos-add" id="empreendimentos-add-tab" data-toggle="tab"
                               aria-expanded="true">Adicionar Empreendimento</a>
                        </li>
                    </ul>

                    <div id="empreendimento-content" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="empreendimento-list"
                             aria-labelledby="empreendimento-tab">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped jambo_table bulk_action">
                                        <thead>
                                            <tr class="headings">
                                                <th class="column-title">Nome</th>
                                                <th class="column-title">Zelador</th>
                                                <th class="column-title">Porteiro</th>
                                                <th class="column-title">Telefone</th>
                                                <th class="column-title">Ações</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="empreendimento in empreendimentos">
                                                <td>{{ empreendimento.NOME }}</td>
                                                <td>{{ empreendimento.ZELADOR }}</td>
                                                <td>{{ empreendimento.PORTEIRO }}</td>
                                                <td>{{ empreendimento.TELEFONE1 }}</td>
                                                <td>
                                                    <button class="btn btn-warning" @click.prevent="editEmpreendimentos(empreendimento)">
                                                        <i class="fa fa-edit"></i> <span>Editar</span>
                                                    </button>
                                                    <button class="btn btn-danger" @click.prevent="destroyEmpreendimentos(empreendimento)">
                                                        <i class="fa fa-trash"></i> <span>Excluir</span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="text-center">
                                        <paginas :source="pagination" @navigate="navigate"></paginas>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="subtipos-add" aria-labelledby="subtipos-add-tab">

                            <form class="form-horizontal form-label-left" enctype="multipart/form-data" method="post"
                                  v-on:submit.prevent="createEmpreendimento">
                                <div class="row">
                                    <div class="form-group">
                                        <label for="nome" class="control-label col-md-2">Nome:</label>
                                        <div class="col-md-6">
                                            <input  v-model="newempreendimento.NOME" type="text" class=".form-control" name="NOME">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label for="zelador" class="control-label col-md-2">Zelador:</label>
                                        <div class="col-md-6">
                                            <input  v-model="newempreendimento.ZELADOR" type="text" class=".form-control" name="NOME">
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label for="porteiro" class="control-label col-md-2">Porteiro:</label>
                                        <div class="col-md-6">
                                            <input  v-model="newempreendimento.PORTEIRO" type="text" class=".form-control" name="PORTEIRO">
                                        </div>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <label for="telefone" class="control-label col-md-2">Telefone</label>
                                        <div class="col-md-6">
                                            <input v-model="newempreendimento.TELEFONE1" type="text" class=".form-control" name="TELEFONE1">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-success">Gravar</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <!--Modal para editar Empreendimentos-->
                <div class="modal fade bs-example-modal-lg" id="edit-item" tabindex="-1" role="dialog"
                     aria-hidden="true">
                    <div class="modal-dialog modal-xg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">X</span>
                                </button>
                                <h3 class="modal-title">Editar - {{ fillempreendimento.NOME }}</h3>
                            </div>
                            <div class="modal-body">
                                <form class="form-horizontal form-label-left" enctype="multipart/form-data" method="post"
                                      v-on:submit.prevent="updateEmpreendimentos">
                                    <div class="row">
                                        <div class="form-group">
                                            <label for="nome" class="control-label col-md-2">Nome:</label>
                                            <div class="col-md-6">
                                                <input  v-model="fillempreendimento.NOME" type="text" class=".form-control" name="NOME">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <label for="zelador" class="control-label col-md-2">Zelador:</label>
                                            <div class="col-md-6">
                                                <input  v-model="fillempreendimento.ZELADOR" type="text" class=".form-control" name="NOME">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <label for="porteiro" class="control-label col-md-2">Porteiro:</label>
                                            <div class="col-md-6">
                                                <input  v-model="fillempreendimento.PORTEIRO" type="text" class=".form-control" name="PORTEIRO">
                                            </div>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group">
                                            <label for="telefone" class="control-label col-md-2">Telefone</label>
                                            <div class="col-md-6">
                                                <input v-model="fillempreendimento.TELEFONE1" type="text" class=".form-control" name="TELEFONE1">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-success">Gravar</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</template>

<script>
    export default {
        data() {
            return {
                empreendimentos: {},
                pagination: {},
                newempreendimento: {'NOME': '', 'ZELADOR': '', 'PORTEIRO': '', 'TELEFONE1': ''},
                fillempreendimento: {'NOME': '', 'ZELADOR': '', 'PORTEIRO': '', 'TELEFONE1': '', 'ID': ''},
            }
        },

        created() {
            this.getEmpreendimentos();
        },

        methods: {
            navigate(page) {
                this.getEmpreendimentos(page);
            },

            getEmpreendimentos(page) {
                this.$http.get('/admin/imoveis/empreendimentos?page=' + page).then((response) => {
                    this.empreendimentos = response.data.data;
                    this.pagination = response.body;
                }).bind(this);
            },

            createEmpreendimento() {
                var input = this.newempreendimento;
                this.$http.post('/admin/imoveis/empreendimentos', input).then((response) => {
                    this.newempreendimento = {'NOME': '', 'ZELADOR': '', 'PORTEIRO': '', 'TELEFONE1': ''};
                    //toastr.success(response.body.message);
                });
            },

            editEmpreendimentos(item) {
                var edit = this.fillempreendimento;
                edit.NOME = item.NOME;
                edit.ZELADOR = item.ZELADOR;
                edit.PORTEIRO = item.PORTEIRO;
                edit.TELEFONE1 = item.TELEFONE1;
                edit.ID = item.ID;
                $('#edit-item').modal('show');
            },

            updateEmpreendimentos() {
                var input = this.fillempreendimento;
                this.$http.put('/admin/imoveis/empreendimentos/'+input.ID, input).then((response) => {
                    this.fillempreendimento = {'NOME': '', 'ZELADOR': '', 'PORTEIRO': '', 'TELEFONE1': '', 'ID': ''};
                    $('#edit-item').modal('hide');
                    //toastr.success(response.body.message);
                    this.navigate(this.pagination.current_page);
                });
            },

            destroyEmpreendimentos(item) {
                this.$http.delete('/admin/imoveis/empreendimentos/'+item.ID).then((response) => {
                    //toastr.error(response.body.message);
                    this.navigate(this.pagination.current_page);
                });
            },

        }
    }
</script>