<template>
    <div class="box">
        <div class="box-header">
            <h3><b>Imóveis</b></h3>
            <div class="row">
                <a href="/admin/imoveis/add" class="btn btn-limk"><i class="fa fa-plus"></i> Novo Imóvel</a>
            </div>
        </div>
        <div class="box-body">
            <vue-good-table
                        :columns="columns"
                        :rows="imoveis"
                        :paginate="true"
                        :perPage="50"
                        nextText="Próximo"
                        prevText="Anterior"
                        rowsPerPageText="Registros"
                        responsive="true"
                        ofText="de">
                    <template slot="table-row" slot-scope="props">
                        <td>{{ props.row.CODIGO }}</td>
                        <td>{{ props.row.STATUS }}</td>
                        <td>{{ props.row.TIPOENDERECO }}</td>
                        <td>{{ props.row.ENDERECO }}</td>
                        <td>{{ props.row.NUMERO }}</td>
                        <td>{{ props.row.TIPO }}</td>
                        <td>{{ props.row.VALORLOCACAO }}</td>
                        <td>{{ props.row.VALORVENDA }}</td>
                        <td>
                            <a class="btn btn-link"
                               :href="'/admin/imoveis/'+ props.row.ID">
                                <i class="fa fa-eye"></i>
                            </a>

                            <a class="btn btn-link"
                               :href="'/admin/imoveis/edit/'+ props.row.ID">
                                <i class="fa fa-edit"></i>
                            </a>
                        </td>
                    </template>
                </vue-good-table>
        </div>
    </div>

</template>

<script>
    export default {
        data() {
            return {
                imoveis: [],
                enterprises: {},
                categorias: {},
                caracteristicas: {},
                columns: [
                    {
                        label: 'Código',
                        field: 'CODIGO',
                        placeholder: 'Código',
                        width: '100px',
                        type: 'number',
                        filterable: true,
                    },
                    {
                        label: 'Situação',
                        field: 'STATUS',
                        placeholder: 'Situação',
                        filterable: true,
                        filterDropdown: true,
                        filterOptions: ['Disponível', 'Alugado'],
                    },
                    {
                        label: 'Log',
                        field: 'TIPOENDERECO',
                    },
                    {
                        label: 'Nome',
                        field: 'ENDERECO',
                        placeholder: 'Rua',
                        filterable: true,
                    },
                    {
                        label: 'N°',
                        field: 'NUMERO',
                    },
                    {
                        label: 'Tipo',
                        field: 'TIPO',
                        placeholder: 'Tipo de Imóvel',
                        filterable: true,
                    },
                    {
                        label: 'Locação R$',
                        field: 'VALORLOCACAO',
                    },
                    {
                        label: 'Vemda R$',
                        field: 'VALORVENDA',
                    },
                    {
                        label: 'Ações'
                    }
                ],
                proprietarios: {},
                checagem: {
                    'sim': 'Sim',
                    'nao': 'Não'
                },

                /*options: {
                    url: "/admin/imoveis/fotos/upload",
                    maxFileSize: 80,
                    maxFiles: 1,
                    uploadMultiple: false,
                    autoProcessQueue: false
                },*/
                /*imageInfo: [],*/
                tabsel: '',
            }
        },

        created() {
            this.getImoveis();
            /*this.getCategorias();
            this.getEnterprises();
            this.getProprietarios();
            this.getCaracteristicas();*/
        },

        //props: ['url', document.location.href+'/maps/main-map.html'],

        methods: {
            getEnterprises() {
                axios.get('/admin/imoveis/empreendimentos/all').then((response) => {
                    this.enterprises = response.body;
                });
            },

            getCategorias() {
                axios.get('/admin/imoveis/categorias').then((response) => {
                    this.categorias = response.body;
                });
            },

            getProprietarios() {
                axios.get('/admin/imoveis/proprietarios/all').then((response) => {
                    this.proprietarios = response.body;
                });
            },

            getCaracteristicas() {
                axios.get('/admin/imoveis/caracteristicas').then((response) => {
                    this.caracteristicas = response.body;
                });
            },

            getImoveis() {
                axios.get('/api/imoveis/').then((response) => {
                    this.imoveis = response.data;
                    console.log(response);
                });
            },

            destroyImovel(imovel) {
                axios.delete('/admin/imoveis/propriedades/'+imovel.ID).then((response) => {
                    toastr.error(response.data.message);
                    this.navigate(this.pagination.current_page);
                });
            },

            addRow() {
                this.newimovel.rows.push({PROPRIETARIO_ID: '', PORCENTAGEM: ''});
            },

            addFile() {
                this.newimovel.imageDescription.push({description: ''});
            },

            removeFile(row) {
                this.newimovel.imageDescription.splice(row, 1);
            },

            removeRow(row) {
                this.newimovel.rows.splice(row, 1);
            },

            addCaracteristica() {
                this.newimovel.CARACTERISTICAS.push({CARACTERISTICA_OPCAO_ID: '', IMOVEL_ID: '', QUANTIDADE: ''});
            },

            removeCaracteristica(row) {
                //console.log(row);
                this.newimovel.CARACTERISTICAS.splice(row,1);
            },
        }
    }
</script>