<template>
   <html>
      <body>
         <div class="google-map">
            <div :id="mapName" style="height: 100%"></div>
         </div>
      </body>
   </html>

</template>
<style scoped>

   html, body, template {
      width: 100%;
      height: 100%;
   }

    .google-map {
       width: 100%;
       height: 500px;
       margin: 0;
       padding: 0;
       background: gray;
    }

    /*body, html #map-canvas {
       height: 100%;
       width: 100%;
    }*/
</style>

<script>
    export default {
        name: 'google-map',
        props: ['name'],
        data() {
            return {
                mapName: this.name + "-map",
            }
        },

        mounted() {
            this.initMap();
        },

        methods: {

            initMap() {
                const element = document.getElementById(this.mapName);
                const options = {
                    zoom: 14,
                    center: new google.maps.LatLng(51.501527,-0.1921837)
                };

                var map = new google.maps.Map(element, options);
                google.maps.event.trigger(map, "resize");
            }
        }
    }
</script>