<template>
    <div class="box box-danger">
        <div class="box-header">
            <h4>Proprietários</h4>
            <div class="box-tools pull-right">
                <a href="/admin/proprietarios/add" class="btn btn-success"><i class="fa fa-plus"></i> Novo Proprietario</a>
            </div>
        </div>
        <div class="box-body">
            <vue-good-table
                    title="Proprietários"
                    :columns="columns"
                    :rows="proprietarios"
                    :paginate="true"
                    :perPage="50"
                    nextText="Próximo"
                    prevText="Anterior"
                    rowsPerPageText="Registros"
                    styleClass="table table-bordered condensed">
                <template slot="table-row" scope="props">

                    <td>{{ props.row.CODIGO }}</td>
                    <td>{{ props.row.INATIVO === 'Não' ? 'Ativo': 'Inativo' }}</td>
                    <td>{{ props.row.load_imovel.length }}</td>
                    <td>{{ props.row.NOMERAZAO }}</td>
                    <td>{{ props.row.TELEFONE1 }}</td>
                    <td>{{ props.row.CIDADE }}</td>
                    <td>
                        <a  :href="'/admin/proprietarios/show/' + props.row.ID" class="btn btn-link">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a :href="'/admin/proprietarios/edit/' + props.row.ID"  class="btn btn-link show-edit">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                </template>
            </vue-good-table>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            proprietarios: [],
            columns: [
                {
                    label: 'Código',
                    field: 'CODIGO',
                    type: 'number',
                    thClass:'table-title',
                    filterable: true,
                },
                {
                    label: 'Situação',
                    field: 'INATIVO',
                    thClass:'table-title',               
                },
                {
                    label: 'Imóveis',
                    field: 'load_imovel',
                    type: 'number',
                    thClass:'table-title',             
                },
                {
                    label: 'Nome',
                    field: 'NOMERAZAO',
                    thClass: 'table-title',
                    filterable: true,
                },
                {
                    label: 'Telefone',
                    field: 'TELEFONE1',
                    type: 'number',
                    thClass:'table-title',
                    filterable: true,
                },
                {
                    label: 'cidade',
                    field: 'CIDADE',
                    thClass:'table-title',
                    filterable: true,
                },
                {
                    label: 'Ações',
                    thClass: 'table-title',             
                },
            ],
            
            /* money: {
                decimal: ',',
                thousands: '.',
                prefix: 'R$ ',                
                precision: 2,
                masked: false 
            }, */
        }
    },



    created() {
        this.getProprietarios();
        //this.countPage();        
    },

    filters: {
        dateFormat(date) {
            if (date !== '') {
                return moment(date, "YYYY-MM-DD hh:mm:ss").format("DD/MM/YYYY hh:mm:ss");
            }
        },
    },

    methods: {        

        /* dateFormat(date) {
            if (date !== '') {
                console.log(date);
                return moment(date, "YYY-MM-DD hh:mm:ss").format("DD/DD/YYYY as hh:mm:ss");
            }
        }, */

        getProprietarios() {
            axios.get('/api/proprietarios').then((response) => {
                this.proprietarios = response.data;
                //this.countPage();
                //this.pagination = response.body;
            });
        },
    }
}
</script>