<template slot="editImoveis" slot-scope="props">
    <div class="box box-danger">
        <div class="box-header">
            <h4>Imóvel: {{ showimovel.TIPOENDERECO }} {{ showimovel.ENDERECO }}, {{ showimovel.NUMERO }} <span v-show="showimovel.INATIVO == 'Sim'">(INATIVO)</span></h4>
        </div>
        <div class="box-body">
            <form method="post" id="imovel-edit" @submit.prevent="updateImovel" enctype="multipart/form-data"
                  class="form-horizontal form-label-left owner">

                <div class="action-panel" id="actions">
                    <a href="javascript:" class="action-collapse-btn" id="action"><i class="fa fa-cog"></i></a>
                    <div class="action-content">
                        <h5><b>Ações</b></h5>
                        <div>
                            <ul class="action-list">
                                <li>
                                    <a :href="'/admin/imoveis/edit/' + showimovel.ID"  class="btn btn-warning show-edit">
                                        <i class="fa fa-edit"></i>
                                        <span>Editar</span>
                                    </a>
                                </li>

                                <li>
                                    <button type="submit" id="#atualizar" class="btn btn-link"><i class="fa fa-check"></i> Salvar</button>
                                </li>
                                <li><a href="#" class="hide-tab btn btn-link" id="fechar" @click="closeWindow()">
                                    <i class="fa fa-window-close-o"></i>
                                    Fechar
                                </a></li>
                            </ul>
                        </div>
                    </div>
                </div>                

                <div class="box box-danger">
                    <div class="box-header">
                        <h4><b>Informações Básicas</b></h4>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-md-1" for="codigo">Código:</label>
                                <div class="col-md-1">
                                    <input class="form-control input-sm" v-model="showimovel.CODIGO"
                                           type="text" name="CODIGO">
                                </div>

                                <!--Gravar no campo TIPO DA TABELA-->
                                <label class="control-label col-md-1" for="tipo">Tipo:</label>
                                <div class="col-md-1">
                                    <select v-model="showimovel.TIPO" name="SUBTIPO"
                                            class="form-control input-sm">
                                        <option value="">SELECIONE</option>
                                        <option v-for="categoria in categorias"
                                                :value="categoria.TIPO">
                                            {{ categoria.TIPO }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <label for="ativo" class="control-label col-md-1">Situação:</label>
                                <div class="col-md-1">
                                    <select v-model="showimovel.INATIVO" name="INATIVO"
                                            class="form-control input-sm">
                                        <option value="Não">Ativo</option>
                                        <option value="Sim">Inativo</option>
                                    </select>
                                </div>

                                <label class="control-label col-md-1" for="tipo">Subtipo:</label>
                                <div class="col-md-1">
                                    <select v-model="showimovel.IMOVEL_SUBTIPO_ID" name="SUBTIPO"
                                            class="form-control input-sm">
                                        <option value="">SELECIONE</option>
                                        <option v-for="categoria in categorias"
                                                :value="categoria.ID">
                                            {{ categoria.SUBTIPO }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <label for="ativo" class="control-label col-md-1">Status:</label>
                                <div class="col-md-1">
                                    <select v-model="showimovel.STATUS" name="STATUS"
                                            class="form-control input-sm">
                                        <option value="Alugado">Alugado</option>
                                        <option value="Disponível">Disponível</option>
                                    </select>
                                </div>

                                <label for="tipogarantia" class="control-label col-md-1">Tipo de Garantia:</label>
                                <div class="col-md-1">
                                    <select name="TIPOGARANTIA" v-model="showimovel.TIPOGARANTIA" class="form-control input-sm">
                                        <option value="">SELECIONE</option>
                                        <option value="Fiador">Fiador</option>
                                        <option value="Caução">Caução</option>
                                        <option value="Seguro Fiança">Seguro Fiança</option>
                                        <option value="Aluguel">Aluguel</option>
                                        <option value="Nenhum">Nenhum</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Fim informações básicas-->

                <!--Locação e Venda-->
                <div class="box box-danger">
                    <div class="box-header">
                        <h4><b>Locação e Venda</b></h4>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group">
                                <label for="locacao" class="control-label col-md-1">Locação:</label>
                                <div class="col-md-1">
                                    <select name="LOCACAO" class="form-control input-sm"
                                            v-model="showimovel.LOCACAO">
                                        <option value="">SELECIONE</option>
                                        <option value="Sim">Sim</option>
                                        <option value="Não">Não</option>
                                    </select>
                                </div>

                                <label for="locacao" class="control-label col-md-1">Venda:</label>
                                <div class="col-md-1">
                                    <select name="VENDA" class="form-control input-sm"
                                            v-model="showimovel.VENDA">
                                        <option value="">SELECIONE</option>
                                        <option value="Sim">Sim</option>
                                        <option value="Não">Não</option>
                                    </select>
                                </div>

                                <label for="iptu"
                                       class="control-label col-md-1">IPTU:</label>
                                <div class="col-md-1">
                                    <money v-model="showimovel.VALORIPTU" v-bind="money" class="form-control input-sm"></money>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <label for="valorlocacao" class="control-label col-md-1">R$</label>
                                <div class="col-md-1">
                                    <money v-model="showimovel.VALORLOCACAO" v-bind="money"
                                           class="form-control input-sm"></money>
                                </div>

                                <label for="valorvenda" class="control-label col-md-1">R$</label>
                                <div class="col-md-1">
                                    <money v-model="showimovel.VALORVENDA" v-bind="money" class="form-control input-sm"></money>
                                </div>

                                <label for="condominio" class="col-md-1 control-label">Condominio R$</label>
                                <div class="col-md-1">
                                    <money v-model="showimovel.VALORCONDOMINIO" v-bind="money"
                                           class="form-control input-sm"></money>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <label for="honorariosvenda" class="control-label col-md-1">Honorários %</label>
                                <div class="col-md-1">
                                    <input type="text"
                                           class="form-control input-sm"
                                           name="HONORARIOSLOCACAO"
                                           v-model="showimovel.HONORARIOSLOCACAO">
                                </div>

                                <label for="honorariosvenda" class="control-label col-md-1">Honorários %</label>
                                <div class="col-md-1">
                                    <input type="text"
                                           class="form-control input-sm"
                                           name="HONORARIOSVENDA"
                                           v-model="showimovel.HONORARIOSVENDA">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <label for="exclusividade" class="control-label col-md-1">Exclusividade:</label>
                                <div class="col-md-1">
                                    <select v-model="showimovel.EXCLUSIVIDADE" name="EXCLUSIVIDADE"
                                            class="form-control input-sm">
                                        <option value="Sim">Sim</option>
                                        <option value="Não">Não</option>
                                    </select>
                                </div>

                                <label for="datafinalcontrato" class="control-label col-md-1">Exclusivo até:</label>
                                <div class="col-md-1">
                                    <input v-model="showimovel.DATAFINALCONTRATO" type="date"
                                           name="DATAFINALCONTRATO" class="form-control input-sm">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <label for="divulgarvalor" class="control-label col-md-1">Publicar:</label>
                                <div class="col-md-1">
                                    <select v-model="showimovel.SITEDIVULGAR" name="SITEDIVULGAR"
                                            class="form-control input-sm">
                                        <option value="Sim">Sim</option>
                                        <option value="Não">Não</option>
                                    </select>
                                </div>

                                <label for="divulgarvalor" class="control-label col-md-1">Publicar Valor:</label>
                                <div class="col-sm-1 col-md-1">
                                    <select v-model="showimovel.DIVULGARVALOR" name="DIVULGARVALOR"
                                            class="form-control input-sm">
                                        <option value="Sim">Sim</option>
                                        <option value="Não">Não</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Fim Locação e Venda-->

                <!--Localização-->
                <div class="box box-danger">
                    <div class="box-header">
                        <h4><b>Localizaão</b></h4>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-md-1" for="codigo">CEP:</label>
                                <div class="col-md-1">
                                    <input type="text" v-model="showimovel.CEP" id="cep" name="CEP"
                                           class="form-control input-sm" placeholder="00000-000">
                                </div>

                                <label class="control-label col-md-1" for="UF">UF:</label>
                                <div class="col-md-1">
                                    <!--<select v-model="showimovel.UF" name="UF" class="form-control input-sm">
                                        <option value="SP">SP</option>
                                    </select>-->
                                    <input type="text" id="UF" name="UF" v-model="showimovel.UF" class="form-control input-sm"
                                           title="uf">
                                </div>

                                <label class="control-label col-md-1" for="CIDADE">Cidade:</label>
                                <div class="col-md-1">
                                    <input v-validate="'required|alpha'" v-model="showimovel.CIDADE" type="text"
                                           name="CIDADE"
                                           class="form-control input-sm">
                                    <span v-show="errors.has('CIDADE')" class="text-danger">
                                          {{ errors.first('CIDADE') }}
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-md-1" for="logradouro">Logradouro:</label>
                                <div class="col-md-1">
                                    <input v-validate="'required'" type="text" v-model="showimovel.TIPOENDERECO"
                                           class="form-control input-sm" name="TIPOENDERECO">
                                    <span v-show="errors.has('TIPOENDERECO')" class="text-danger">
                                        {{ errors.first('TIPOENDERECO') }}
                                    </span>
                                </div>

                                <label class="control-label col-md-1" for="nomerua">Nome:</label>
                                <div class="col-md-3">
                                    <input v-validate="'required'" type="text" v-model="showimovel.ENDERECO"
                                           class="form-control input-sm" name="ENDERECO"
                                           placeholder="Nome da Rua">
                                    <span v-show="errors.has('ENDERECO')" class="text-danger">
                                        {{ errors.first('ENDERECO') }}
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-md-1" for="codigo">Nº:</label>
                                <div class="col-md-1">
                                    <input type="text" v-model="showimovel.NUMERO"
                                           class="form-control input-sm" name="NUMERO" placeholder="Numero">
                                </div>

                                <label class="control-label col-md-1" for="codigo">Bairro:</label>
                                <div class="col-md-3">
                                    <input v-validate="'required'" type="text" v-model="showimovel.BAIRRO" name="BAIRRO"
                                           class="form-control input-sm">
                                    <span v-show="errors.has('BAIRRO')" class="text-danger">
                                        {{ errors.first('BAIRRO') }}
                                    </span>
                                </div>
                                <div class="col-md-2">

                                </div>
                            </div>
                        </div>

                        <div v-show="showimovel.TIPO === 'apartamento' || showimovel.TIPO === 'prédio'">
                            <div class="row">
                                <div class="form-group">
                                    <label class="control-label col-md-1"
                                           for="codigo">Apartamento:</label>
                                    <div class="col-md-1">
                                        <input type="text" v-model="showimovel.COMPLEMENTOAPTO"
                                               name="COMPLEMETOAPTO" class="form-control input-sm">
                                    </div>

                                    <label class="control-label col-md-1" for="codigo">Andar:</label>
                                    <div class="col-md-1">
                                        <input type="text" v-model="showimovel.COMPLEMENTOANDAR"
                                               name="COMPLEMENTOANDAR" class="form-control input-sm">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div v-show="showimovel.IMOVEL_SUBTIPO_ID === 7 || showimovel.IMOVEL_SUBTIPO_ID === 9">
                            <div class="row">
                                <div class="form-group">
                                    <label class="control-label col-md-1" for="empreendimento">Empreendimento:</label>
                                    <div class="col-md-11">
                                        <select v-model="showimovel.EMPREENDIMENTO_ID"
                                                aria-labelledby="codigo" name="EMPREENDIMENTO_ID"
                                                class="form-control input-sm">
                                            <option selected value="0">Selecione o Empreendimento</option>
                                            <option v-for="enterprise in enterprises" :value="enterprise.ID">
                                                {{ enterprise.NOME }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-md-1"
                                       for="complemento">Complemento:</label>
                                <div class="col-md-7">
                                    <input type="text" v-model="showimovel.COMPLEMENTO"
                                           name="COMPLEMENTO" class="form-control input-sm">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-md-1"
                                       for="referencia">Referência:</label>
                                <div class="col-md-7">
                                    <input type="text" v-model="showimovel.REFERENCIA"
                                           name="COMPLEMENTO" class="form-control input-sm">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box box-danger">
                    <div class="box-header">
                        <h4><b>Mapa</b></h4>
                        <div class="box-tools pull-right">
                            <button class="btn btn-block btn-default" id="localizar">Localizar Endereço</button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-10" id="map-canvas-edit">
                                    <div id="map-edit"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Fim Localização-->

                <!--fotos: Exibir e editar-->
                <div class="box box-danger">
                    <div class="box-header">
                        <h4><b>Fotos</b></h4>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-4" v-for="(img, index) in fotos">
                                <div class="thumbnail">
                                    <div class="image view">
                                        <img v-img="{title: img.description}" style="width: 100%; display: block;"
                                             :src="img.path" :alt="img.description">

                                    </div>
                                    <div class="caption">                                        
                                        <p>
                                            <input type="number"
                                                   v-model="img.order"
                                                   placeholder="Ordem"
                                                   @change="changeOrder(img.order, img.id)"
                                                   @input="changeOrder(img.order, img.id)"
                                                   id="editorder"
                                                   name="order"
                                                   class="form-control input-sm">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Proprietários-->
                <div class="box box-danger">
                    <div class="box-header">
                        <h4><b>Proprietários</b></h4>
                        <div class="box-tools pull-right">
                            <a href="#" @click.prevent="addRow" class="btn btn-success">
                                <i class="fa fa-plus"></i> Adicionar
                            </a>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group">
                                <table class="table table-responsive">
                                    <thead>
                                    <tr class="form-th">
                                        <th>Nome</th>
                                        <th>Participação %</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="(row, index) of showimovel.load_proprietario">
                                        <td class="col-sm-3">
                                            <label>
                                                <select class="form-control input-sm" v-model="row.PROPRIETARIO_ID"
                                                        name="PROPRIETARIO_ID">
                                                    <option value="">SELECIONE</option>
                                                    <option v-for="(p, index) of proprietarios" :value="p.ID">
                                                        {{ p.NOMERAZAO }}
                                                    </option>
                                                </select>
                                            </label>

                                        </td>
                                        <td class="col-sm-3">
                                            <input type="text" v-model="row.PORCENTAGEM" class="form-control input-sm">
                                        </td>
                                        <td>
                                            <a :href="'/api/proprietarios/' + row.PROPRIETARIO_ID"
                                               class="btn btn-sm btn-link"
                                               data-toggle="tooltip"
                                               data-placement="bottom"
                                               title="Visualizar">
                                                <i class="fa fa-eye"></i>
                                            </a>
                                            <a href="#"
                                               @click.prevent="removeRow(index)"
                                               class="btn btn-link btn-sm"
                                               data-toggle="tooltip"
                                               data-placement="bottom"
                                               title="Remover">
                                                <i class="fa fa-minus"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Fim Proprietarios-->

                <!--Caracteristicas-->
                <div class="box box-danger">
                    <div class="box-header">
                        <h4><b>Características Básicas</b></h4>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-md-1"
                                       for="dormitorios">Quarto:</label>
                                <div class="col-md-1">
                                    <input v-model="showimovel.DORMITORIO" class="form-control input-sm"
                                           type="text" name="DORMITORIOS">
                                </div>

                                <label class="control-label col-md-1" for="suites">Suites:</label>
                                <div class="col-md-1">
                                    <input v-model="showimovel.SUITE" class="form-control input-sm"
                                           type="text" name="SUITE">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-md-1"
                                       for="banehiros">Banheiros:</label>
                                <div class="col-md-1">
                                    <input v-model="showimovel.BANHEIRO" class="form-control input-sm"
                                           type="text" name="BANHEIRO">
                                </div>

                                <label class="control-label col-md-1"
                                       for="suites">Garagem:</label>
                                <div class="col-md-1">
                                    <input v-model="showimovel.VAGA" class="form-control input-sm" type="text"
                                           name="VAGA">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box box-danger">
                    <div class="box-header">
                        <h4><b>Caraterísticas Adicionais</b></h4>
                        <div class="box-tools pull-right">
                            <a href="#" @click.prevent="addCaracteristica" class="btn btn-default"><i class="fa fa-plus"></i> Adicionar</a>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group">
                                <table class="table table-responsive">
                                    <thead>
                                    <tr class="form-th">
                                        <th>Item</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr v-for="(row, index) in showimovel.CARACTERISTICAS">
                                        <td class="col-sm-3">
                                            <select name="CARACTERISTICA_OPCAO_ID" v-model="row.CARACTERISTICA_OPCAO_ID"
                                                    class="form-control input-sm">
                                                <option value="">SELECIONE</option>
                                                <option v-for="caracteristica in caracteristicas"
                                                        :value="caracteristica.ID">{{caracteristica.NOME}}
                                                </option>
                                            </select>
                                        </td>
                                        <td class="col-sm-3">
                                            <input type="text" class="form-control input-sm" v-model="row.QUANTIDADE">
                                        </td>
                                        <td>
                                            <a href="#" @click.prevent="removeCaracteristica(index)"
                                               class="btn btn-sm btn-danger">Excluir</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Fim Caracteristicas-->

                <!--Informações complementares-->
                <div class="box box-danger">
                    <div class="box-header">
                        <h4><b>Informações Complementares</b></h4>
                    </div>
                    <div class="box-body">
                        <div>
                            <div class="form-group">
                                <p class="col-md-1 form-label checkbox">
                                    <input type="checkbox" name="AGUASEPARADA" v-model="showimovel.AGUASEPARADA">
                                    Agua Separada
                                </p>
                                <p class="col-md-1 form-label checkbox">
                                    <input type="checkbox" name="ENERGIASEPARADA" v-model="showimovel.ENERGIASEPARADA">
                                    Energia Separada
                                </p>
                                <p for="" class="col-md-1 form-label checkbox">
                                    <input type="checkbox" name="CERCAELETRICA" v-model="showimovel.CERCAELETRICA">
                                    Cerca elÃ©trica
                                </p>
                            </div>
                        </div>

                        <div>
                            <div class="form-group">
                                <p class="col-md-1 form-label checkbox">
                                    <input type="checkbox"
                                           name="ENTRADAINDEPENDENTE"
                                           v-model="showimovel.ENTRADAINDEPENDENTE">
                                    Entrada Independente
                                </p>
                                <p class="col-md-1 form-label checkbox">
                                    <input type="checkbox"
                                           name="CAMERASEGURANCA"
                                           v-model="showimovel.CAMERASEGURANCA">
                                    Câmera de Segurança
                                </p>
                                <p class="col-md-1 form-label checkbox">
                                    <input type="checkbox"
                                           name="CONDOMINIOFECHADO"
                                           v-model="showimovel.CONDOMINIOFECHADO">
                                    Condomí­nio Fechado
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Fim Informações complementares-->

                <!--Documentação-->
                <div class="box box-danger">
                    <div class="box-header">
                        <h4><b>Documentação</b></h4>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group">
                                <label for="" class="control-label col-md-1">Medidor de Agua:</label>
                                <div class="col-md-1">
                                    <input type="text" class="form-control input-sm"
                                           name="REOLOGIOAGUA"
                                           placeholder="N°"
                                           v-model="showimovel.RELOGIOAGUA">
                                </div>

                                <label for="" class="control-label col-md-1">Cód. Cliente:</label>
                                <div class="col-md-1">
                                    <input type="text" class="form-control input-sm" name="CODCLIENTEAGUA"
                                           v-model="showimovel.CODCLIENTEAGUA">
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <label for="" class="control-label col-md-1">Medidor de Luz:</label>
                                <div class="col-md-1">
                                    <input type="text" class="form-control input-sm"
                                           name="RELOGIOLUZ"
                                           placeholder="N°"
                                           v-model="showimovel.RELOGIOLUZ">
                                </div>

                                <label for="" class="control-label col-md-1">Cód. Cliente:</label>
                                <div class="col-md-1">
                                    <input type="text" class="form-control input-sm" name="CODCLIENTELUZ"
                                           v-model="showimovel.CODCLIENTELUZ">
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <label for="" class="control-label col-md-1">Medidor de Gás:</label>
                                <div class="col-md-1">
                                    <input type="text" class="form-control input-sm"
                                           name="RELOGIOGAS"
                                           placeholder="N°"
                                           v-model="showimovel.RELOGIOGAS">
                                </div>

                                <label for="" class="control-label col-md-1">Cód. Cliente</label>
                                <div class="col-md-1">
                                    <input type="text" class="form-control input-sm" name="CODCLIENTEGAS"
                                           v-model="showimovel.CODCLIENTEGAS">
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <label for="" class="control-label col-md-1">IPTU:</label>
                                <div class="col-md-1">
                                    <input type="text" class="form-control input-sm" name="IPTU"
                                           v-model="showimovel.IPTU">
                                </div>

                                <label for="" class="control-label col-md-1">Cód. Cliente:</label>
                                <div class="col-md-1">
                                    <input type="text" class="form-control input-sm" name="CODCLIENTEIPTU"
                                           v-model="showimovel.CODCLIENTEIPTU">
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <label for="" class="control-label col-md-1">N° de Chaves:</label>
                                <div class="col-md-1">
                                    <input type="text" class="form-control input-sm"
                                           name="CHAVESQUADRO"
                                           placeholder="Quantidade"
                                           v-model="showimovel.CHAVESQUADRO">
                                </div>

                                <label for="" class="control-label col-md-1">N° de Controles:</label>
                                <div class="col-md-1">
                                    <input type="text" class="form-control input-sm"
                                           name="QUANTIDADECONTROLES"
                                           placeholder="Quantidade"
                                           v-model="showimovel.QUANTIDADECONTROLES">
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <label for="" class="control-label col-md-1">N° de Matricula:</label>
                                <div class="col-md-1">
                                    <input type="text" class="form-control input-sm" name="MATRICULA"
                                           v-model="showimovel.MATRICULA">
                                </div>

                                <label for="" class="control-label col-md-1">N° do cartóio:</label>
                                <div class="col-md-1">
                                    <input type="text" class="form-control input-sm" name="CARTORIO"
                                           v-model="showimovel.CARTORIO">
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <label for="" class="control-label col-md-1">N° de Registro:</label>
                                <div class="col-md-1">
                                    <input type="text" class="form-control input-sm" name="CARTORIOREGISTRO"
                                           v-model="showimovel.CARTORIOREGISTRO">
                                </div>

                                <label for="" class="control-label col-md-1">Data do Registro:</label>
                                <div class="col-md-2">
                                    <input type="date" class="form-control input-sm" name="CARTORIODATAREGISTRO"
                                           v-model="showimovel.CARTORIODATAREGISTRO">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <!--Fim Documentação-->

                <!--Area do Imóvel-->
                <div class="box box-danger">
                    <div class="box-header">
                        <h4><b>Area do imóvel</b></h4>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group">
                                <label for="" class="control-label col-md-1">Construida:</label>
                                <div class="col-md-1">
                                    <input type="text" class="form-control input-sm"
                                           name="CONSTRUIDA"
                                           v-model="showimovel.CONSTRUIDA">
                                </div>

                                <label for="" class="control-label col-md-1">Total:</label>
                                <div class="col-md-1">
                                    <input type="text" class="form-control input-sm"
                                           name="TERRENOTOTALM2"
                                           v-model="showimovel.TERRENOTOTALM2">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label for="" class="control-label col-md-1">Frente:</label>
                                <div class="col-md-1">
                                    <input type="text" class="form-control input-sm"
                                           name="TERRENOFRENTE"
                                           v-model="showimovel.TERRENOFRENTE">
                                </div>

                                <label for="" class="control-label col-md-1">Fundos:</label>
                                <div class="col-md-1">
                                    <input type="text" class="form-control input-sm"
                                           name="TERRENOFUNDOS"
                                           v-model="showimovel.TERRENOFUNDOS">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label for="" class="control-label col-md-1">Esquerda:</label>
                                <div class="col-md-1">
                                    <input type="text" class="form-control input-sm"
                                           name="TERRENOLADOESQUERDO"
                                           v-model="showimovel.TERRENOLADOESQUERDO">
                                </div>

                                <label for="" class="control-label col-md-1">Direita:</label>
                                <div class="col-md-1">
                                    <input type="text" class="form-control input-sm"
                                           name="TERRENOLADODIREITO"
                                           v-model="showimovel.TERRENOLADODIREITO">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Fim Area do imóvel-->

                <!--Administrativo-->
                <div class="box box-danger">
                    <div class="box-header">
                        <h4><b>Administrativo</b></h4>
                    </div>
                    <div class="box-body">
                        <!--<div class="row">
                                            <div class="form-group">
                                                <label for="taxalocacao" class="control-label col-md-1">% Locação</label>
                                                <div class="col-md-1">
                                                    <input type="text" class="form-control input-sm" name="TAXALOCACAO" v-model="fillproprietario.TAXALOCACAO">
                                                </div>

                                                <label for="taxavenda" class="control-label col-md-1">% Venda:</label>
                                                <div class="col-md-1">
                                                    <input type="text" class="form-control input-sm" name="TAXAVENDA" v-model="fillproprietario.TAXAVENDA">
                                                </div>

                                                <label for="taxalocacao" class="control-label col-md-1">Dia de Repasse:</label>
                                                <div class="col-md-1">
                                                    <input type="text" class="form-control input-sm" name="REPASSE" v-model="fillproprietario.REPASSE">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <label for="corretor" class="control-label col-md-1">Corretor:</label>
                                                <div class="col-md-11">
                                                    <select name="CORRETOR" class="form-control input-sm">
                                                        <option value="">Nenhum</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div v-show="tabsel == 'show'">
                                            <div class="row">
                                                <div class="form-group">
                                                    <label for="cadastrado" class="control-label col-md-1">Cadastrado em:</label>
                                                    <div class="col-md-1">
                                                        <input type="text" class="form-control input-sm" name="created_at">
                                                    </div>

                                                    <label for="usuario" class="control-label col-md-1">Usuário:</label>
                                                    <div class="col-md-1">
                                                        <input type="text" class="form-control input-sm" name="USUARIO_ID">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="form-group">
                                                    <label for="atualizado" class="control-label col-md-1">Atualizado em:</label>
                                                    <div class="col-md-1">
                                                        <input type="text" class="form-control input-sm" name="updated_at">
                                                    </div>

                                                    <label for="usuario" class="control-label col-md-1">Usuário:</label>
                                                    <div class="col-md-1">
                                                        <input type="text" class="form-control input-sm" name="USUARIO_ID">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="form-group">
                                                <label for="observacoes" class="control-label col-md-1">Observações:</label>
                                                <div class="col-md-11">
                                                    <textarea name="OBSERVACOES" v-model="fillproprietario.OBSERVACOES" cols="30" rows="10" class="form-control input-sm"></textarea>
                                                </div>
                                            </div>
                                            &lt;!&ndash;Fim Admiunistrativo&ndash;&gt;
                                        </div>-->

                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-md-1"
                                       for="suites">Observações:</label>
                                <div class="col-md-11">
                                	<textarea v-model="showimovel.DESCRICAO" name="DESCRICAO"
                                              class="form-control input-sm"
                                              cols="30"
                                              rows="10"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-md-1"
                                       for="suites">Descrição Site:</label>
                                <div class="col-md-11">
                                	<textarea v-model="showimovel.DESCRICAOSITE" name="DESCRICAO"
                                              class="form-control input-sm"
                                              cols="30"
                                              rows="10"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Fim Cadastro-->
            </form>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                showimovel: {
                    'ID': '',
                    'rows': [{IMOVEL_ID: '', PROPRIETARIO_ID: '', IMOVEL_ID: ''}],
                    'CARACTERISTICAS': [],
                    'load_proprietario': [],
                    'OUTRO_ID': '',
                    'EMPREENDIMENTO_ID': '',
                    'IMOVEL_SUBTIPO_ID': '',
                    'CODIGO': '',
                    'CODIGOANUNCIO': '',
                    'CHAVESENTREGA': '',
                    'INATIVO': 'Não',
                    'OPCAOSF': 'Não',
                    'OCUPADO': 'Não',
                    'FIADOR': 'Não',
                    'DEPOSITO': 'Não',
                    'PLACA': 'Não',
                    'TIPOGARANTIA': '',
                    'DATACAPTACAO': '',
                    'CHAVESQUADRO': '',
                    'TIPOENDERECO': '',
                    'ENDERECO': '',
                    'NUMERO': '',
                    'COMPLEMENTO': '',
                    'CEP': '',
                    'BAIRRO': '',
                    'CIDADE': '',
                    'UF': '',
                    'GUIA': '',
                    'TIPO': '',
                    'RELOGIOLUZ': '',
                    'RELOGIOAGUA': '',
                    'RELOGIOGAS': '',
                    'CODCLIENTELUZ': '',
                    'CODCLIENTEAGUA': '',
                    'CODCLIENTEGAS': '',
                    'CODCLIENTEIPTU': '',
                    'QUANTIDADECONTROLES': '',
                    'VISITA': 'Não',
                    'DORMITORIO': '',
                    'BANHEIRO': '',
                    'SUITE': '',
                    'ENERGIASEPARADA': '',
                    'AGUASEPARADA': '',
                    'CONDOMINIOFECHADO': '',
                    'ENTRADAINDEPENDENTE': '',
                    'CERCAELETRICA': '',
                    'CAMERASEGURANCA': '',
                    'TERRENOLADOESQUERDO': '',
                    'TERRENOLADODIREITO': '',
                    'CONSTRUIDA': '',
                    'VAGA': '',
                    'IPTU': '',
                    'MATRICULA': '',
                    'VALORVENDA': 0,
                    'VALORLOCACAO': 0,
                    'VALORCONDOMINIO': 0,
                    'VENDA': 'Não',
                    'LOCACAO': 'Não',
                    'TERRENOTOTALM2': '',
                    'STATUS': 'Disponível',
                    'HORARIOVISITA': '',
                    'DESCRICAO': '',
                    'CONDOMINIOAGUA': 'Não',
                    'CONDOMINIOLUZ': 'Não',
                    'CONDOMINIOGAS': 'Não',
                    'CONDOMINIOTVCABO': 'Não',
                    'CONDOMINIOIPTU': 'Não',
                    'TERRENOFRENTE': 0,
                    'TERRENOFUNDOS': 0,
                    'TERRENORAIO': 0,
                    'LATITUDE': 0,
                    'LONGITUDE': 0,
                    'ALTITUDE': 0,
                    'DATAFINALCONTRATO': '',
                    'VALORLOCACAOM2': 0,
                    'VALORVENDAM2': 0,
                    'EXCLUSIVIDADE': '',
                    'FRENTEPARA': '',
                    'FUNDOSPARA': '',
                    'ESQUERDAPARA': '',
                    'DIREITAPARA': '',
                    'CARTORIODATAREGISTRO': '',
                    'CARTORIOFOLHA': '',
                    'CARTORIOREGISTRO': '',
                    'CARTORIOLIVRO': '',
                    'CARTORIO': '',
                    'TIPOZONA': '',
                    'DESTAQUE': '',
                    'COMPLEMENTOANDAR': '',
                    'COMPLEMENTOAPTO': '',
                    'DESCRICAOSITE': '',
                    'LANCAMENTO': 'Não',
                    'TEMPORADA': 'Não',
                    'VALORIPTU': 0,
                    'DIVULGARVALOR': 'Não',
                    'PARAMETRIZACAO_ID': '',
                    'VALORVENDACUSTO': '',
                    'AREAUTIL': '',
                    'SITEDIVULGAR': 'Não',
                    'SITE_VISITAS': 0,
                    'DATAGRAVACAO': '',
                    'PAIS': '',
                },
                tabsel: '',
                editDescription: [],
                proprietarios: {},
                caracteristicas: {},
                categorias: {},
                enterprises: {},
                fotos: [],
            }
        },

        created() {
            this.getProprietarios();
            this.getCaracteristicas();
            this.getCategorias();
            this.returnData();
            //this.disableFields();
        },

        mounted() {
            $('.owner *').attr('readonly', 'readonly');

            $('#action').click(function () {
                var panel = $('.action-panel');
                //var panel_position = panel.position();
                if(panel.hasClass('active')) {
                    panel.removeClass('active');
                } else {
                    panel.addClass('active');
                }

            });
        },

        methods: {

            getFotos(id) {
                var id = id;
                axios.get('/api/fotos/' + id).then((response) => {
                    this.fotos = response.data;
                });
            },


            getProprietarios() {
                axios.get('/api/proprietarios').then((response) => {
                    this.proprietarios = response.data;
                });
            },

            getCaracteristicas() {
                axios.get('/api/caracteristicas').then((response) => {
                    this.caracteristicas = response.data;
                });
            },

            getInfoCaracteristicas(id) {
                axios.get('/api/caracteristicas/info/' + id).then(response => {
                    this.showimovel.CARACTERISTICAS = response.data;
                });
            },

            getCategorias() {
                axios.get('/api/categorias').then((response) => {
                    this.categorias = response.data;
                });
            },

            getEnterprises() {
                axios.get('/api/empreendimentos/').then((response) => {
                    this.enterprises = response.data;
                });
            },

            returnData() {
                var id = location.href.split('/').pop();

                console.log(id);

                axios.get('/api/imoveis/show/' + id).then((response) => {
                    console.log(response.data.ID);
                    this.tabsel = 'show';
                    //this.showimovel.push(response.data[0]);
                    this.showimovel.ID = response.data.ID;
                    this.showimovel.OUTRO_ID = response.data.OUTRO_ID;
                    this.showimovel.EMPREENDIMENTO_ID = response.data.EMPREENDIMENTO_ID;
                    this.showimovel.IMOVEL_SUBTIPO_ID = response.data.IMOVEL_SUBTIPO_ID;
                    this.showimovel.CODIGO = response.data.CODIGO;
                    this.showimovel.HONORARIOSLOCACAO = response.data.HONORARIOSLOCACAO;
                    this.showimovel.HONORARIOSVENDA = response.data.HONORARIOSVENDA;
                    this.showimovel.CODIGOANUNCIO = response.data.CODIGOANUNCIO;
                    this.showimovel.CHAVESENTREGA = response.data.CHAVESENTREGA;
                    this.showimovel.INATIVO = response.data.INATIVO;
                    this.showimovel.OPCAOSF = response.data.OPCAOSF;
                    this.showimovel.OCUPADO = response.data.OCUPADO;
                    this.showimovel.FIADOR = response.data.FIADOR;
                    this.showimovel.DEPOSITO = response.data.DEPOSITO;
                    this.showimovel.PLACA = response.data.PLACA;
                    this.showimovel.TIPOGARANTIA = response.data.TIPOGARANTIA;
                    this.showimovel.DATACAPTACAO = response.data.DATACAPTACAO;
                    this.showimovel.CHAVESQUADRO = response.data.CHAVESQUADRO;
                    this.showimovel.TIPOENDERECO = response.data.TIPOENDERECO;
                    this.showimovel.ENDERECO = response.data.ENDERECO;
                    this.showimovel.NUMERO = response.data.NUMERO;
                    this.showimovel.COMPLEMENTO = response.data.COMPLEMENTO;
                    this.showimovel.CEP = response.data.CEP;
                    this.showimovel.BAIRRO = response.data.BAIRRO;
                    this.showimovel.CIDADE = response.data.CIDADE;
                    this.showimovel.UF = response.data.UF;
                    this.showimovel.GUIA = response.data.GUIA;
                    this.showimovel.TIPO = response.data.TIPO;
                    this.showimovel.RELOGIOLUZ = response.data.RELOGIOLUZ;
                    this.showimovel.RELOGIOAGUA = response.data.RELOGIOAGUA;
                    this.showimovel.RELOGIOGAS = response.data.RELOGIOGAS;
                    this.showimovel.CODCLIENTELUZ = response.data.CODCLIENTELUZ;
                    this.showimovel.CODCLIENTEAGUA = response.data.CODCLIENTEAGUA;
                    this.showimovel.CODCLIENTEGAS = response.data.CODCLIENTEGAS;
                    this.showimovel.CODCLIENTEIPTU = response.data.CODCLIENTEIPTU;
                    this.showimovel.QUANTIDADECONTROLES = response.data.QUANTIDADECONTROLES;
                    this.showimovel.VISITA = response.data.VISITA;
                    this.showimovel.DORMITORIO = response.data.DORMITORIO;
                    this.showimovel.BANHEIRO = response.data.BANHEIRO;
                    this.showimovel.SUITE = response.data.SUITE;
                    this.showimovel.ENERGIASEPARADA = response.data.ENERGIASEPARADA;
                    this.showimovel.AGUASEPARADA = response.data.AGUASEPARADA;
                    this.showimovel.CONDOMINIOFECHADO = response.data.CONDOMINIOFECHADO;
                    this.showimovel.ENTRADAINDEPENDENTE = response.data.ENTRADAINDEPENDENTE;
                    this.showimovel.CAMERASEGURANCA = response.data.CAMERASEGURANCA;
                    this.showimovel.CERCAELETRICA = response.data.CERCAELETRICA;
                    this.showimovel.TERRENOLADOESQUERDO = response.data.TERRENOLADOESQUERDO;
                    this.showimovel.TERRENOLADODIREITO = response.data.TERRENOLADODIREITO;
                    this.showimovel.CONSTRUIDA = response.data.CONSTRUIDA;
                    this.showimovel.VAGA = response.data.VAGA;
                    this.showimovel.IPTU = response.data.IPTU;
                    this.showimovel.MATRICULA = response.data.MATRICULA;
                    this.showimovel.VALORVENDA = response.data.VALORVENDA;
                    this.showimovel.VALORLOCACAO = response.data.VALORLOCACAO;
                    this.showimovel.VALORCONDOMINIO = response.data.VALORCONDOMINIO;
                    this.showimovel.VENDA = response.data.VENDA;
                    this.showimovel.LOCACAO = response.data.LOCACAO;
                    this.showimovel.TERRENOTOTALM2 = response.data.TERRENOTOTALM2;
                    this.showimovel.STATUS = response.data.STATUS;
                    this.showimovel.HORARIOVISITA = response.data.HORARIOVISITA;
                    this.showimovel.DESCRICAO = response.data.DESCRICAO;
                    this.showimovel.CONDOMINIOAGUA = response.data.CONDOMINIOAGUA;
                    this.showimovel.CONDOMINIOLUZ = response.data.CONDOMINIOLUZ;
                    this.showimovel.CONDOMINIOGAS = response.data.CONDOMINIOGAS;
                    this.showimovel.CONDOMINIOTVCABO = response.data.CONDOMINIOTVCABO;
                    this.showimovel.CONDOMINIOIPTU = response.data.CONDOMINIOIPTU;
                    this.showimovel.TERRENOFRENTE = response.data.TERRENOFRENTE;
                    this.showimovel.TERRENOFUNDOS = response.data.TERRENOFUNDOS;
                    this.showimovel.TERRENORAIO = response.data.TERRENORAIO;
                    this.showimovel.LATITUDE = response.data.LATITUDE;
                    this.showimovel.LONGITUDE = response.data.LONGITUDE;
                    this.showimovel.ALTITUDE = response.data.ALTITUDE;
                    this.showimovel.DATAFINALCONTRATO = response.data.DATAFINALCONTRATO;
                    this.showimovel.VALORLOCACAOM2 = response.data.VALORLOCACAOM2;
                    this.showimovel.VALORVENDAM2 = response.data.VALORVENDAM2;
                    this.showimovel.EXCLUSIVIDADE = response.data.EXCLUSIVIDADE;
                    this.showimovel.FRENTEPARA = response.data.FRENTEPARA;
                    this.showimovel.FUNDOSPARA = response.data.FUNDOSPARA;
                    this.showimovel.ESQUERDAPARA = response.data.ESQUERDAPARA;
                    this.showimovel.DIREITAPARA = response.data.DIREITAPARA;
                    this.showimovel.CARTORIODATAREGISTRO = response.data.CARTORIODATAREGISTRO;
                    this.showimovel.CARTORIOFOLHA = response.data.CARTORIOFOLHA
                    this.showimovel.CARTORIOREGISTRO = response.data.CARTORIOREGISTRO;
                    this.showimovel.CARTORIOLIVRO = response.data.CARTORIOLIVRO;
                    this.showimovel.CARTORIO = response.data.CARTORIO;
                    this.showimovel.TIPOZONA = response.data.TIPOZONA;
                    this.showimovel.DESTAQUE = response.data.DESTAQUE;
                    this.showimovel.COMPLEMENTOANDAR = response.data.COMPLEMENTOANDAR;
                    this.showimovel.COMPLEMENTOAPTO = response.data.COMPLEMENTOAPTO;
                    this.showimovel.DESCRICAOSITE = response.data.DESCRICAOSITE;
                    this.showimovel.LANCAMENTO = response.data.LANCAMENTO;
                    this.showimovel.TEMPORADA = response.data.TEMPORADA;
                    this.showimovel.VALORIPTU = response.data.VALORIPTU;
                    this.showimovel.DIVULGARVALOR = response.data.DIVULGARVALOR;
                    this.showimovel.PARAMETRIZACAO_ID = response.data.PARAMETRIZACAO_ID;
                    this.showimovel.VALORVENDACUSTO = response.data.VALORVENDACUSTO;
                    this.showimovel.AREAUTIL = response.data.AREAUTIL;
                    this.showimovel.SITEDIVULGAR = response.data.SITEDIVULGAR;
                    this.showimovel.SITE_VISITAS = response.data.SITE_VISITAS;
                    this.showimovel.DATAGRAVACAO = response.data.DATAGRAVACAO;
                    this.showimovel.PAIS = response.data.PAIS;
                    this.showimovel.load_proprietario = response.data.load_proprietarios;

                    this.getFotos(response.data.CODIGO);
                    this.getInfoCaracteristicas(response.data.ID);

                    //var that = this;

                    var points = {
                        lat: this.showimovel.LATITUDE,
                        lng: this.showimovel.LONGITUDE
                    };
                    $(document).ready(function () {
                        var map = new GMaps({
                            el: '#map-edit',
                            lat: points.lat,
                            lng: points.lng,
                            zoom: 18,
                            width: '100%',
                            height: '600px'
                        });
                        map.addMarker({
                            lat: points.lat,
                            lng: points.lng,
                            title: "teste",
                            click: function (e) {
                                console.log("mapa ok!");
                            }
                        });
                    });
                });
            },

            disableFields() {
                $('.owner *').attr('readonly', 'readonly');
            },

            closeWindow() {
                if(history.length === 1) {
                    window.close();
                } else {
                    document.getElementById("fechar").href = "/admin/imoveis/";
                }
            },

            openActionPanel() {
                $(function () {
                    $('#actions').panel('open');
                });
            },
        }
    }

</script>