<template>
    <div class="box box-danger">
        <div class="box-header">
            <h3>
                <b>Proprietário: {{ showproprietario.NOMERAZAO }}</b>
            </h3>
        </div>
        <div class="box-body">
            <form enctype="multipart/form-data"
                  class="form-horizontal owner">

                <div class="action-panel" id="actions">
                    <a href="javascript:" class="action-collapse-btn" id="action"><i class="fa fa-cog"></i></a>
                    <div class="action-content">
                        <h5><b>Ações</b></h5>
                        <div>
                            <ul class="action-list">
                                <li>
                                    <a :href="'/admin/proprietarios/edit/' + showproprietario.ID"  class="btn btn-link">
                                        <i class="fa fa-edit"></i>
                                        <span>Editar</span>
                                    </a>
                                </li>
                                <li><a href="#" class="hide-tab btn btn-link" id="fechar" @click="closeWindow()">
                                    <i class="fa fa-window-close-o"></i>
                                    Fechar
                                </a></li>
                            </ul>
                        </div>

                    </div>

                </div>
                <div class="row">
                    <div class="form-group form-custom">
                        <label for="codigo" class="control-label col-md-1 label-custom">Código:</label>
                        <div class="col-md-3">
                            <input type="text" name="CODIGO" v-model="showproprietario.CODIGO"
                                   class="form-control">
                        </div>

                        <label for="tipocadastro" class="control-label col-md-1 label-custom">Tipo de Pessoa:</label>
                        <div class="col-md-3">
                            <select v-model="showproprietario.TFJ" name="tipo_cadastro"
                                    class="form-control">
                                <option value="">SELECIONE</option>
                                <option value="F">Física</option>
                                <option value="J">Jurídica</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group form-custom">
                        <label for="inativo" class="control-label col-md-1 label-custom">Situação:</label>
                        <div class="col-md-3">
                            <select name="INATIVO" class="form-control" v-model="showproprietario.INATIVO">
                                <option value="">SELECIONE</option>
                                <option value="Sim">Inativo</option>
                                <option value="Não">Ativo</option>
                            </select>
                        </div>

                        <label for="clienteespecial"
                               class="control-label col-md-1 label-custom">Cliente Especial:</label>
                        <div class="col-md-3">
                            <select name="CE" class="form-control" v-model="showproprietario.CE">
                                <option value="">SELECIONE</option>
                                <option value="Sim">Sim</option>
                                <option value="Não">Não</option>
                            </select>
                        </div>
                    </div>
                </div>

                <!--Informações Basicas-->
                <div class="box box-danger">
                    <div class="box-header">
                        <h4>
                            <b>Informações Básicas</b>
                        </h4>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group form-custom">
                                <label for="nome" v-show="showproprietario.TFJ == 'F'" class="control-label col-md-1 label-custom">Nome:</label>
                                <label for="nome" v-show="showproprietario.TFJ == 'J'" class="control-label col-md-1 label-custom">Razão Social:</label>
                                <div class="col-md-11">
                                    <input type="text" name="NOME" v-model="showproprietario.NOMERAZAO"
                                           class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group form-custom">
                                <div v-show="showproprietario.TFJ == 'F'">
                                    <label for="datanascimento" class="control-label col-md-1 label-custom">Nascimento:</label>
                                    <div class="col-md-3">
                                        <input type="date" name="DATANASCIMENTO" class="form-control"
                                               v-model="showproprietario.DATANASCIMENTO">
                                    </div>
                                </div>

                                <div v-show="showproprietario.TFJ == 'J'">
                                    <label for="datanascimento" class="control-label col-md-1 label-custom">Data de Abertura:</label>
                                    <div class="col-md-3">
                                        <input type="date" name="DATANASCIMENTO" class="form-control"
                                               v-model="showproprietario.DATAFUNDACAO">
                                    </div>
                                </div>

                                <label for="cpf" v-show="showproprietario.TFJ == 'F'" class="control-label col-md-1 label-custom">CPF:</label>
                                <label for="cnpj" v-show="showproprietario.TFJ == 'J'" class="control-label col-md-1 label-custom">CNPJ:</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" name="CPF"
                                           v-model="showproprietario.CPFCNPJ">
                                </div>

                                <label for="rg" v-show="showproprietario.TFJ == 'F'" class="control-label col-md-1 label-custom">RG:</label>
                                <label for="ie" v-show="showproprietario.TFJ == 'J'" class="control-label col-md-1 label-custom">I.Estadual:</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" name="RGIE"
                                           v-model="showproprietario.RGIE">
                                </div>
                            </div>
                        </div>

                        <div class="row" v-show="showproprietario.TFJ == 'F'">
                            <div class="form-group form-custom">
                                <label for="nacionalidade" class="control-label col-md-1 label-custom">Nacionalidade</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" name="NACIONALIDADE"
                                           v-model="showproprietario.NACIONALIDADE">
                                </div>

                                <label for="sexo" class="control-label col-md-1 label-custom">Sexo:</label>
                                <div class="col-md-3">
                                    <select name="SEXO" class="form-control" v-model="showproprietario.SEXO">
                                        <option value="">SELECIONE</option>
                                        <option value="M">Masculino</option>
                                        <option value="F">Feminino</option>
                                    </select>
                                </div>

                                <label for="naturalidade" class="control-label col-md-1 label-custom">Naturalidade:</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" name="NATURALIDADE"
                                           v-model="showproprietario.NATURALIDADE">
                                </div>
                            </div>
                        </div>

                        <div class="row" v-show="showproprietario.TFJ == 'F'">
                            <div class="form-group form-custom">
                                <label for="im" class="control-label col-md-1 label-custom">I. Municipal</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" name="INSCMUNICIPAL"
                                           v-model="showproprietario.INSCMUNICIPAL">
                                </div>

                                <label for="registrojc" class="control-label col-md-1 label-custom">R. J. Comercial:</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" name="registrojc"
                                           v-model="showproprietario.REGISTROJC">
                                </div>

                                <label for="profissao" class="control-label col-md-1 label-custom">Nome Fantasia:</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" name="PRODISSAO"
                                           v-model="showproprietario.APELIDOFANTASIA">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group form-custom">
                                <div v-show="showproprietario.TFJ == 'F'">
                                    <label for="profissao" class="control-label col-md-1 label-custom">Profissão:</label>
                                    <div class="col-md-5">
                                        <input type="text" class="form-control" name="PRODISSAO"
                                               v-model="showproprietario.PROFISSAO">
                                    </div>
                                </div>

                                <div v-show="showproprietario.TFJ == 'J'">
                                    <label for="datanascimento" class="control-label col-md-1 label-custom">Reponsável:</label>
                                    <div class="col-md-5">
                                        <input type="text" name="DATANASCIMENTO" class="form-control"
                                               v-model="showproprietario.REPRESENTANTE">
                                    </div>
                                </div>


                                <label for="email2" class="control-label col-md-1 label-custom">Site:</label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" name="EMAIL2"
                                           v-model="showproprietario.SITE">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group form-custom">
                                <label for="email1" class="control-label col-md-1 label-custom">E-mail/Login:</label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" name="EMAIL1"
                                           v-model="showproprietario.EMAIL1">
                                </div>

                                <label for="email1" class="control-label col-md-1 label-custom">E-mail:</label>
                                <div class="col-md-5">
                                    <input type="text" class="form-control" name="EMAIL1"
                                           v-model="showproprietario.EMAIL2">
                                </div>
                            </div>
                        </div>

                        <div v-show="showproprietario.TFJ == 'F'">
                            <div class="row">
                                <div class="form-group form-custom">
                                    <label for="estadocivil" class="control-label col-md-1 label-custom">Estado Civil</label>
                                    <div class="col-md-3">
                                        <select type="text" class="form-control" name="ESTADOCIVIL"
                                                v-model="showproprietario.ESTADOCIVIL">
                                            <option value="">SELECIONE</option>
                                            <option value="Solteiro(a)">Solteiro(a)</option>
                                            <option value="Casado(a)">Casado(a)</option>
                                            <option value="Divorciado(a)">Divorciado(a)</option>
                                            <option value="Viuvo(a)">Viuvo(a)</option>
                                        </select>
                                    </div>

                                    <div v-show="showproprietario.ESTADOCIVIL === 'Casado(a)'">
                                        <label for="regimebens"
                                               class="control-label col-md-1 label-custom">Regime de bens:</label>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" name="REGIMEBENS"
                                                   v-model="showproprietario.REGIMEBENS">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div v-show="showproprietario.ESTADOCIVIL === 'Casado(a)'">
                                <div class="row">
                                    <div class="form-group form-custom">
                                        <label for="nomeconjuge" class="control-label col-md-1 label-custom">Nome:</label>
                                        <div class="col-md-7">
                                            <input type="text" class="form-control" name="CONJUGENOME"
                                                   v-model="showproprietario.CONJUGENOME">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Fim Informações Basicas-->

                <!--Telefones de contato-->
                <div class="box box-danger">
                    <div class="box-header">
                        <h4>
                            <b>Telefone</b>
                        </h4>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-responsive telefone">
                                    <thead>
                                    <tr class="form-th">
                                        <th>Tipo</th>
                                        <th>Numero</th>
                                        <th>Observação</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="col-md-2">
                                            <select type="text" class="form-control" name="TIPOTELEFONE1"
                                                    v-model="showproprietario.TIPOTELEFONE1">
                                                <option value="Residencial">Residencial</option>
                                                <option value="Comercial">Comercial</option>
                                                <option value="Celular">Celular</option>
                                                <option value="Recado">Recado</option>
                                            </select>
                                        </td>
                                        <td class="col-md-2">
                                            <input type="text" class="form-control" name="TELEFONE2"
                                                   v-model="showproprietario.TELEFONE1">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" name="RECADO"
                                                   v-model="showproprietario.RECADO">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <select type="text" class="form-control" name="TIPOTELEFONE2"
                                                    v-model="showproprietario.TIPOTELEFONE2">
                                                <option value="Residencial">Residencial</option>
                                                <option value="Comercial">Comercial</option>
                                                <option value="Celular">Celular</option>
                                                <option value="Recado">Recado</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" name="TELEFONE2"
                                                   v-model="showproprietario.TELEFONE2">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" name="RECADO2"
                                                   v-model="showproprietario.RECADO2">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <select type="text" class="form-control" name="TIPOTELEFONE3"
                                                    v-model="showproprietario.TIPOTELEFONE3">
                                                <option value="Residencial">Residencial</option>
                                                <option value="Comercial">Comercial</option>
                                                <option value="Celular">Celular</option>
                                                <option value="Recado">Recado</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" name="TELEFONE3"
                                                   v-model="showproprietario.TELEFONE3">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" name="RECADO3"
                                                   v-model="showproprietario.RECADO3">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <select type="text" class="form-control" name="TIPOTELEFONE4"
                                                    v-model="showproprietario.TIPOTELEFONE4">
                                                <option value="Residencial">Residencial</option>
                                                <option value="Comercial">Comercial</option>
                                                <option value="Celular">Celular</option>
                                                <option value="Recado">Recado</option>
                                            </select>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" name="TELEFONE4"
                                                   v-model="showproprietario.TELEFONE4">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" name="RECADO4"
                                                   v-model="showproprietario.RECADO4">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Fim Telefones-->

                <!--Endereço-->
                <div class="box box-danger">
                    <div class="box-header">
                        <h4>
                            <b>Endereço</b>
                        </h4>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group form-custom">
                                <label for="cep" class="control-label col-md-1 label-custom">CEP:</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" name="CEP"
                                           v-model="showproprietario.CEP">
                                </div>

                                <label for="uf" class="control-label col-md-1 label-custom">UF</label>
                                <div class="col-md-3">
                                    <select type="text" class="form-control" name="UF"
                                            v-model="showproprietario.UF">
                                        <option value="SP">SP</option>
                                    </select>
                                </div>

                                <label for="cidade" class="control-label col-md-1 label-custom">Cidade</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" name="CIDADE"
                                           v-model="showproprietario.CIDADE">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group form-custom">
                                <label for="bairro" class="control-label col-md-1 label-custom">Logradouro:</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" name="TIPOENDERECO"
                                           v-model="showproprietario.TIPOENDERECO">
                                </div>

                                <label for="endereco" class="control-label col-md-1 label-custom">Nome</label>
                                <div class="col-md-7">
                                    <input type="text" class="form-control" name="ENDERECO"
                                           v-model="showproprietario.ENDERECO">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group form-custom">
                                <label for="NUMERO" class="control-label col-md-1 label-custom">N°</label>
                                <div class="col-md-2">
                                    <input type="text" class="form-control" name="NUMERO"
                                           v-model="showproprietario.NUMERO">
                                </div>

                                <label for="bairro" class="control-label col-md-1 label-custom">Bairro:</label>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" name="BAIRRO"
                                           v-model="showproprietario.BAIRRO">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group form-custom">
                                <label for="complemento" class="control-label col-md-1 label-custom">Complemento</label>
                                <div class="col-md-11">
                                    <input type="text" class="form-control" name="COMPLEMENTO"
                                           v-model="showproprietario.COMPLEMENTO">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Fim Endereço-->

                <!--Imóveis-->
                <div class="box box-danger">
                    <div class="box-header">
                        <h4>
                            <b>Imóveis Atribuidos</b>
                        </h4>
                    </div>
                    <div class="box-body">
                        <div class="form-group form-custom">
                            <table class="table table-responsive">
                                <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Situação</th>
                                    <th>Locação R$</th>
                                    <th>Venda R$</th>
                                    <th>Cota %</th>
                                    <th>Endereço</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="var imovel;
                                imovel in this.imoveis">
                                    <td>
                                        <input readonly="readonly" type="text" class="form-control"
                                               name="IMOVEL_ID" v-model="imovel.CODIGO">
                                    </td>
                                    <td>
                                        <input readonly="readonly" type="text" name="STATUS"
                                               class="form-control" v-model="imovel.STATUS">
                                    </td>
                                    <td>
                                        <input type="text" readonly="readonly" v-money="money" v-model.lazy="imovel.VALORLOCACAO" class="form-control">
                                        <!--<input readonly="readonly" v-money="money" type="text" class="form-control"
                                               name="VALORLOCACAO" v-model.lazy="imovel.VALORLOCACAO">-->
                                    </td>
                                    <td>
                                        <input type="text" readonly="readonly" v-money="money" v-model.lazy="imovel.VALORVENDA" class="form-control">
                                        <!--<input readonly="readonly" v-money="money" type="text" class="form-control"
                                               name="VALORVENDA" v-model.lazy="imovel.VALORVENDA">-->
                                    </td>
                                    <td>
                                        <input readonly="readonly" type="text" class="form-control"
                                               name="PORCENTAGEM" v-model="imovel.PORCENTAGEM">
                                    </td>
                                    <td class="col-md-4">
                                        <p>{{imovel.TIPOENDERECO}} {{imovel.ENDERECO}}, {{imovel.NUMERO}}, {{imovel.BAIRRO}}, {{imovel.CIDADE}}</p>
                                    </td>
                                    <td>
                                        <a :href="'/admin/imoveis/' + imovel.ID" class="btn btn-sm btn-info">
                                            <i class="fa fa-eye"></i> Ver</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!--Repasse-->
                <div class="box box-danger">
                    <div class="box-header">
                        <h4>
                            <b>Informações de Repasse</b>
                        </h4>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group form-custom">
                                <label for="deposito" class="control-label col-md-1 label-custom">Depositar:</label>
                                <div class="col-md-3">
                                    <select name="DEPOSITO" class="form-control"
                                            v-model="showproprietario.DEPOSITO">
                                        <option value="">SELECIONE</option>
                                        <option value="Sim">Sim</option>
                                        <option value="Não">Não</option>
                                    </select>
                                </div>

                                <div v-show="showproprietario.DEPOSITO == 'Sim'">
                                    <label for="tipoconta" class="control-label col-md-1 label-custom">CC ou CP</label>
                                    <div class="col-md-3">
                                        <select name="TIPOCONTA" class="form-control"
                                                v-model="showproprietario.TIPOCONTA">
                                            <option value="CC">Conta Corrente</option>
                                            <option value="CP">Conta Poupança</option>
                                        </select>
                                    </div>

                                    <label for="codbancocorrente" class="control-label col-md-1 label-custom">Banco:</label>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" name="CODBANCOCORRENTE"
                                               v-model="showproprietario.CODBANCOCORRENTE">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div v-show="showproprietario.DEPOSITO === 'Sim'">
                            <div class="row">
                                <div class="form-group form-custom">
                                    <label for="agenciacorrente" class="control-label col-md-1 label-custom">Agencia:</label>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" name="AGENCIACORRENTE"
                                               v-model="showproprietario.AGENCIACORRENTE">
                                    </div>

                                    <label for="contacorrente" class="control-label col-md-1 label-custom">Numero:</label>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" name="CONTACORRENTE"
                                               v-model="showproprietario.CONTACORRENTE">
                                    </div>

                                    <label for="opcoes" class="control-label col-md-1 label-custom">Opções:</label>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" name="OPCOES"
                                               v-model="showproprietario.OPCOES">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group form-custom">
                                    <label for="conjunta" class="control-label col-md-1 label-custom">Conjunta:</label>
                                    <div class="col-md-3">
                                        <select name="CONJUNTA" class="form-control"
                                                v-model="showproprietario.CONJUNTA">
                                            <option value="">SELECIONE</option>
                                            <option value="Sim">Sim</option>
                                            <option value="Não">Não</option>
                                        </select>
                                    </div>

                                    <label for="cpfcnpjcorrente" class="control-label col-md-1 label-custom">CPF/CNPJ Titular:</label>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" name="CPFCNPJCORRENTE"
                                               placeholder="CPF ou CNPJ"
                                               v-model="showproprietario.CPFCNPJCORRENTE">
                                    </div>

                                    <label for="favorecidocorrente"
                                           class="control-label col-md-1 label-custom">Nome Titular:</label>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control" name="FAVORECIDOCORRENTE"
                                               v-model="showproprietario.FAVORECIDOCORRENTE">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <!--Administrativo-->
                <div class="box box-danger">
                    <div class="box-header">
                        <h4>
                            <b>Administrativo</b>
                        </h4>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group form-custom">
                                <label for="taxalocacao" class="control-label col-md-1 label-custom">% Locação</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" name="TAXALOCACAO"
                                           v-model="showproprietario.TAXALOCACAO">
                                </div>

                                <label for="taxavenda" class="control-label col-md-1 label-custom">% Venda:</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" name="TAXAVENDA"
                                           v-model="showproprietario.TAXAVENDA">
                                </div>

                                <label for="taxalocacao" class="control-label col-md-1 label-custom">Dia de Repasse:</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" name="REPASSE"
                                           v-model="showproprietario.REPASSE">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group form-custom">
                                <label for="corretor" class="control-label col-md-1 label-custom">Corretor:</label>
                                <div class="col-md-11">
                                    <select name="CORRETOR" class="form-control">
                                        <option value="1">Guilherme Sinicio</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group form-custom">
                                <label for="atualizado"
                                       class="control-label col-md-1 label-custom">Atualizado em:</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control"
                                           :value="showproprietario.updated_at | dateFormat"
                                           name="updated_at">
                                </div>

                                <label for="usuario" class="control-label col-md-1 label-custom">Usuário:</label>
                                <div class="col-md-3">
                                    <input type="text" class="form-control" name="USUARIO_ID">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>

</template>

<script>
    import moment from "moment";

    export default {
        data() {
            return {
                showproprietario: {
                    'ID': '',
                    'INATIVO': '',
                    'CE': '',
                    'TFJ': '',
                    'CONFIDENCIAL': '',
                    'NOMERAZAO': '',
                    'CODIGO': '',
                    'APELIDOFANTASIA': '',
                    'CPFCNPJ': '',
                    'RGIE': '',
                    'INSCMUNICIPAL': '',
                    'SEXO': '',
                    'DATANASCIMENTO': '',
                    'NATURALIDADE': '',
                    'NACIONALIDADE': '',
                    'PROFISSAO': '',
                    'ESTADOCIVIL': '',
                    'REGISTROJC': '',
                    'DATAJC': '',
                    'CONJUNTA': '',
                    'OPCOES': '',
                    'DATAFUNDACAO': '',
                    'DEPOSITO': '',
                    'TIPOCONTA': '',
                    'AGENCIACORRENTE': '',
                    'CONTACORRENTE': '',
                    'CODBANCOCORRENTE': '',
                    'BANCOCORRENTE': '',
                    'FAVORECIDOCORRENTE': '',
                    'CPFCNPJCORRENTE': '',
                    'REGIMEBENS': '',
                    'CERTIDAOCASAMENTO': '',
                    'ENDERECO': '',
                    'NUMERO': '',
                    'COMPLEMENTO': '',
                    'BAIRRO': '',
                    'CEP': '',
                    'CIDADE': '',
                    'UF': '',
                    'TIPOTELEFONE1': '',
                    'TELEFONE1': '',
                    'TIPOTELEFONE2': '',
                    'TELEFONE2': '',
                    'TIPOTELEFONE3': '',
                    'TELEFONE3': '',
                    'TIPOTELEFONE4': '',
                    'TELEFONE4': '',
                    'SITE': '',
                    'EMAIL1': '',
                    'EMAIL2': '',
                    'RECADO': '',
                    'RECADO2': '',
                    'RECADO3': '',
                    'TAXALOCACAO': '',
                    'TAXAVENDA': '',
                    'TAXA1ALUGUEL': '',
                    'REPASSE': '',
                    'CONJUGENOME': '',
                    'CONJUGECPF': '',
                    'CONJUGERG': '',
                    'CONJUGENATURALIDADE': '',
                    'CONJUGENACIONALIDADE': '',
                    'CONJUGEPROFISSAO': '',
                    'CONJUGEDATANASC': '',
                    'OBSERVACOES': '',
                    'created_at': '',
                    'updated_at': '',
                },
                imoveis: [],

                tabsel: 'show',
            }
        },

        created() {
            this.getProprietario();
        },

        mounted() {
            $('.owner *').attr('readonly', 'readonly');

            $('#action').click(function () {
                var panel = $('.action-panel');
                //var panel_position = panel.position();
                if(panel.hasClass('active')) {
                    panel.removeClass('active');
                } else {
                    panel.addClass('active');
                }

            });

            /*$('.money').mask("R$ #.##0,00", {reverse: true});*/
        },

        filters: {
            dateFormat(date) {
                if (date !== '') {
                    return moment(date, "YYYY-MM-DD hh:mm:ss").format("DD/MM/YYYY hh:mm:ss");
                }
            },
        },

        methods: {
            getProprietario() {
                var id = location.href.split('/').pop();
                axios.get('/api/proprietarios/info/' + id).then((response) => {
                    this.tabsel = 'show';

                    this.imoveis = response.data[0].load_imovel;

                    this.showproprietario.ID = response.data[0].ID;
                    this.showproprietario.INATIVO = response.data[0].INATIVO;
                    this.showproprietario.CE = response.data[0].CE;
                    this.showproprietario.TFJ = response.data[0].TFJ;
                    this.showproprietario.CONFIDENCIAL = response.data[0].CONFIDENCIAL;
                    this.showproprietario.NOMERAZAO = response.data[0].NOMERAZAO;
                    this.showproprietario.CODIGO = response.data[0].CODIGO;
                    this.showproprietario.APELIDOFANTASIA = response.data[0].APELIDOFANTASIA;
                    this.showproprietario.CPFCNPJ = response.data[0].CPFCNPJ;
                    this.showproprietario.RGIE = response.data[0].RGIE;
                    this.showproprietario.INSCMUNICIPAL = response.data[0].INSCMUNICIPAL;
                    this.showproprietario.SEXO = response.data[0].SEXO;
                    this.showproprietario.DATANASCIMENTO = response.data[0].DATANASCIMENTO;
                    this.showproprietario.NATURALIDADE = response.data[0].NATURALIDADE;
                    this.showproprietario.NACIONALIDADE = response.data[0].NACIONALIDADE;
                    this.showproprietario.PROFISSAO = response.data[0].PROFISSAO;
                    this.showproprietario.ESTADOCIVIL = response.data[0].ESTADOCIVIL;
                    this.showproprietario.REGISTROJC = response.data[0].REGISTROJC;
                    this.showproprietario.DATAJC = response.data[0].DATAJC;
                    this.showproprietario.DATAFUNDACAO = response.data[0].DATAFUNDACAO;
                    this.showproprietario.ESTADOCIVIL = response.data[0].ESTADOCIVIL;
                    this.showproprietario.DEPOSITO = response.data[0].DEPOSITO;
                    this.showproprietario.TIPOCONTA = response.data[0].TIPOCONTA;
                    this.showproprietario.AGENCIACORRENTE = response.data[0].AGENCIACORRENTE;
                    this.showproprietario.CONTACORRENTE = response.data[0].CONTACORRENTE;
                    this.showproprietario.CODBANCOCORRENTE = response.data[0].CODBANCOCORRENTE;
                    this.showproprietario.BANCOCORRENTE = response.data[0].BANCOCORRENTE;
                    this.showproprietario.FAVORECIDOCORRENTE = response.data[0].FAVORECIDOCORRENTE;
                    this.showproprietario.CPFCNPJCORRENTE = response.data[0].CPFCNPJCORRENTE;
                    this.showproprietario.REGIMEBENS = response.data[0].REGIMEBENS;
                    this.showproprietario.CERTIDAOCASAMENTO = response.data[0].CERTIDAOCASAMENTO;
                    this.showproprietario.TIPOENDERECO = response.data[0].TIPOENDERECO;
                    this.showproprietario.ENDERECO = response.data[0].ENDERECO;
                    this.showproprietario.NUMERO = response.data[0].NUMERO;
                    this.showproprietario.COMPLEMENTO = response.data[0].COMPLEMENTO;
                    this.showproprietario.BAIRRO = response.data[0].BAIRRO;
                    this.showproprietario.CEP = response.data[0].CEP;
                    this.showproprietario.CIDADE = response.data[0].CIDADE;
                    this.showproprietario.UF = response.data[0].UF;
                    this.showproprietario.TIPOTELEFONE1 = response.data[0].TIPOTELEFONE1;
                    this.showproprietario.TELEFONE1 = response.data[0].TELEFONE1;
                    this.showproprietario.TIPOTELEFONE2 = response.data[0].TIPOTELEFONE2;
                    this.showproprietario.TELEFONE2 = response.data[0].TELEFONE2;
                    this.showproprietario.TIPOTELEFONE3 = response.data[0].TIPOTELEFONE3;
                    this.showproprietario.TELEFONE3 = response.data[0].TELEFONE3;
                    this.showproprietario.TIPOTELEFONE4 = response.data[0].TIPOTELEFONE4;
                    this.showproprietario.TELEFONE4 = response.data[0].TELEFONE4;
                    this.showproprietario.EMAIL1 = response.data[0].EMAIL1;
                    this.showproprietario.EMAIL2 = response.data[0].EMAIL2;
                    this.showproprietario.SITE = response.data[0].SITE;
                    this.showproprietario.RECADO = response.data[0].RECADO;
                    this.showproprietario.RECADO2 = response.data[0].RECADO2;
                    this.showproprietario.RECADO3 = response.data[0].RECADO3;
                    this.showproprietario.RECADO4 = response.data[0].RECADO4;
                    this.showproprietario.TAXALOCACAO = response.data[0].TAXALOCACAO;
                    this.showproprietario.TAXAVENDA = response.data[0].TAXAVENDA;
                    this.showproprietario.TAXA1ALUGUEL = response.data[0].TAXA1ALUGUEL;
                    this.showproprietario.REPASSE = response.data[0].REPASSE;
                    this.showproprietario.CONJUGENOME = response.data[0].CONJUGENOME;
                    this.showproprietario.CONJUGECPF = response.data[0].CONJUGECPF;
                    this.showproprietario.CONJUGERG = response.data[0].CONJUGERG;
                    this.showproprietario.CONJUGENATURALIDADE = response.data[0].CONJUGENATURALIDADE;
                    this.showproprietario.CONJUGENACIONALIDADE = response.data[0].CONJUGENACIONALIDADE;
                    this.showproprietario.CONJUGEPROFISSAO = response.data[0].CONJUGEPROFISSAO;
                    this.showproprietario.CONJUGEDATANASC = response.data[0].CONJUGEDATANASC;
                    this.showproprietario.CONJUNTA = response.data[0].CONJUNTA;
                    this.showproprietario.OPCOES = response.data[0].OPCOES;
                    this.showproprietario.created_at = response.data[0].created_at;
                    this.showproprietario.updated_at = response.data[0].updated_at;
                });

            },

            openActionPanel() {
                $(function () {
                    $('#actions').panel('open');
                });
            },

            closeWindow() {
                if(history.length === 1) {
                    window.close();
                } else {
                    document.getElementById("fechar").href = "/admin/proprietarios/";
                }
            }

        }
    }
</script>