<template>
    <div class="box box-danger">
        <div class="box-header">
            <h4>Cadastro de categorias</h4>
            <div class="box-tools pull-right">
                <a href="#" id="formadd" @click.prevent="formAdd = true" class="btn btn-link"><i class="fa fa-plus"></i> Nova Categoria</a>
            </div>
        </div>
        <div class="box-body">
            <div class="box box-danger" v-show="formAdd == true">
                <div class="box-header">
                    <h4>Nova Categoria</h4>
                    <div class="box-tools">
                        <a href="#" title="Fechar" @click.prevent="formAdd = false" class="btn btn-link"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="box-body">
                    <form action="" class="form-horizontal" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="categoria" class="col-md-1 control-label">Categoria</label>
                            <div class="col-md-3">
                                <input type="text" name="categoria" v-model="newCategoria.TIPO" class="form-control">
                            </div>
                            <label for="categoria" class="col-md-1 control-label">Sub-categoria</label>
                            <div class="col-md-3">
                                <input type="text" name="categoria" v-model="newCategoria.SUBTIPO" class="form-control">
                            </div>
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-link"><i class="fa fa-check"></i> Salvar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="box box-danger" v-show="formEdit == true">
                <div class="box-header">
                    <h4>Editar Categoria</h4>
                </div>
                <div class="box-body">
                    <form action="" class="form-horizontal" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="categoria" class="col-md-1 control-label">Categoria</label>
                            <div class="col-md-3">
                                <input type="text" name="categoria" v-model="editCategoria.TIPO" class="form-control">
                            </div>
                            <label for="categoria" class="col-md-1 control-label">Sub-categoria</label>
                            <div class="col-md-3">
                                <input type="text" name="categoria" v-model="editCategoria.SUBTIPO" class="form-control">
                            </div>
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-link"><i class="fa fa-check"></i> Salvar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <vue-good-table
                    :columns="columns"
                    :rows="categorias"
                    :paginate="true"
                    :perPage="50"
                    nextText="Próximo"
                    prevText="Anterior"
                    rowsPerPageText="Registros"
                    responsive="true"
                    ofText="de">
                <template slot="table-row" slot-scope="props">
                    <td>{{ props.row.ID }}</td>
                    <td>{{ props.row.TIPO }}</td>
                    <td>{{ props.row.SUBTIPO }}</td>
                    <td>
                        <a class="btn btn-link"
                           :href="'/api/categorias/'+ props.row.ID">
                            <i class="fa fa-eye"></i>
                        </a>

                        <a class="btn btn-link"
                           :href="'/api/categorias/'+ props.row.ID">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                </template>
            </vue-good-table>
        </div>
    </div>
</template>

<script>

    export default {
        data() {
            return {
                categorias: {},
                newCategoria: {'TIPO':'','SUBTIPO':''},
                editCategoria: {'TIPO':'','SUBTIPO':'', 'ID':''},
                columns: [
                    {
                        label: 'Código',
                        field: 'CODIGO',
                        placeholder: 'Código',
                        width: '100px',
                        type: 'number',
                        filterable: true,
                    },
                    {
                        label: 'Categoria',
                        field: 'TIPO',
                        placeholder: 'Categoria',
                        filterable: true,
                    },
                    {
                        label: 'Log',
                        field: 'SUBTIPO',
                        filterable: true,
                        placeholder: 'Sub-categoria'
                    },
                    {
                        label: 'Ações'
                    }
                ],
                formAdd: false,
                formEdit: false
            }
        },
        created() {
            this.getCategorias();
        },
        methods: {

            getCategorias() {
                axios.get('/api/categorias').then(response => {
                    console.log(response);
                    this.categorias = response.data;
                });
            },

            addCategoria() {
                var input = this.newCategoria;
                axios.post('/api/categorias', input).then((response) => {
                   this.newCategoria = {'TIPO':'','SUBTIPO':''};
                    //toastr.success("Salvar", "Salvo com sucesso.");
                });
            },
            editCategoria(categoria) {
                this.fillCategoria.TIPO = categoria.TIPO;
                this.fillCategoria.SUBTIPO = categoria.SUBTIPO;
                this.fillCategoria.ID = categoria.ID;
            },
            updateCategoria() {
                var input = this.fillCategoria;
                axios.put('/api/categorias/'+input.ID, input).then(response => {
                   this.fillCategoria = {'TIPO':'','SUBTIPO':'','ID':''};
                   //toastr.success(response.data.message, 'Atualizar');
                });
            },
            destroyCategoria(categoria) {
                  axios.delete('/admin/imoveis/subtipos/'+categoria.ID).then(response => {
                     //toastr.error('Excluido com sucesso!', 'Excluir');
                      this.navigate(this.pagination.current_page);
                  });
            },
        }
    }
</script>