<template>
    <div class="row">
        <div class="x_panel">
            <div class="x_content">
                <div role="tabpanel" data-example-id="toggable-tabs">
                    <ul id="tabusuarios" class="nav nav-tabs bar_tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#usuarios-list" id="usuarios-tab" role="tab" data-toggle="tab"
                               aria-expanded="false">Listar Usuários</a>
                        </li>
                        <li role="presentation" class="">
                            <a href="#usuarios-add" id="usuarios-add-tab" data-toggle="tab" aria-expanded="true">Adicionar Usuário</a>
                        </li>
                    </ul>

                    <div id="usuarios-content" class="tab-content">
                        <div role="tabpanel" class="tab-pane fade active in" id="usuarios-list"
                             aria-labelledby="usuarios-tab">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-stripped jambo_table bulk_action">
                                        <thead>
                                        <tr class="headings">
                                            <th class="column-title">ID</th>
                                            <th class="column-title">Nome</th>
                                            <th class="column-title">E-mail</th>
                                            <th class="column-title">Ações</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="usuario in usuarios">
                                            <td>{{ usuario.id }}</td>
                                            <td>{{ usuario.name }}</td>
                                            <td>{{ usuario.email }}</td>
                                            <td>
                                                <button class="btn btn-warning"
                                                        @click.prevent="editusuario(usuario)">
                                                    <i class="fa fa-edit"></i> <span>Editar</span>
                                                </button>
                                                <button class="btn btn-danger"
                                                        @click.prevent="destroyusuario(usuario)">
                                                    <i class="fa fa-trash"></i> <span>Excluir</span>
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <div class="text-center" v-show="pagination.last_page != ''">
                                        <paginas :source="pagination" @navigate="navigate"></paginas>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div role="tabpanel" class="tab-pane fade" id="usuarios-add" aria-labelledby="usuarios-add-tab">
                            <div class="row">
                                <form method="post" enctype="multipart/form-data" v-on:submit.prevent="createusuario"
                                      class="form-horizontal form-label-left">
                                    <div class="row">
                                        <div class="form-group">
                                            <label for="nome" class="control-label col-md-2">Nome:</label>
                                            <div class="col-md-2">
                                                <input type="text" class="form-control" name="name"
                                                       v-model="newusuario.name">
                                            </div>

                                            <label for="email" class="control-label col-md-1">E-mail:</label>
                                            <div class="col-md-2">
                                                <input type="text" class="form-control" name="email"
                                                       v-model="newusuario.email">
                                            </div>

                                            <label for="senha" class="control-label col-md-1">Senha:</label>
                                            <div class="col-md-2">
                                                <input type="password" class="form-control" name="password"
                                                       v-model="newusuario.password">
                                            </div>

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group">
                                            <label for="telefone" class="control-label col-md-2">Telefone:</label>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control" name="TELEFONE"
                                                       v-model="newusuario.TELEFONE">
                                            </div>


                                            <label for="inativo" class="control-label col-md-2">Inativo:</label>
                                            <div class="col-md-3">
                                                <select name="INATIVO" class="form-control"
                                                        v-model="newusuario.INATIVO">
                                                    <option value="">SELECIONE</option>
                                                    <option value="Sim">Sim</option>
                                                    <option value="Não">Não</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="form-group">
                                            <label for="administrator" class="control-label col-md-2">Administrador:</label>
                                            <div class="col-md-2">
                                                <select name="ADMINISTRADOR" class="form-control"
                                                        v-model="newusuario.ADMINISTRADOR">
                                                    <option value="">SELECIONE</option>
                                                    <option value="Sim">Sim</option>
                                                    <option value="Não">Não</option>
                                                </select>
                                            </div>

                                            <label for="administratorliberafuncao" class="control-label col-md-1">Libera Funções:</label>
                                            <div class="col-md-2">
                                                <select name="ADMINISTRADORLIBERARFUNCAO" class="form-control"
                                                        v-model="newusuario.ADMINISTRADORLIBERARFUNCAO">
                                                    <option value="">SELECIONE</option>
                                                    <option value="Sim">Sim</option>
                                                    <option value="Não">Não</option>
                                                </select>
                                            </div>

                                            <label for="relatoriocriaralterar" class="control-label col-md-1">Gerar Relatórios:</label>
                                            <div class="col-md-2">
                                                <select name="RELATORIOCRIARALTERAR" class="form-control"
                                                        v-model="newusuario.RELATORIOCRIARALTERAR">
                                                    <option value="">SELECIONE</option>
                                                    <option value="Sim">Sim</option>
                                                    <option value="Não">Não</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-9 col-md-offset-2">
                                            <button class="btn btn-success" type="submit">Salvar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!--Modal para editar usuarios-->
            <div class="modal fade bs-example-modal-lg" id="edit-item" tabindex="-1" role="dialog"
                 aria-labelledby="modalusuarios">
                <div class="modal-dialog modal-xg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">X</span>
                            </button>
                            <h4 class="modal-title" id="modalusuarios"><i class="fa fa-edit"></i>
                                <span>Editar Usuário - {{ fillusuario.NOME }}</span></h4>
                        </div>
                        <div class="modal-body">
                            <form method="post" enctype="multipart/form-data" v-on:submit.prevent="updateusuario"
                                  class="form-horizontal form-label-left">

                                <div class="row">
                                    <div class="form-group">
                                        <label for="nome" class="control-label col-md-2">Nome:</label>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control" name="name"
                                                   v-model="fillusuario.name">
                                        </div>

                                        <label for="email" class="control-label col-md-1">E-mail:</label>
                                        <div class="col-md-2">
                                            <input type="text" class="form-control" name="email"
                                                   v-model="fillusuario.email">
                                        </div>

                                        <label for="senha" class="control-label col-md-1">Senha:</label>
                                        <div class="col-md-2">
                                            <input type="password" class="form-control" name="password"
                                                   v-model="fillusuario.password">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group">
                                        <label for="telefone" class="control-label col-md-2">Telefone:</label>
                                        <div class="col-md-3">
                                            <input type="text" class="form-control" name="TELEFONE"
                                                   v-model="fillusuario.TELEFONE">
                                        </div>

                                        <label for="inativo" class="control-label col-md-1">Inativo:</label>
                                        <div class="col-md-3">
                                            <select name="INATIVO" class="form-control"
                                                    v-model="fillusuario.INATIVO">
                                                <option value="">SELECIONE</option>
                                                <option value="Sim">Sim</option>
                                                <option value="Não">Não</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group">
                                        <label for="administrator" class="control-label col-md-2">Administrador:</label>
                                        <div class="col-md-2">
                                            <select name="ADMINISTRADOR" class="form-control"
                                                    v-model="fillusuario.ADMINISTRADOR">
                                                <option value="">SELECIONE</option>
                                                <option value="Sim">Sim</option>
                                                <option value="Não">Não</option>
                                            </select>
                                        </div>

                                        <label for="administratorliberafuncao" class="control-label col-md-1">Libera Funções:</label>
                                        <div class="col-md-2">
                                            <select name="ADMINISTRADORLIBERARFUNCAO" class="form-control"
                                                    v-model="fillusuario.ADMINISTRADORLIBERARFUNCAO">
                                                <option value="">SELECIONE</option>
                                                <option value="Sim">Sim</option>
                                                <option value="Não">Não</option>
                                            </select>
                                        </div>

                                        <label for="relatoriocriaralterar" class="control-label col-md-1">Gerar Relatórios:</label>
                                        <div class="col-md-2">
                                            <select name="RELATORIOCRIARALTERAR" class="form-control"
                                                    v-model="fillusuario.RELATORIOCRIARALTERAR">
                                                <option value="">SELECIONE</option>
                                                <option value="Sim">Sim</option>
                                                <option value="Não">Não</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-9 col-md-offset-2">
                                        <button class="btn btn-success" type="submit">Salvar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                usuarios: {},
                newusuario: {
                    'ADMINISTRADOR': '',
                    'ADMINISTRADORLIBERARFUNCAO': '',
                    'TELEFONE': '',
                    'RELATORIOCRIARALTERAR': '',
                    'INATIVO': '',
                    'name': '',
                    'email': '',
                    'password': '',
                },
                fillusuario: {
                    'ADMINISTRADOR': '',
                    'ADMINISTRADORLIBERARFUNCAO': '',
                    'TELEFONE': '',
                    'RELATORIOCRIARALTERAR': '',
                    'INATIVO': '',
                    'id': '',
                    'name': '',
                    'email': '',
                    'password': '',
                },
                pagination: {},
            }
        },

        created() {
            this.getusuarios();
        },

        methods: {
            navigate(page) {
                this.getusuarios(page);
            },

            getusuarios(page) {
                this.$http.get('/admin/users?page='+ page).then((response) => {
                    this.usuarios = response.data.data;
                    this.pagination = response.body;
                    console.log(response);
                });
            },

            createusuario() {
                var input = this.newusuario;

                this.$http.post('/admin/users', input).then((response) => {
                    this.newusuario = {
                        'ADMINISTRADOR': '',
                        'ADMINISTRADORLIBERARFUNCAO': '',
                        'TELEFONE': '',
                        'RELATORIOCRIARALTERAR': '',
                        'INATIVO': '',
                        'name': '',
                        'email': '',
                        'password': '',
                    };
                    //toastr.success(response.body.message);
                    this.navigate(pagination.current_page);
                });
            },

            editusuario(usuario) {
                this.fillusuario.ADMINISTRADOR = usuario.ADMINISTRADOR;
                this.fillusuario.ADMINISTRADORLIBERARFUNCAO = usuario.ADMINISTRADORLIBERARFUNCAO;
                this.fillusuario.TELEFONE = usuario.TELEFONE;
                this.fillusuario.RELATORIOCRIARALTERAR = usuario.RELATORIOCRIARALTERAR;
                this.fillusuario.INATIVO = usuario.INATIVO;
                this.fillusuario.id = usuario.id;
                this.fillusuario.name = usuario.name;
                this.fillusuario.email = usuario.email;
                this.fillusuario.password = usuario.password;

                $('#edit-item').modal('show');

            },

            updateusuario() {
                var input = this.fillusuario;

                this.$http.put('/admin/users/'+ input.id, input).then((response) => {
                    this.fillusuario = {
                        /*'ID': '',
                        'ADMINISTRADOR': '',
                        'ADMINISTRADORLIBERARFUNCAO': '',
                        'LOGIN': '',
                        'SENHA': '',
                        'NOME': '',
                        'EMAIL': '',
                        'TELEFONE': '',
                        'RELATORIOCRIARALTERAR': '',
                        'INATIVO': '',*/
                        'id': '',
                        'name': '',
                        'email': '',
                        'password': '',
                    };
                    $('#edit-item').modal('hide');
                    //toastr.success(response.body.message);
                    this.navigate(this.pagination.current_page);
                });
            },

            destroyusuario(usuario) {
                this.$http.delete('/admin/users/'+ usuario.id).then((response) => {
                    //toastr.error(response.body.message);
                    this.navigate(this.pagination.current_page);
                });
            }
        }
    }
</script>