/*Classes sobrescritas*/
.form-group {
    margin-left: 0 !important;
    margin-right: 0 !important;
}


/*Classes customizadas*/
.upload {
    text-align: center;
    padding: 20px;
    border: 2px solid #e5e5e5;
    min-height: 150px;
    color: #777;
    cursor: pointer;
    background-color: #ffffff;
    transition: background-color .2s linear;
}

.dz-message {
    margin: 2em 0;
    cursor: pointer;
}

/*Nopvas classes*/

.action-panel {
    position: fixed;
    right: -175px;
    top: 150px;
    z-index: 1020;
    background: #fff;
    padding: 15px;
    box-shadow: 0 0 2px rgba(0,0,0,0.4);
    width: 175px;
    -webkit-transition: right .2s linear;
    -moz-transition: right .2s linear;
    -ms-transition: right .2s linear;
    -o-transition: right .2s linear;
    transition: right .2s linear;
}

.action-panel.active {
    right: 0
}

.action-panel .action-collapse-btn {
    position: absolute;
    left: -30px;
    top: 10%;
    margin-top: -15px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    font-size: 18px;
    color: #333;
    background: #fff;
    border-radius: 4px 0 0 4px;
    text-align: center;
    box-shadow: -1px 0 3px -1px rgba(0,0,0, .4);
}

.action-panel .action-panel-content {
    margin: -15px;
    padding: 15px;
    background: #fff;
    position: relative;
}

.action-panel .action-list {
    padding-left: 0;
}

.action-panel .action-list li{
    list-style: none;
}

.view {
    position: relative;
    text-align: center;
    -webkit-box-shadow: 1px 1px 2px #e6e6e6;
    -moz-box-shadow: 1px 1px 2px #e6e6e6;
    box-shadow: 1px 1px 2px #e6e6e6;
}

.thumbnail {
    display: block;
    padding: 4px;
    margin-bottom: 20px;
    line-height: 1px;
    border: 1px solid #ddd;
    height: auto;
}

.thumbnail .image {
    height: 225px;
    overflow: hidden;
}

.thumbnail .caption {
    padding: 9px;
}

.caption p {
    margin-bottom: 5px;
}

#editorder {
    margin-top: 5px;
}

.form-custom {
    margin-bottom: 3px !important;
}

.label-custom {
    font-size: 13px;
}